
#search {
	display: none;
}

#block-ndla_handheld-left_menu {
  position: relative;
  overflow: hidden;
}

.block-ndla_handheld .content {
	overflow-x: hidden;
	padding: 0;
}

.block-ndla_handheld .menu-header {
  background-color: #DDD;
  overflow: hidden;
}
.block-ndla_handheld .menu-header .ndla-logo {
  display: block;
  float: left;
  width: 100px;
  margin: 10px 15px;
}

.block-ndla_handheld .menu-header .ndla-logo img {
  width: 100px;
}

.block-ndla_handheld .menu-header .topic-name {
  color: #0F0F0F;
  font-size: 16px;
  font-weight: 500;
  font-family: 'Open Sans', Arial, sans-serif;
  float: right;
  display: block;
  line-height: 37px;
  margin: 10px 0;
  margin-right: 15px;

}

.block-ndla_handheld .menu-page {
  width: 100%;
  position: absolute;
  font-size: 14px;
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 500;
  color: #0F0F0F;
}

.sidebar .block h2 {
  background: #DDD;
  color: #0F0F0F;
  display: block;
  margin: 0;
  padding: 3px 10px;
  font-size: 14px;
  line-height: 1em;
  font-weight: bolder;
}

.sidebar .block a {
  color: #0F0F0F;
}


.block-ndla_handheld .menu-page.enable-transition {
  -moz-transition: 0.4s ease-out;
  -webkit-transition: 0.4s ease-out;
  -o-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
}

.block-ndla_handheld .menu-page ul {
	margin: 0;
	padding: 0;
}

.block-ndla_handheld .menu-page li {
	padding: 16px 0 16px 10px;
	display: block;
	background: #EDEDED;
	/*border-bottom: 1px solid #DDD;*/
	cursor: pointer;
  font-weight: normal;
  font-size: 14px;
  color: #999;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -moz-tap-highlight-color: rgba(0,0,0,0);
  -o-tap-highlight-color: rgba(0,0,0,0);
  tap-highlight-color: rgba(0,0,0,0);
}

.block-ndla_handheld .menu-page li i {
  font-size: 20px;
  color: #366A9A;
  margin: 0 5px 0 0;
}

.block-ndla_handheld .menu-page li a {
	text-decoration: none;
  cursor: pointer;
  color: #0F0F0F;
}

.block-ndla_handheld .menu-page li a:hover {
	text-decoration: underline;
}

.block-ndla_handheld .menu-page li .icon {
	float: right;
	padding-right: 15px;
	display: block;
	line-height: 22px;
	width: 30px;
	top: -10px;
	text-align: right;
  color: #999;
  font-weight: 700;
  font-size: 20px;
}

.block-ndla_handheld .menu-page .back {
	background: #DDD;
	text-align: center;
}

.prev-menu-page {
  -webkit-transform: translate(-100%) scale(1,1);
  -webkit-transform-origin: 0 0;
  -ms-transform: translate(-100%) scale(1,1);
  -ms-transform-origin: 0 0;
  -moz-transform: translate(-100%) scale(1,1);
  -moz-transform-origin: 0 0;
  -o-transform: translate(-100%) scale(1,1);
  -o-transform-origin: 0 0;
  transform: translate(-100%) scale(1,1);
  transform-origin: 0 0;
}
.active-menu-page {
  -webkit-transform: translate(0) scale(1,1);
  -webkit-transform-origin: 0 0;
  -moz-transform: translate(0) scale(1,1);
  -moz-transform-origin: 0 0;
  -ms-transform: translate(0) scale(1,1);
  -ms-transform-origin: 0 0;
  -o-transform: translate(0) scale(1,1);
  -o-transform-origin: 0 0;
  transform: translate(0) scale(1,1);
  transform-origin: 0 0;
}

.next-menu-page {
  -webkit-transform: translate(100%) scale(0.85,1);
  -webkit-transform-origin: 0 0;
  -moz-transform: translate(100%) scale(0.85,1);
  -moz-transform-origin: 0 0;
  -o-transform: translate(100%) scale(0.85,1);
  -o-transform-origin: 0 0;
  -ms-transform: translate(100%) scale(0.85,1);
  -ms-transform-origin: 0 0;
   transform: translate(100%) scale(0.85,1);
  transform-origin: 0 0;
}

.h-title .title.img.logo {
  width: 84px;
}

#top-bla-menu a.bla-next, .articlewrap1 a.next .arrow {
  background-position: 0 -15px;
}
#top-bla-menu a:hover, .articlewrap1 a.prev:hover .arrow {
  background-position: 0 -30px;
}
#top-bla-menu a.bla-next:hover, .articlewrap1 a.next:hover .arrow {
  background-position: 0 -45px;
}
#top-bla-menu {
  float: right;
  margin: 4px 0;
}
#top-bla-menu span {
  color: #4d4d4d;
}
#top-bla-menu a, .articlewrap1 a .arrow {
  vertical-align: bottom;
  display: inline-block;
  width: 10px;
  margin: 0 15px;
  height: 15px;
  background: url("../img/bla-arrows.png");
}
#top-bla-menu a.bla-next {
  margin-right: 0;
}
.articlewrap1 a {
  vertical-align: middle;
  display: table-cell;
  text-align: left;
  white-space: nowrap;
  width: 260px;
}
.articleNav .articlewrap1 a span {
  display: inline-block;
  vertical-align: middle;
}
.articlewrap1 a.next {
  text-align: right;
}
.articlewrap1 a .arrow {
  margin: 0 10px;
}
.articlewrap1 a .text {
  max-width: 195px;
  white-space: normal;
}
.articlewrap1 a:hover .text {
  text-decoration: underline;
  cursor: pointer;
}
.mmenu-nav-traverse-inactive {
  display: table-cell;
  vertical-align: middle;
}
#top-bla-menu a.bla-next, .articlewrap1 a.next .arrow {
  background-position: 0 -15px;
}
#top-bla-menu a:hover, .articlewrap1 a.prev:hover .arrow {
  background-position: 0 -30px;
}
#top-bla-menu a.bla-next:hover, .articlewrap1 a.next:hover .arrow {
  background-position: 0 -45px;
}
.menu-pager {
  text-align: center;
  font-family: 'Open Sans', Arial, sans-serif;
  margin: 20px 0;
}

.menu-pager .prev {
  float: left;
  color: black;
  text-decoration: none;
  margin-left: 10%;
}

.menu-pager .next {
  float: right;
  color: black;
  text-decoration: none;
  margin-right: 10%;
}
