/* Edit form */

#ndla-menu-item-form {
  display: none;
  position: relative;
  z-index: 300;
}

.ndla-menu-terms {
  -moz-column-count: 3;
  -webkit-column-count: 3;
  column-count: 3; 
}

.item-controls {
  margin: 0;
  padding: 0;
  list-style: none;
}

.item-controls li {
  float: left;
  margin-right: 10px;
}

.item-controls a {
  border: 1px #bdbdbd solid;
  display: block;
  color: #4d4d4d;
  padding: 4px;
  margin-bottom: 4px;
  background: #C2C2C2 url(../../../themes/ndla2010/img/vertical-backgrounds.png) repeat-x 0px -263px;
  border-radius: 4px;
  font-size: 13px;
  padding: 4px 6px;
  width: 100px;
}

.item-controls a:hover {
  background-position: 0px -288px;
  text-decoration: none;
}

#ndla-menu-edit.reorder .save-item:hover {
  background-position: 0px -263px;
}

.item-controls .icon {
  width: 10px;
  height: 10px;
  display: inline-block;
  vertical-align: bottom;
  background: url(../images/swap-icon.png) no-repeat;
  margin: 0 4px 3px 0;
}

.item-controls .save-item .icon {
  background-position: 0px -10px;
}

.item-controls .cancel-item .icon {
  background-position: 0px -20px;
}

.item-controls .remove-item .icon {
  background-position: 0px -30px;
}

/* Buttons */

#ndla-menu-edit {
  position: relative;
  margin: 5px;
}

#ndla-menu-edit.reorder {
  z-index: 212;
}

#ndla-menu-edit .controls {
  margin: 0;
  padding: 0;
  list-style: none;
}

#ndla-menu-edit .controls li {
  float: left;
  margin-right: 10px;
}

#ndla-menu-edit .controls a {
  border: 1px #bdbdbd solid;
  display: block;
  color: #4d4d4d;
  padding: 4px;
  margin-bottom: 4px;
  background: #C2C2C2 url(../../../themes/ndla2010/img/vertical-backgrounds.png) repeat-x 0px -263px;
  border-radius: 4px;
  font-size: 13px;
  padding: 4px 6px;
  width: 140px;
}

#ndla-menu-edit .controls a:hover {
  background-position: 0px -288px;
  text-decoration: none;
}

#ndla-menu-edit.reorder .new-item {
  opacity: 0.4;
  cursor: default;
}

#ndla-menu-edit.reorder .new-item:hover {
  background-position: 0px -263px;
}

#ndla-menu-edit .controls .icon {
  width: 10px;
  height: 10px;
  display: inline-block;
  vertical-align: bottom;
  background: url(../images/swap-icon.png) no-repeat;
  margin: 0 4px 3px 0;
}

#ndla-menu-edit .controls .new-item .icon {
  background-position: 0px -10px;
}

/* Tree */

#ndla-menu-edit ul, .ndla-menu-edit, .ndla-menu-edit ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#ndla-menu-edit li, .ndla-menu-edit li {
  margin: 0;
  padding: 0;
}

.ndla-menu-edit {
  padding: 4px;
  position: relative;
  clear: both;
}

.ndla-menu-edit ul {
  overflow: hidden;
}

.ndla-menu-edit .item {
  padding: 4px;
}

.ndla-menu-edit .item:hover {
  background: #eee;
}

#ndla-menu-edit.moving .item:hover {
  background: transparent;
}

.ndla-menu-edit li li > .item {
  padding-left: 19px;
  font-size: 13px;
}

.ndla-menu-edit li li li > .item {
  padding-left: 29px;
  font-size: 12px;
}

.ndla-menu-edit li li li li > .item {
  padding-left: 39px;
  font-size: 11px;
}

.ndla-menu-edit li li li li li > .item {
  padding-left: 49px;
  font-size: 10px;
}

.ndla-menu-edit .children {
  cursor: pointer;
}

#ndla-menu-edit.reorder .item, .ndla-menu-edit.place .place .item {
  cursor: move;
}

.ndla-menu-edit.place .place > .item {
  background: #bfd9db;
}

.ndla-menu-edit.place .place > .item:hover {
  background: #cfe2e3;
}

.ndla-menu-edit .children > .arrow {
  float: left;
  width: 10px;
  height: 10px;
  background: url(../../../themes/ndla2010/img/sprites.png) no-repeat 4px -21px;
  margin: 2px 0 0;
  overflow: hidden;
  text-indent: -1000px;
}

.ndla-menu-edit .children:hover > .arrow {
  background-position: 4px -35px;
}

.ndla-menu-edit .open > .children > .arrow {
  background-position: -15px -22px;
}

.ndla-menu-edit .open > .children:hover > .arrow {
  background-position: -15px -36px;
}

.ndla-menu-edit li li > .children > .arrow {
  background-position: 3px -51px;
}

.ndla-menu-edit li li > .children:hover > .arrow {
  background-position: 3px -62px;
}

.ndla-menu-edit li li.open > .children > .arrow {
  background-position: -15px -51px;
}

.ndla-menu-edit li li.open > .children:hover > .arrow {
  background-position: -15px -62px;
}

#ndla-menu-edit .edit, .ndla-menu-remove {
  float: right;
  font-size: 10px;
  margin-top: 2px;
}

#ndla-menu-edit.reorder .edit {
  opacity: 0.4;
}

#ndla-menu-edit.reorder .edit:hover {
  text-decoration: none;
  cursor: move;
}

.ndla-menu-edit .name {
  margin-left: 14px;
}

.ndla-menu-edit .moving {
  position: absolute;
  opacity: 0.6;
}

#ndla-menu-edit .translations {
  color: #00f;
  font-size: 80%;
}

.ndla-menu-edit .unpublished {
  opacity: 0.4;
}

#ndla-menu-edit-form #edit-submit {
  display: none;
}

.ndla-menu-translations {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.ndla-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.ndla-menu li {
  cursor: pointer;
  padding: 4px 12px;
}

.ndla-menu li:hover {
  background: #eee;
}

#ndla-menu-add-item-form .form-checkboxes .form-item {
  width: 200px;
  float: left;
  margin: 5px;
}

#edit-ndla-menu-add-wrapper select {
  margin-right: 5px;
}

#edit-ndla-menu-add-wrapper .form-submit {
  padding: 2px 8px;
}

#node-form .years {
  overflow: hidden;
  list-style: none;
  margin: 0;
  padding: 0;
}

#node-form .years li {
  float: left;
  width: 200px;
  margin: 5px 5px 5px 0;
}

#edit-merge-wrapper {
  float: left;
  margin-top: 0;
}

#edit-merge-submit {
  margin: 18px 0 0 10px;
}

#show-existing-menus {
  display: block;
  margin-top: 20px;
}

.node-status {
  color: #999;
  font-style: italic;
}

.menu-item-new {
  display: none; 
}

.menu-item-error {
  color: #A30000;
  background-color: #FCC;
}

/* Lightbox */

#ndla-menu-fadeout {
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #fff;
  opacity: 0.6;
  position: fixed;
  z-index: 211;
}

.ndla-menu-edit span.term-diff {
  color: red;
}

.ndla-menu-edit span.term-diff-parent {
  color: pink;
}