.ndla_menu_children {
  padding-left: 15px;
  display: none;
}

.ndla_menu_children.expanded {
  display: block;
}

.ndla_menu_arrow {
  background: url(../../../themes/ndla2010/img/sprites.png) no-repeat 4px -21px;
  float: left;
  width: 10px;
  height: 10px;
  margin: 5px 5px 0 0;
  display: block;
  cursor:pointer;
  cursor:hand;
}

.ndla_menu_arrow.expanded {
  background-position: -15px -36px;
}