/* $Id$ */
div.upload-element-row {
  border: 1px solid #e5e5e5;
  padding: 5px 5px 0;
  margin-bottom: 10px;
}

div.upload-element-preview img {
  border: 1px solid #e5e5e5;
}

div.upload-element-preview  {
  float: left;
}

div.upload-element-detail {
  margin-right: 10px;
}

div.upload-element-detail .form-item{
  margin-top: 0;
}

.upload-element-clear {
  clear: both;
  display: block;
	font-size: 0px;
	height: 1px;
	line-height: 0px;
	margin-bottom: -1px;  
}

div.upload-element-input-row {
  clear: both;
}

div.upload-element-row input.form-submit {
  margin: 0;
}
