.ndla-form-step {
  float: left;
  color: white;
  height: 50px;
  line-height: 50px;
  text-align: center;
  cursor:pointer;
  cursor:hand;
}

.ndla-form-step-text {
  float: left;
  margin-left: 10px;
  margin-right: 5px;
}

.ndla-form-step-left {
  float: left;
  width: 10px;
}

.ndla-form-step-right {
  float: left;
  width: 13px;
}

#ndla-form-step-save-now {
  cursor:auto;
}

.ndla-form-step.ndla-form-step-blue:hover,
.ndla-form-step-blue {
  cursor:auto;
  background-image:url('../img/step-blue.png');
  font-weight: bold;
  color: white;
}

.ndla-form-step.ndla-form-step-blue:hover .ndla-form-step-right,
.ndla-form-step-blue .ndla-form-step-right {
  background-image:url('../img/step-blue-right.png');
}

.ndla-form-step-gray {
  background-image:url('../img/step-gray.png');
}

.ndla-form-step-gray .ndla-form-step-left {
  background-image:url('../img/step-gray-left.png');
}

.ndla-form-step-gray .ndla-form-step-right {
  background-image:url('../img/step-gray-right.png');
}

.ndla-form-step-green {
  background-image:url('../img/step-green.png');
}

.ndla-form-step-green .ndla-form-step-left {
  background-image:url('../img/step-green-left.png');
}

.ndla-form-step-green .ndla-form-step-right {
  background-image:url('../img/step-green-right.png');
}

.ndla-form-step-pink {
  background-image:url('../img/step-pink.png');
  color: #A30000;
}

.ndla-form-step-pink .ndla-form-step-left {
  background-image:url('../img/step-pink-left.png');
}

.ndla-form-step-pink .ndla-form-step-right {
  background-image:url('../img/step-pink-right.png');
}

.ndla-form-step-orange {
  background-image:url('../img/step-orange.png');
  color: #7D4600;
}

.ndla-form-step-orange .ndla-form-step-left {
  background-image:url('../img/step-orange-left.png');
}

.ndla-form-step-orange .ndla-form-step-right {
  background-image:url('../img/step-orange-right.png');
}

#form-step-canvas {
  margin-top: 20px;
  position: relative;
  width: 1000px;
}

#form-step-display {
  overflow: hidden;
}

.form-step-container {
  display: none;
}

#form-step-0-container {
  display: block;
}

#form-step-next, #form-step-previous, #form-step-cancel {
  margin-right: 3px; 
}

.ndla-form-step-navigation-left {
  float: left;
}

.ndla-form-step-navigation-right {
  float: right;
}

.ndla-form-step-navigation-conatiner {
  float: left; 
}


.ndla-form-step:hover {
  background-image:url('../img/step-orange.png');
  color: #7D4600;
}

.ndla-form-step:hover .ndla-form-step-left {
  background-image:url('../img/step-orange-left.png');
}

.ndla-form-step:hover .ndla-form-step-right {
  background-image:url('../img/step-orange-right.png');
}