.my-favorites li {
  cursor: pointer;
  margin: 0 0 2px 0;
  padding: 2px 2px 2px 20px;
  background: url(../images/favorite-icons.png) no-repeat 0 3px;
  color: #898989;
}

.my-favorites li.marked {
  background-position: 0 -13px;
}

.my-favorites li:hover {
  color: #595959;
}