table tr.workflow-message {
  background-color: #fff;
  border-bottom: 1px solid #ccc;
}

table tr.workflow-message div {
  padding: 1em 0;
}

table tr.workflow-message td.hidden {
  display: none;
}
