table.ndla-grep-course-map {
  width: 100%;
  margin: 20px 0;
  background: #f2f2f2;
}

table.ndla-grep-course-map tbody {
  border: 0;
}

body.simplemenu-enabled table.ndla-grep-course-map td {
  font-size: 87.5%;
  font-family: Arial,sans-serif;
  padding: 5px 12px;
}

table.ndla-grep-course-map tbody i {
  cursor: pointer; 
}