.ndla-course-selector ul,
#ndla_grep_selected ul {
  list-style: none;
}

.ndla-course-selector li,
#ndla_grep_selected li {
  margin: 10px 0;
}

#main_content .ndla-course-selector i.fa {
  margin-right: 5px;
}

.ndla-course-selector label {
  display: inline;
  margin-left: 5px;
  font-weight: normal;
}

#ndla_grep_selected {
  background-color: #FAFAFA;
  border: 1px solid #999;
  margin-bottom: 20px;
}

.aim-list-item:hover {
  cursor: pointer;
  text-decoration: underline;
}

.ndla-course-selector .aim-list-item.marked {
  font-weight: bold;
  color: #20588F;
}