#show_CurriculumOntology_wrapper{
    margin: auto;
    width: 580px;
    height: 480px;
}

.ndla_CurriculumOntology_window{
    width: 700px;
    height: auto;
    padding: 20px 20px 10px 10px;
    border: solid 2px #999999;
    background-color: #ffffff;
    position: absolute;
    left: 73px;
    display: none;
    z-index: 100;
}


#show_CurriculumOntology_close_button {
    background: url(../images/glyphicons_halflings_087_remove-circle@2x.png) no-repeat top center;
    clear: both;
    cursor: pointer;
    float: right;
    height: 24px;
    margin-right: 4px;
    padding-bottom: 10px;
    width: 24px;
}

.show_CurriculumOntology_resources{
    width: 600px;
    height: 500px;
    padding: 20px 0px 10px 10px;
    border: solid 2px #999999;
    background-color: #ffffff;
    position: absolute;
    left: 73px;
    display: none;
    z-index: 100;
}

.CurriculumOntology_window_loader_en {
    background: url(../img/aim_window_loader_en.gif) no-repeat top center;
    height: 102px;
    width: 102px;
    position: relative;
    top: 35%;
    left: 42%;
}

.CurriculumOntology_window_loader_nn {
    background: url(../img/aim_window_loader_nn.gif) no-repeat top center;
    height: 102px;
    width: 102px;
    position: relative;
    top: 35%;
    left: 42%;
}

.CurriculumOntology_window_loader_nb {
    background: url(../img/aim_window_loader_nb.gif) no-repeat top center;
    height: 102px;
    width: 102px;
    position: relative;
    top: 35%;
    left: 42%;
}

.checkedTopic {
    background: url("../images/glyphicons_halflings_083_ok-sign.png") no-repeat scroll 4px center rgba(0, 0, 0, 0);
    padding-left: 20px !important;
}

.chosenTopic {
    background: url("../images/glyphicons_halflings_087_remove-circle.png") no-repeat scroll 4px center rgba(0, 0, 0, 0);
    padding-left: 20px !important;
}

.ndla-fagontologi-nodetopics {
    display: none !important;
}

#fagontologi-input-content {
    border: 1px solid #888888;
    border-radius: 2px;
    cursor: text;
    display: inline-block;
    min-height: 22px;
    height: auto;
    margin-bottom: 5px;
    padding: 4px 2px 2px;
    vertical-align: middle;
    width: 95%;
}

.fagontologi-begrep {
    background-color: #0088cc;
    border-radius: 5px;
    color: #ffffff;
    line-height: 2px;
    margin-bottom: 6px;
    margin-right: 2px;
    margin-top: 1px;
    padding: 4px 4px;
    cursor: pointer;
}

#fagontologi-hidden-wrapper {
    display: none;
}

.mainAreaLevelPopUp{
    border: thin solid #F5F6CE;
    background-color: #003333;
    color: #F5F6CE;
    display: inline-block;
    left: 210px;
    opacity: 0.7;
    padding: 10px;
    position: absolute;
    /*top: 10px;*/
    width: 250px;
    display: none;
}

.smallLevel {
    display: inline;
    font-size: x-small;
}

.courseListActive{
    display: inline-block;
    background-color: #0088cc;
    border-radius: 5px;
    color: #ffffff;
    line-height: 16px;
    margin-bottom: 6px;
    margin-right: 2px;
    margin-top: 1px;
    padding: 10px 10px;
    cursor: pointer;
    font-size: 12px;
}
.courseListInActive {
    display: inline-block;
    background-color: #ebebeb;
    border-radius: 5px;
    color: #003333;
    line-height: 16px;
    margin-bottom: 6px;
    margin-right: 2px;
    margin-top: 1px;
    padding: 10px 10px;
    cursor: pointer;
    font-size: 12px;
}