/* This file is included in div, iframe and editor. */

body div.h5p-semi-fullscreen,
body div.h5p-iframe-wrapper.h5p-semi-fullscreen {
  z-index: 10100;
}
body .ndla-h5p-container iframe {
  border: none;
}

/* Dialogcards */

body .h5p-dialogcards .h5p-title,
body .h5p-dialogcards .h5p-description {
  /* Reset style for Dialogcard title and description container  */
  margin: 0 0.5em;
}

body .h5p-dialogcards .h5p-turn:before,
body .h5p-dialogcards .h5p-retry:before {
  display: none;
}

/* Custom button styling */
body .h5p-joubelui-button,
body .h5p-course-presentation .h5p-show-solutions,
body .h5p-course-presentation .h5p-eta-export,
body .h5p-dialogcards .h5p-button,
body .h5p-flashcards .h5p-button,
body .h5p-multichoice .h5p-show-solution-container .h5p-show-solution,
body .h5p-blanks button.h5p-button,
body .h5p-dragquestion .h5p-button,
body .h5peditor-dragquestion .h5p-button,
body .boardgame .button,
body .boardgame .qs-footer .button,
body .boardgame .questionset-results .button,
body .boardgame .button.skip {
  border-radius: 0;
  border: none;
  box-shadow: none;
  color: #fff;
  background: rgba(38,102,166,1);
  padding: 0.4em 1.5em;
  transition: background 0.15s ease, color 0.15s ease;
}
body .h5p-dragquestion .h5p-button,
body .h5peditor-dragquestion .h5p-button {
  background: rgba(38,102,166,0.8);
}

/* Hover */
body .h5p-joubelui-button:hover,
body .h5p-course-presentation .h5p-show-solutions:hover,
body .h5p-course-presentation .h5p-eta-export:hover,
body .h5p-dialogcards .h5p-button:hover,
body .h5p-flashcards .h5p-button:hover,
body .h5p-multichoice .h5p-show-solution-container .h5p-show-solution:hover,
body .h5p-blanks button.h5p-button:hover,
body .h5p-dragquestion .h5p-button:hover,
body .h5peditor-dragquestion .h5p-button:hover,
body .boardgame .button:hover,
body .boardgame .qs-footer .button:hover,
body .boardgame .questionset-results .button:hover,
body .boardgame .button.skip:hover {
  color: #fff;
  background: rgba(30,83,145,1);
}
body .h5p-dragquestion .h5p-button:hover,
body .h5peditor-dragquestion .h5p-button:hover {
  background: rgba(38,102,166,1);
}

/* Focus */
body .h5p-joubelui-button:focus,
body .h5p-course-presentation .h5p-show-solutions:focus,
body .h5p-course-presentation .h5p-eta-export:focus,
body .h5p-dialogcards .h5p-button:focus,
body .h5p-flashcards .h5p-button:focus,
body .h5p-multichoice .h5p-show-solution-container .h5p-show-solution:focus,
body .h5p-blanks button.h5p-button:focus,
body .h5p-dragquestion .h5p-button:focus,
body .h5peditor-dragquestion .h5p-button:focus,
body .boardgame .button:focus,
body .boardgame .qs-footer .button:focus,
body .boardgame .questionset-results .button:focus,
body .boardgame .button.skip:focus {
  color: #fff;
  background: rgba(30,83,145,1);
}
body .h5p-dragquestion .h5p-button:focus,
body .h5peditor-dragquestion .h5p-button:focus {
  background: rgba(38,102,166,1);
}

/* TODO: :active ? */

/* Disabled */
body .h5p-flashcards .h5p-button[disabled],
body .h5p-flashcards .h5p-button[disabled]:hover {
  background: #ccc;
  color: #fff;
  border: none;
}

body .h5p-dialogcards .h5p-cardholder {
  /* Reset style for Dialogcard holder container */
  border-radius: 0;
  border: 0.1em solid #ccc;
  box-shadow: none;
  background: #ededed;
}

body .h5p-dialogcards .h5p-card {
  /* Reset style for Dialogcard container */
  border-radius: 0;
  border: 0.1em solid #ccc;
  box-shadow: none;
  background: #fff;
}

/* Flashcards */

body .h5p-flashcards .h5p-input .h5p-button:before {
  display: none;
}

body .h5p-flashcards .h5p-cardholder {
  /* Reset style for card container */
  border-radius: 0;
  border: 0.1em solid #ccc;
  box-shadow: none;
  background: #ededed;
}

body .h5p-flashcards .h5p-card .h5p-clue {
  /* Reset style for clue container */
  border-radius: 0;
  border: 0.1em solid #ccc;
  box-shadow: none;
  background: #fff;
}

body .h5p-flashcards .h5p-textinput {
  /* Reset style for text input container */
  border-radius: 0.25em;
  border: 0.0625em solid #a0a0a0;
}

body .h5p-flashcards .h5p-input.h5p-correct .h5p-textinput[disabled] {
  /* Reset style for text input correct answer container */
  background-color: #d1e2ce;
  border: 0.0625em solid #afcdaa;
  color: #39692e;
  font-weight: bold;
}

body .h5p-flashcards .h5p-input.h5p-wrong .h5p-textinput[disabled] {
  /* Reset style for text input wrong answer container */
  background-color: #e6ced1;
  border: 0.0625em solid #ce9b9b;
  color: #c33f62;
  font-weight: bold;
}

body .h5p-flashcards .h5p-inner .h5p-answer .h5p-input.h5p-correct:after {
  /* Reset style for text input correct answer icon - FontAwesome */
  content: "\f00c";
  color: #39692e;
}

body .h5p-flashcards .h5p-inner .h5p-answer .h5p-input.h5p-wrong:after {
  /* Reset style for text input wrong answer icon - FontAwesome */
  content: "\f00d";
  color: #c33f62;
}

/* Question set */

body .questionset-results a.button.qs-solutionbutton:before {
  /* Remove icon on Show solution button*/
  display: none;
}

body .qs-footer .h5p-button,
body .qs-startbutton,
body .qs-finishbutton,
body .questionset-results .h5p-button,
body .video-container > .button
{
  /* Reset style for Previous, Next, Finish and Show solution buttons */
  border-radius: 0;
  border: none;
  box-shadow: none;
  color: #fff;
  background: rgb(38,102,166);
  padding: 0.4em 1.5em;
  transition: background 0.15s ease, color 0.15s ease;
}

body .qs-footer .h5p-button:hover,
body .qs-startbutton:hover,
body .qs-finishbutton:hover,
body .questionset-results .h5p-button:hover,
body .video-container > .button:hover
{
  /* Reset style for Previous, Next, Finish and Show solution buttons on hover */
  color: #fff;
  background: rgb(30,83,145);
  box-shadow: none;
}

body .h5p-container .questionset-results div.resulttext {
  /* Reset style for result text container */
  background: #FFFFF2;
  border: 1px solid #ccc;
  border-radius: 0;
  margin: 0;
  position: static;
}

body .h5p-container .questionset-results div.resulttext:before,
body .h5p-container .questionset-results .emoticon,
body .h5p-container .questionset-results .greeting {
  display: none;
}

body .progress-dot.current {
  /* Reset color for progress dots */
  background: rgba(38,102,166,1);
}

/* Course presentation */
body .h5p-course-presentation .h5p-presentation-wrapper {
  /* Reset style for slide container */
  background: #f5faff;
}

body .h5p-course-presentation .h5p-show-solutions:before,
body .h5p-course-presentation .h5p-eta-export:before
{
  /* Remove icons on Show solutions and Export text button */
  display: none;
}

body .h5p-course-presentation .h5p-box-wrapper {
  /* Reset style for slide container */
  box-shadow: none;
  background: #eee;
}

body .h5p-course-presentation .h5p-keywords-wrapper {
  /* Reset style for Keywords panel */
  background: #fbfbfb;
  box-shadow: 0 0 0.15em 0 #d1d1d1;
}

body .h5p-course-presentation .h5p-progressbar {
  /* Reset style for Progress bar default */
  background: #ededed;
}

body .h5p-course-presentation .h5p-progressbar .h5p-completed {
  /* Reset style for Progress bar completed */
  background: #2666a6;
}

body .h5p-course-presentation .h5p-slideination {
  /* Reset style for Slide navigation bar */
  border: 1px solid #d9d9d9;
  border-radius: 0;
}

body .h5p-course-presentation .h5p-slideination ol {
  /* Reset style for Slide navigation bar slide numbers */
  background: transparent;
}

body .h5p-course-presentation .h5p-slide-button.h5p-current a {
  /* Reset style for Slide navigation bar current slide number */
  background: #2666a6;
}

body .h5p-course-presentation .h5p-slideination > a {
  /* Reset style for Slide navigation bar scroll buttons */
  background: transparent;
}

body .h5p-course-presentation .h5p-slideination > .h5p-go-home {
  /* Reset style for Slide navigation bar home button */
  border-right: none;
  background: transparent;
}

body .h5p-course-presentation .h5p-slideination > a.h5p-scroll-enabled:hover,
body .h5p-course-presentation .h5p-slideination > .h5p-go-home:hover {
  /* Reset style for Slide navigation bar scroll buttons and home button on hover */
  background: transparent;
  color: #2666a6;
}

/* Multichoice */

body .h5p-multichoice .h5p-show-solution-container .h5p-show-solution,
body .h5p-multichoice .h5p-show-solution-container .h5p-multichoice-check-button {
  /* Reset style for Show solution button */
  border-radius: 0;
  background: #2666a6;
  box-shadow: none;
  border: 0.2em solid #2666a6;
  transition: background 0.15s ease, color 0.15s ease;
}
body .h5p-multichoice .h5p-show-solution-container .h5p-show-solution:hover,
body .h5p-multichoice .h5p-show-solution-container .h5p-multichoice-check-button:hover {
  /* Reset style for Show solution button on hover*/
  background: rgb(30,83,145);
  box-shadow: none;
}
body .h5p-multichoice .h5p-show-solution-container .h5p-multichoice-check-button:before {
  display: none;
}

body .h5p-multichoice label {
  /* Reset style for Multichoice answering alternatives default */
  /*text-align: left;
  cursor: pointer;
  display: block;
  padding: 0.25em 0.75em 0.25em 0.1em;
  border-radius: 0.3em;
  border: 0.1em solid #dcdcdc;
  font-weight: normal;
  background: -moz-linear-gradient(top, rgba(237,237,237,0.9) 0%, rgba(237,237,237,0.9) 1%, rgba(223,223,223,0.9) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(237,237,237,0.9)), color-stop(1%,rgba(237,237,237,0.9)), color-stop(100%,rgba(223,223,223,0.9)));
  background: -webkit-linear-gradient(top, rgba(237,237,237,0.9) 0%,rgba(237,237,237,0.9) 1%,rgba(223,223,223,0.9) 100%);
  background: -o-linear-gradient(top, rgba(237,237,237,0.9) 0%,rgba(237,237,237,0.9) 1%,rgba(223,223,223,0.9) 100%);
  background: -ms-linear-gradient(top, rgba(237,237,237,0.9) 0%,rgba(237,237,237,0.9) 1%,rgba(223,223,223,0.9) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6ededed', endColorstr='#e6dfdfdf',GradientType=0 );*/
}

body .h5p-multichoice label:hover {
  /* Reset style for Multichoice, unselected answering alternatives on hover */
  /*filter: none;
  border: 0.1em solid #ddcae0;
  background: rgb(238,228,239);
  background: -moz-linear-gradient(top, rgba(238,228,239,1) 0%, rgba(231,221,232,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(238,228,239,1)), color-stop(100%,rgba(231,221,232,1)));
  background: -webkit-linear-gradient(top, rgba(238,228,239,1) 0%,rgba(231,221,232,1) 100%);
  background: -o-linear-gradient(top, rgba(238,228,239,1) 0%,rgba(231,221,232,1) 100%);
  background: -ms-linear-gradient(top, rgba(238,228,239,1) 0%,rgba(231,221,232,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eee4ef', endColorstr='#e7dde8',GradientType=0 );*/
}

body .h5p-multichoice .h5p-selected > label {
  /* Reset style for Multichoice, selected answering alternatives */
  /*filter: none;
  border: 0.1em solid #cad8e0;
  color: #235e7c;
  font-weight: bold;
  background: #e3eaee;*/
}

body .h5p-multichoice .h5p-correct > label {
  /* Reset style for Multichoice correct, unselected answering alternatives */
  /*border: 0.1em solid #afcdaa;
  color: #39692e;
  background: rgb(209,226,206);
  background: -moz-linear-gradient(top, rgba(209,226,206,1) 0%, rgba(176,207,170,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(209,226,206,1)), color-stop(100%,rgba(176,207,170,1)));
  background: -webkit-linear-gradient(top, rgba(209,226,206,1) 0%,rgba(176,207,170,1) 100%);
  background: -o-linear-gradient(top, rgba(209,226,206,1) 0%,rgba(176,207,170,1) 100%);
  background: -ms-linear-gradient(top, rgba(209,226,206,1) 0%,rgba(176,207,170,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d1e2ce', endColorstr='#b0cfaa',GradientType=0 );*/
}

body .h5p-multichoice .h5p-wrong > label {
  /* Reset style for Multichoice wrong, unselected answering alternatives */
  /*color: #c33f62;*/
}

body .h5p-multichoice .h5p-selected.h5p-correct > label {
  /* Reset style for Multichoice correct, selected answering alternatives */
  /*border: 0.1em solid #afcdaa;
  color: #39692e;
  zoom: 1;
  background: #d1e2ce;*/
}

body .h5p-multichoice .h5p-selected.h5p-wrong > label {
  /* Reset style for Multichoice wrong, selected answering alternatives */
  /*border: 0.1em solid #ce9b9b;
  zoom: 1;
  background: #e6ced1;*/
}

body .h5p-multichoice .h5p-show-solution-container a.h5p-show-solution:before {
  /* Remove icon on Show solution button  */
  display: none;
}

body .h5p-multichoice.h5p-check .h5p-answer .h5p-input-container {
  border: 1px solid #494949;
  width: 1em;
  height: 1em;
  margin-left: 0.5em;
  margin-top: 0.2em;
  overflow: hidden;
}

body .h5p-multichoice.h5p-check .h5p-answer .h5p-input-container a {
  visibility: hidden;
}

body .h5p-multichoice.h5p-check .h5p-answer.h5p-selected .h5p-input-container a {
  visibility: visible;
  background: #666;
  color: #666;
  overflow: hidden;
  border: 0.2em solid white;
  box-sizing: border-box;
}

.h5p-multichoice.h5p-check .h5p-answer.h5p-should:after,
.h5p-multichoice.h5p-check .h5p-answer.h5p-should-not:after {
  content: " ";
}

body .h5p-multichoice.h5p-check .h5p-answer.h5p-should:after,
body .h5p-multichoice.h5p-check .h5p-answer.h5p-should-not:after {
  font-family: icomoon-multichoice;
  position: absolute;
  right: 0.75em;
  line-height: 1000;
  top: 0.5em;
  border: 0.2em solid white;
  color: white;
  background: white;
  outline: 1px solid #494949;
  padding: 0.2em;
  box-sizing: border-box;
  width: 1em;
  height: 1em;
}

body .h5p-multichoice.h5p-check .h5p-answer.h5p-should:after {
  background: #51943B;
}

/* Fill in the blanks */

body .h5p-blanks button.h5p-button:before {
  /* Remove icons on Blanks buttons */
  display: none;
}

body .h5p-blanks .h5p-text-input {
  /* Reset style for Blanks input text fields */
  border-radius: 0.25em;
  border: 0.1em solid #a0a0a0;
}

/* Drag question */

body .h5p-dragquestion .h5p-button:before,
body .h5peditor-dragquestion .h5p-button:before {
  /* Remove icon on Show solution and Retry buttons */
  display: none;
}

/* Reset style for Dropzone - colors are set in JavaScript and cannot be overridden in css */
body .h5p-dragquestion .h5p-dropzone.h5p-has-label > .h5p-inner,
body .h5peditor-dragquestion .h5p-dropzone.h5p-has-label > .h5p-inner,
/* Reset style for Dropzone label - colors are set in JavaScript and cannot be overridden in css */
body .h5p-dragquestion .h5p-label,
body .h5peditor-dragquestion .h5p-label {
  border-radius: 0em;
}

body .h5p-dragquestion .h5p-draggable,
body .h5peditor-dragquestion .h5p-draggable {
  /* Reset style for Draggable  - colors and shadows are set in JavaScript and cannot be overridden in css */
  border-radius: 0em;
  padding: 0.15em 0.15em;
}

body .h5p-dragquestion .h5p-dropzone > .h5p-inner,
body .h5peditor-dragquestion .h5p-dropzone > .h5p-inner {
  border-radius: 0em;
}

body .h5p-dragquestion .h5p-dropped.h5p-wrong,
body .h5p-dragquestion .h5p-dropped.h5p-correct {
  padding-top: 0.25em;
  padding-bottom: 0.25em;
}

/* Summary */

body .summary-score {
  /* Reset style for Summary score container */
  -webkit-border-radius: 0.3em;
  border-radius: 0.3em;
  background: #e6ced1;
}
body .summary-score:before {
  /* Reset style for Summary score container icon - FontAwesome  */
  content: "\f00d";
  color: #c33f62;
}

body .summary-progress {
  /* Reset style for Summary progress container*/
  -webkit-border-radius: 0.3em;
  border-radius: 0.3em;
  background: #d1e2ce;
}

body .summary-progress:before {
  /* Reset style for Summary progress container icon - FontAwesome */
  content: "\f00c";
  color: #39692e;
}

body .summary-container {
  background-color: #ffffff;
  box-shadow: none;
  border-radius: 0;
  border: none;
}

body .summary-content li {
  /* Reset style for statement alternative containers */
  -webkit-border-radius: 0.3em;
  border-radius: 0.3em;
}

body .summary-container li:before {
  /* Reset style for statement alternative correct icon - FontAwesome */
  content: "\f00c";
  color: #39692e;
}

body li.summary-failed:before {
  /* Reset style for statement alternative failed icon - FontAwesome */
  content: "\f00d";
  color: #c33f62;
}

/* Boardgame */

body .qs-footer a.finish.button:before {
  display: none;
}

body .bgi-content > h1 {
  /* Reset style for game title container */
  color: #fff;
  background: #2666a6;
  text-shadow: none;
  box-shadow: none;
}

/* Only when in div */
body .h5p-blanks .joubel-tip-container {
  top: -0.25em;
}

/* Buttons */
body .h5p-word .h5p-button,
body .h5p-sc-set-wrapper .h5p-button,
body .h5p-multichoice .h5p-show-solution-container .h5p-try-again,
body .h5p-drag button.h5p-drag-button,
body .h5p-course-presentation .h5p-cp-retry-button {
  border-radius: 0;
  border: none;
  box-shadow: none;
  color: #fff;
  background: rgb(38,102,166);
  padding: 0.4em 1.5em;
  transition: background 0.15s ease, color 0.15s ease;
}

body .h5p-word .h5p-button:hover,
body .h5p-sc-set-wrapper .h5p-button:hover,
body .h5p-multichoice .h5p-show-solution-container .h5p-try-again:hover,
body .h5p-drag button.h5p-drag-button:hover,
body .h5p-course-presentation .h5p-cp-retry-button:hover {
  color: #fff;
  background: rgb(30,83,145);
}

body .h5p-multichoice .h5p-show-solution-container .h5p-try-again:before,
body .h5p-drag button.h5p-drag-button:before,
body .h5p-button.qs-retrybutton:before,
body .h5p-button.qs-solutionbutton:before,
body .h5p-course-presentation .h5p-cp-retry-button:before {
  display:none;
}

/* Mark the words */
body .h5p-word .h5p-word-selectable {
  border-radius: 0.2em;
}
body .h5p-word .h5p-word-evaluation-container,
body .h5p-blanks .h5p-blanks-evaluation-container,
body .h5p-drag .h5p-drag-evaluation-container,
body .summary-content .evaluation-container {
  padding: 0;
  margin-top: 0.8em;
}
body .h5p-word .h5p-word-evaluation-container .h5p-word-evaluation-score:before,
body .h5p-word .h5p-word-evaluation-container .h5p-word-evaluation-score:after,
body .h5p-word .h5p-word-evaluation-score-emoticon,
body .h5p-blanks .h5p-blanks-evaluation-container .h5p-blanks-evaluation-score:before,
body .h5p-blanks .h5p-blanks-evaluation-container .h5p-blanks-evaluation-score:after,
body .h5p-blanks .h5p-blanks-evaluation-score-emoticon,
body .h5p-drag .h5p-drag-evaluation-emoticon,
body .h5p-drag .h5p-drag-evaluation-container .h5p-drag-evaluation-score:before,
body .h5p-drag .h5p-drag-evaluation-container .h5p-drag-evaluation-score:after,
body .summary-options .h5p-evaluation-emoticon,
body .summary-options .evaluation-container .evaluation-message:before,
body .summary-options .evaluation-container .evaluation-message:after,
body .summary-options .evaluation-container .evaluation-message br {
  display: none;
}
body .h5p-word .h5p-word-evaluation-container .h5p-word-evaluation-score,
body .h5p-blanks .h5p-blanks-evaluation-container .h5p-blanks-evaluation-score,
body .h5p-drag .h5p-drag-evaluation-container .h5p-drag-evaluation-score,
body .summary-options .evaluation-container .evaluation-message {
  margin-left: 0;
  padding: 0.3em 0.5em;
  border-radius: 0;
  background: #FFFFF2;
  -webkit-filter: none;
  filter: none;
}

body .summary-content li {
  padding: 0.1em 0.4em;
}

body .h5p-drag .h5p-drag-dropzone,
body .h5p-drag .h5p-drag-draggable {
  border-radius: 0.2em;
}

/* Minimal audio */
body .h5p-audio-inner .h5p-audio-minimal-button {
  font-size: 1em; /* Makes it approx 20x20px */
}

/* Forced fullscreen mode */
.h5p-ndla-fullscreen-overlay {
  position: absolute;
  background-color: rgba(0,0,0,0.2);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  color: #333;
  cursor: pointer;
  z-index: 10;
}
.h5p-ndla-fullscreen-overlay:hover {
  color: #666;
}
.h5p-ndla-fullscreen-overlay-text {
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: .6em;
  font-size: 1.5em;
  font-weight: bold;
}
.h5p-ndla-fullscreen-overlay .h5p-ndla-fullscreen-overlay-icon {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  margin: 0 auto;
  text-align: center;
  vertical-align: baseline;
  display: inline-block;
}
.h5p-ndla-fullscreen-overlay .h5p-ndla-fullscreen-overlay-icon:after {
  font-family: 'H5P';
  content: "\e88c";
  font-size: 8em;
  background: #fff;
  border-radius: 2px;
  line-height: 1;
  box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.75);
  display: inline-block;
  height: 1.2em;
}
.h5p-fullscreen .h5p-ndla-fullscreen-overlay,
.h5p-semi-fullscreen .h5p-ndla-fullscreen-overlay {
  display: none;
}
