.ndla-ord-keyword-popup {
  display: none;
  position: absolute;
  background-color: #ffffff;
  border: 1px solid #888888;
  border-radius: 2px;
	padding: 10px;
	z-index: 100;
	color: #000000;
}

.ndla-ord-keyword-lang {
	margin-bottom: 5px;
}

.tagger-plugin-content {
	width: 95%;
}

.ndla-ord-keyword-popup label {
	display: inline;
}

.tagger-plugin-keyword.ndla-ord-hidden {
  border: 1px solid #666666;
  border-radius: 2px;
  background-color: #eeeeee;
  color: #555555;
}

.tagger-plugin-keyword.ndla-ord-error {
  border: 1px solid #666666;
  border-radius: 2px;
  background-color: #ff3333;
  color: #000000;
}

.tagger-plugin-keyword.ndla-ord-error .tagger-plugin-keyword-delete {
	-webkit-filter: brightness(0.6);
	-moz-filter: brightness(0.6);
	-o-filter: brightness(0.6);
	-ms-filter: brightness(0.6);
	filter: brightness(0.6);
}

.ndla-ord-keyword-lang-input {
	width: 95%;
}

.ndla-ord-autocomplete {
  border: 1px solid #666666;
  border-radius: 2px;
	position: absolute;
	background-color: #ffffff;
	z-index: 100;
	display: none;
	padding: 5px;
	width: 500px;
}

.ndla-ord-autocomplete table {
	width: 100%;
}

.ndla-ord-autocomplete table tbody {
	border: 0px;
}

.ndla-ord-autocomplete table thead {
	border-bottom: 2px solid #88b8ba;
}

.ndla-ord-autocomplete table {
	margin-bottom: 5px;
}

.ndla-ord-autocomplete-word {
	cursor: default;
}

.ndla-ord-autocomplete-word-hover {
	background-color: #005393;
	color: #ffffff;
}

.tagger-plugin-textfield-wrapper {
	display: inline-block;
}

.ndla-ord-keyword-hidden {
	display: none;
}

.ndla-ord-scroller {
  max-height: 185px;
  overflow: scroll;
}