@CHARSET "UTF-8";

#right-wrapper #block-ndla_ord_keywords .content ul{
	list-style: none outside none;
    padding: 0;
}


#right-wrapper #block-ndla_ord_keywords li {
    float: left;
    margin: 0 15px 6px 0;
    padding-right: 15px;
    border-right: 1px solid #d6d6d6;
    white-space: nowrap;
}

#right-wrapper #block-ndla_ord_keywords li.last {
  border-right: 0;
}

.topicfornode, .nodefortopic{
	margin-left: 24px
}

.keywordsets  .keyworditem {
	width: 300px !important;
}
