.tagger-plugin-input {
  display: none !important;
}

.tagger-plugin-content {
  border: 1px solid #888888;
  border-radius: 2px;
  display: inline-block;
  vertical-align: middle;
  padding: 0px 2px;
  margin-bottom: 5px;
  cursor: text;
}

.tagger-plugin-textfield {
  box-sizing: border-box;
  border: 0px;
  outline: 0px;
  width: 1px;
}

.tagger-plugin-keyword {
  display: inline-block;
  margin: 2px;
  padding: 0px 2px 0px 2px;
  cursor: default;
  word-break: break-all;
  border: 1px solid #888888;
  border-radius: 2px;
  background-color: #c0c0c0;
}

.tagger-plugin-keyword-wrapper {
  display: inline;
  padding: 0px;
  margin: 0px;
}

.tagger-plugin-selected {
  box-shadow: 0 0 5px #880000;
}

.tagger-plugin-keyword-delete {
  display: inline-block;
  width: 7px;
  height: 7px;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAYAAADEUlfTAAAAKUlEQVR42mNgAIKOjo7/DEgAzgcxYBgbH0UARQLZKIISOI3EaSc21wIAtXpLHK/B0EUAAAAASUVORK5CYII=');
  background-repeat: no-repeat;
  margin: 0px 2px;
  cursor: pointer;
}

.tagger-plugin-keyword-locked .tagger-plugin-keyword-delete {
  display: none;
}