
/* GENERIC */
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: georgia, serif;
  color: #4f4f4f;
}
h1, h2, h3 {
  font-weight: normal;
  text-transform: uppercase;
}
h4 {
  text-transform: uppercase;
  font-weight: normal;
  margin: 0 0 1px 0;
}
a {
  color: #4f4f4f;
  text-decoration: none;
}
img {
  border: 0;
}
ul {
  list-style: none;
}
table {
  border-collapse: collapse;
}
.hidden {
  display: none;
}
.shadow-bottom-right {
  box-shadow: 2px 2px 5px #e0d6cc;
  -moz-box-shadow: 2px 2px 5px #e0d6cc;
  -webkit-box-shadow: 2px 2px 5px #e0d6cc;
}

#wrapper {
  padding: 17px 0 0 0;
  background: url('../images/background.png');
  letter-spacing: 1px;
}

/* MESSAGES */
.messages {
  padding: 10px;
  margin: 0 0 0 20px;
  display: none;
  position: absolute;
  z-index: 1000;
  top: 0;
  right: 0;
  border: 3px solid #fff;
  background: #a62721 url('../images/term-tip-background.png') repeat-x bottom;
  color: #fff;
  font-size: 12px;
  border: 1px #fff solid;
  box-shadow: 0 0 15px #666;
  -moz-box-shadow: 0 0 15px #666;
  -webkit-box-shadow: 0 0 15px #666;
}
.messages.status {
  background: #00BB00;
}
.messages.warning {
  background: #FFAA10;
}
.messages.error {
  background: #BB0000;
}

/* HEADER */
#header {
  position: relative;
  z-index: 91;
  padding: 19px 0 19px 0;
  background: #fff;
  height: 31px;
  border-top: 1px #dad9d7 solid;
  border-bottom: 1px #dad9d7 solid;
  box-shadow: 0 0 10px #918070;
  -moz-box-shadow: 0 0 10px #918070;
  -webkit-box-shadow: 0 0 10px #918070;
}
#header div {
  width: 960px;
  margin: 0 auto 0 auto;
}
#header div h1 {
  font-size: 24px;
  display: inline-block;
  margin: 0 10px 0 10px;
  float: left;
}
#header div p  {
  display: inline-block;
  font-size: 12px;
  text-transform: uppercase;
  margin: 6px 10px 6px 10px;
}
#header img {
  float: right;
  margin: 3px 13px 0 0;
}
#top-block {
  float: right;
  padding: 8px 20px 5px 10px;
  text-transform: uppercase;
  font-size: 12px;
}
#top-block li {
  display: inline;
  border-right: 1px #888 solid;
  padding: 0 10px 0 8px;
  margin: 0;
}
#top-block li.last {
  border-right: none;
}
#top-block li.active a {
  border-bottom: 1px #a62721 solid;
}

/* DRAWER */
#drawer-wrapper {
  width: 940px;
  margin: 0 auto 0 auto;
}
#drawer {
  position: absolute;
  z-index: 90;
}
#drawer-inside {
  width: 930px;
  height: 0px;
  overflow: hidden;
  color: #fff;
  background: url('../images/drawer-background.png') repeat-y;
  padding: 0 5px 0 5px;
}
#drawer-inside  p {
  padding: 10px;
}
.drawer-content {
  vertical-align: top;
  text-align: center;
  display: inline-block;
  height: 210px;
  width: 300px;
  margin: 0px 0 10px 5px;
  color: #dcb86c;
  background: #30110f url('../images/drawer-content-background.png') repeat-x top;
  overflow: hidden;
  box-shadow: inset 0 0 15px #30110f;
  -moz-box-shadow: inset 0 0 15px #30110f;
  -webkit-box-shadow: inset 0 0 15px #30110f;

  /* Internet Explorer FIX */
  zoom: 1;
  *display: inline;
}
#drawer-inside .drawer-content h3 {
  display: inline-block;
  font-size: 12px;
  padding:0;
  margin: 5px 0 0 0;
  color: #dcb86c;
  border-bottom: 2px #76401d solid;

  /* Internet Explorer FIX */
  zoom: 1;
  *display: inline;
}
#drawer-inside .drawer-content p {
  color: #dcb86c;
  text-transform: uppercase;
  font-size: 12px;
}
#drawer-content {
  margin: 10px 5px 10px 5px;
  width: 920px;
}
.icon {
  height: 110px;
}
#dictionary .icon {
  background: url('../images/dictionary.png') no-repeat bottom center;
}
#measurement .icon {
  background: url('../images/measurement.png') no-repeat bottom center;
}
#commodities .icon {
  background: url('../images/commodities.png') no-repeat bottom center;
}
.drawer-menu, #drawer-content-top p {
  cursor: pointer;
}
#drawer-front {
  cursor: pointer;
  padding: 0 0 15px 0;
  background: url('../images/drawer-shadow.png') no-repeat bottom center;
}
#drawer-front h3 {
  width: 940px;
  padding: 4px 0 0 0;
  height: 18px;
  text-align: center;
  font-size: 12px;
  color: #350000;
  background: url('../images/drawer-background.png') repeat-y;
  overflow: hidden;
}
#drawer-content-top {
  text-align: left;
  text-align: center;
  background: url('../images/drawer-background.png') no-repeat bottom center;
  padding: 0px 5px 9px 5px;
  margin-top: 5px;
  position: relative;
}
#drawer-inside .drawer-content #drawer-content-top h3 {
  display: block;
  margin-top: 0;
  font-size: 16px;
  font-weight: bold;
  border: none;
  text-align:center;
}
#drawer-content-top ul {
  display: inline-block;
  text-align: center;

  /* Internet Explorer FIX */
  zoom: 1;
  *display: inline;
}
#drawer-content-top li {
  cursor: pointer;
  border-left: 1px #dcb86c solid;
  display: inline-block;
  padding: 0 5px 0 5px;
  font-size: 12px;

  /* Internet Explorer FIX */
  zoom: 1;
  *display: inline;
}
#drawer-content-top li:first-child {
  border-left: none;
}
#drawer-content-top ul li.selected span {
  border-bottom: 2px #9d5a2d solid;
}
#drawer-content-top p {
  right: 8px;
  position: absolute;
  padding: 0;
}
#drawer-content-content {
  text-align: left;
  position: relative;
}
#drawer-titles-wrapper {
  display: inline-block;
  margin: 24px 0 0 0;

  /* Internet Explorer FIX */
  zoom: 1;
  *display: inline;
}
#drawer-titles {
  overflow: hidden;
  display: inline-block;
  vertical-align: top;
  width: 200px;
  height: 136px;

  /* Internet Explorer FIX */
  zoom: 1;
  *display: inline;
}
#drawer-titles li {
  padding: 2px 14px 2px 14px;
  cursor: pointer;
  text-transform: none;
  font-size: 14px;
}
#drawer-descriptions {
  border-left: 4px #b29164 solid;
  display: inline-block;
  vertical-align: top;
  width: 716px;
  height: 160px;
  overflow: hidden;

  /* Internet Explorer FIX */
  zoom: 1;
  *display: inline;
}
#drawer-descriptions li {
  height: 134px;
  padding: 4px 0 4px 0;
  margin: 0 0 18px 0;
}
#drawer-inside .drawer-content #drawer-descriptions li div {
  height: 127px;
  overflow: hidden;
}
#drawer-inside .drawer-content #drawer-descriptions li p {
  padding: 0 14px 10px 14px;
  text-transform: none;
  font-size: 14px;
}
#drawer-inside .drawer-content #drawer-descriptions li p.small {
  max-height: 70px;
  overflow: hidden;
}
#drawer-inside .drawer-content #drawer-descriptions li h3 {
  text-transform: none;
  font-size: 14px;
  margin: 5px 14px;
}
#drawer-descriptions li a {
  text-transform: uppercase;
  color: #dcb86c;
  font-size: 14px;
  padding: 0 14px;
}
#drawer-search {
  padding:0;
  position: absolute
}
#drawer-search input {
  width: 172px;
  background: #5f3211 url('../images/q.png') no-repeat left center;
  border: none;
  color: #b19063;
  outline: 0;
  padding: 4px 4px 4px 24px;
  font-size: 14px;
  font-weight: bold;
  font-family: georgia, serif;
  box-shadow: inset 7px 7px 14px -7px #30110f;
  -moz-box-shadow: inset 7px 7px 14px -7px #30110f;
  -webkit-box-shadow: inset 7px 7px 14px -7px #30110f;
}
#converter-tip {
  margin: 20px auto 20px auto;
  text-align: center;
  font-size: 12px;
  width: 600px;
  color: #a07b24;
}
#converter {
  text-align: center;
}
#converter input {
  margin: 0 10px 0 0;
  background: #76401d;
  border: none;
  color: #dcb86c;
  font-size: 14px;
  padding: 4px;
  outline: 0;
  width: 60px;
}
#converter input:read-only {
  background: #612f0d;
}
#converter select {
  background: #76401d;
  color: #dcb86c;
  border: none;
  padding: 4px;
  font-size: 14px;
  outline: 0;
}


/* CONTENT */
#content {
  width: 960px;
  margin: 38px auto 0 auto;
}
.block {
  margin: 0 10px 0 10px;
  width: 940px;
  background: url('../images/content-shadow.png') no-repeat bottom center;
  padding: 0 0 15px 0;
}
.block h2 {
  display: inline-block;
  background: #a62721;
  font-size: 14px;
  color: #fff;
  padding: 3px 20px 3px 20px;
  margin: 0 0 0 17px;

  /* Internet Explorer FIX */
  zoom: 1;
  *display: inline;
}
.block .content {
  overflow: hidden;
  background: #fff;
  padding: 10px;
  box-shadow: 0 0 10px #918070;
  -moz-box-shadow: 0 0 10px #918070;
  -webkit-box-shadow: 0 0 10px #918070;
}

/* START PAGE */
#recipes {
  display: inline-block;
  width: 596px;
  background: url('../images/recipes-shadow.png') no-repeat bottom center;
  margin-bottom: 0;
  padding-bottom: 15px;
}
#recipes .overlay {
  cursor: pointer;
  position: absolute;
  margin: 300px 0 0 0;
  padding: 17px 30px 17px 30px;
  width: 516px;
  background: #fff;
  background: rgba(255,255,255,.75);
}
#recipes .overlay h3 {
  color: #4f4f4f;
  padding: 0 40px 0 0;
}
#recipes .overlay div {
  display: inline-block;
  text-align: right;
}
#recipes .overlay p a  {
  display: inline-block;
  font-size: 12px;
  text-transform: uppercase;
  padding: 0 0 0 40px;
  color: #a62721;
}
#recipes .image {
  overflow: hidden;
  width: 576px;
  height: 432px;
}
#recipes, #vertical-categories {
  vertical-align: top;
}
#vertical-categories {
  display: inline-block;
  width: 318px;
  background: url('../images/vertical-categories-shadow.png') no-repeat bottom center;
  margin-bottom: 0;
  padding-bottom: 15px;
}
#vertical-categories div.content {
  height: 432px;
}
#vertical-categories table {
  height: 432px;
}
#vertical-categories tr {
  background: url('../images/vertical-categories-separator.png') no-repeat bottom center;
}
#vertical-categories tr:last-child {
  background: none;
}
#vertical-categories td a {
  display: block;
  /*color: #a62721;*/
  color: #990000;
}
#vertical-categories td a img {
  display: inline-block;
  padding: 4px 0 0 0;
}
#vertical-categories td a span {
  width: 230px;
  display: inline-block;
  padding: 14px 10px 10px 10px;
  text-transform: uppercase;
  vertical-align: top;
}

/* RESULTS PAGE */
#horizontal-categories table {
  width: 920px;
}
#horizontal-categories td {
  text-transform: uppercase;
  text-align: center;
  font-size: 14px;
  padding: 3px 10px 3px 10px;
}
#categories td {
  border-bottom: 2px #fff solid;
}
#categories td a {
  color: #bbb;
}
#categories td.selected {
  border-bottom: 2px #a62721 solid;
}
#categories td.selected a {
  color: #4f4f4f;
}
#sub-categories {
  overflow: hidden;
  margin: 0 12px 0 12px;
}
#sub-categories li {
  display: none;
  cursor: pointer;
  font-size: 14px;
  text-transform: uppercase;
  padding: 3px 16px 3px 16px;
  margin: 0 2px 0 3px;
  background: #fff url('../images/tab-background.png') repeat-x bottom;
}
#sub-categories li a {
  color: #4f4f4f;
}
#sub-categories li.show, #sub-categories li.show-all {
  display: inline-block;

  /* Internet Explorer FIX */
  *display: inline;
  zoom: 1;
}
#sub-categories li.active {
  background: #a62721;
}
#sub-categories li.active a {
  color: #fff;
}
#results div.content {
  padding: 0;
}
#sub-sub-categories-wrapper {
  background: url('../images/sub-sub-categories-background.png');
  padding-left: 6px;
}
#sub-sub-categories, #sub-sub-sub-categories {
  margin: 0 auto 0 auto;
}
#sub-sub-categories td, #sub-sub-sub-categories td {
  cursor: pointer;
  display: none;
  font-size: 10px;
  padding: 8px 22px 6px 22px;
  background: url('../images/sub-sub-category.png') no-repeat left center;
}
#sub-sub-categories td {
  text-transform: uppercase;
  font-size: 12px;
  padding: 3px 22px 3px 22px;
  height: 34px;
}
#sub-sub-categories td.active, #sub-sub-sub-categories td.active {
  background: url('../images/sub-sub-category-selected.png') no-repeat left center;
}
#sub-sub-categories td.active a, #sub-sub-sub-categories td.active a {
  color: #a62721;
}
#sub-sub-categories td.show, #sub-sub-categories td.show-all, #sub-sub-sub-categories td.show, #sub-sub-sub-categories td.show-all {
  display: table-cell;
}
#sub-sub-sub-categories-wrapper {
  background: url('../images/sub-sub-sub-categories-background.png');
}
#sub-sub-sub-categories td {
  height: 16px;
}
#results-content {
  padding: 10px;
}
#search-keywords {
  margin: 0 0 10px 0;
}
#search-keywords span.keywords {
  color: #4f4f4f;
  margin: 0 30px 0 30px;
}
#search-keywords span.remove a {
  color: #a62721;
}
#results-order, #search-keywords {
  border: 1px #e0d6cc solid;
  padding: 10px;
  text-transform: uppercase;
  text-align: center;
  font-size: 12px;
  color: #999;
}
#results-order ul {
  display: inline-block;
  height: 12px;
  margin: 0 0 0 20px;

  /* Internet Explorer FIX */
  zoom: 1;
  *display: inline;
}
#results-order ul li {
  float: left;
  padding: 0 15px 0 15px;
  margin: 0 5px 0 5px;
  cursor: pointer;
}
#results-order ul li a {
  color: #999;
}
#results-order ul li.selected {
  background: url('../images/order-down.png') no-repeat left;
}
#results-order ul li.selected a {
  color: #4f4f4f;
}
#results-order ul li.selected.reverse {
  background: url('../images/order-up.png') no-repeat left;
}
#results-recipes {
  min-height: 188px;
}
#results div.result-item {
  border: 1px #e0d6cc solid;
  height: 87px;
  padding: 5px;
  margin: 10px 0 0 0;
}
#results div.result-image {
  float: left;
}
#results div.result-text {
  margin-left: 150px;
  width: 400px;
  overflow: hidden;
  height: 82px;
}
#results div.result-text h3 {
  padding: 6px 0 10px 0;
}
#results div.result-text h3 a {
  color: #a62721;
}
#results div.result-text p {
  display: block;
  height: 38px;
  overflow: hidden;
  font-style: italic;
}
#results div.result-time-consumption, #results div.result-difficulty {
  float: right;
  text-align: center;
  font-size: 12px;
  padding: 2px 60px 0 0;
  color: #999;
}
.tab-bottom {
  float: right;
  padding: 3px 20px 3px 20px;
  margin: 0 17px 0 5px;
  background: #fff url(../images/tab-top-background.png) repeat-x top;
  text-transform: uppercase;
  color: #999;
  font-size: 12px;
}
.tab-bottom .selected {
  color: #a62721;
}
.tab-bottom span.pages span {
  margin: 0 0 0 4px;
}
#results-loading {
  padding: 75px;
  text-align: center;
  overflow: hidden;
  display: none;
}
#tab-more {
  position: absolute;
  margin: 15px 0 0 0;
  padding: 2px;
  display: none;
  cursor: pointer;
  color: #777;
  background: #fff url('../images/tab-background.png') repeat-x bottom;
}
#tab-more span {
  padding: 0 16px 0 16px;
}
#tab-more.right span {
  background: url('../images/tab-right.png') no-repeat right center;
  margin: 0 16px 0 0;
}
#tab-more.left span {
  background: url('../images/tab-left.png') no-repeat left center;
  margin: 0 0 0 16px;
}


/* RECIPE PAGE */
#recipe-header {
  text-align: center;
  border: 1px #ccc solid;
  color: #a62721;
  padding: 10px;
}
h2.link {
  color: #4f4f4f;
  background: #fff url('../images/tab-background.png') repeat-x bottom;
}
h2.short-margin {
  margin:0 0 0 5px;
}
#mainbar, #sidebar {
  display: inline-block;
  vertical-align: top;

  /* Internet Explorer FIX */
  zoom: 1;
  *display: inline;
}
#mainbar {
  width: 660px;
  margin: 0 5px 0 0;
}
#sidebar {
  width: 250px;
}
#recipe-image {
  position: relative;
  padding: 2px;
  border: 1px #ccc solid;
}
#recipe-image, #recipe-image div {
  width: 654px;
  height: 250px;
  overflow: hidden;
}
#recipe-image-overlay {
  display: none;
  position: absolute;
  padding: 6px 12px 6px 12px;
  top: 10px;
  right: 47px;
  font-size: 12px;
  background: #fff;
  background: rgba(255,255,255,.75);
}
#recipe-image-overlay .previous, #recipe-image-overlay .next {
  color: #a62721;
  cursor: pointer;
}
#recipe-image-overlay-2 {
  display: none;
  position: absolute;
  width: 27px;
  height: 27px;
  top: 10px;
  right: 10px;
  cursor: pointer;
  background: #fff url('../images/pause.png') no-repeat center center;
  background: rgba(255,255,255,.75) url('../images/pause.png') no-repeat center center;
}
div.sidebar {
  padding: 10px;
  margin: 0 0 10px 0;
  border: 1px #ccc solid;
}
div.sidebar div {
  text-align: center;
  margin: 20px 0 0 0;
  height: 97px;
}
#nutrition-facts {
  text-align: center;
}
#nutrition-facts .show-more {
  color: #a62721;
  cursor: pointer;
  display: none;
}
#nutrition-facts h3, #servings h3, #custom-block h3 {
  font-size: 14px;
  text-transform: none;
  text-align: center;
  margin: 4px 0 10px 0;
}
#nutrition-facts div {
  overflow: hidden;
  height: 70px;
}
#nutrition-facts table {
  color: #888;
  font-size: 12px;
}
#nutrition-facts td {
  padding: 2px 0 0 0;
  vertical-align: bottom;
  text-align: left;
}
#nutrition-facts td.option {
  background: url('../images/nutrition-td-background.png') repeat-x bottom;
  width: 180px;
}
#nutrition-facts td.option span {
  background: #fff;
}
#nutrition-facts td.value {
  width: 50px;
  white-space: nowrap;
}
#nutrition-facts p {
  color: #888;
  font-size: 10px;
  margin: 15px 0 2px 0;
}
#custom-block div {
  color: #888;
  height: auto;
  font-size: 12px;
}
#custom-block a {
  color: #A62721;
  font-size: 10px;
}
#teaser {
  font-style: italic;
  padding: 10px 7px 10px 12px;
}
#ingredients, #steps {
  display: inline-block;
  vertical-align: top;

  /* Internet Explorer FIX */
  zoom: 1;
  *display: inline;
}
#ingredients {
  width: 215px;
  margin: 0 7px 0 12px;
}
#ingredients li {
  overflow: hidden;
}
#ingredients .ingredient-amount {
  color: #a62721;
}
#steps {
  margin: 0 2px 0 10px;
  width: 406px;
}
#steps ol {
  list-style: decimal inside;
  color: #a62721;
}
#steps ol span {
  color: #4f4f4f;
}
#steps ol li {
  margin: 0 0 10px 0;
  position: relative;
}
#ingredients h3, #steps h3, #results.related > h3 {
  color: #a62721;
  border-bottom: 2px #a62721 solid;
  font-size: 14px;
  margin: 0 0 10px 0;
}
#results.related > h3 {
  margin-top: 20px;
}
#ingredients ul {
  margin: 0 0 14px;
}
#steps ol {
  margin: 0 0 14px;
}
#servings {
  text-align: center;
}
#servings .textfield {
  border: 1px #ccc solid;
  color: #4f4f4f;
  text-align: center;
  background: url('../images/search-field-background.png');
}
#servings .button {
  text-transform: uppercase;
  border: none;
  background: none;
  color: #4f4f4f;
  font-weight: bold;
  padding: 0 10px 0 10px;
}
#print {
  display: inline-block;
  background: url('../images/print.png') no-repeat center center;
  cursor: pointer;
  width: 30px;
  height: 30px;
  margin:0;
}
#print:hover {
  background: url('../images/print-hover.png') no-repeat center center;
}
#steps .term {
  color: #a62721;
}
#steps .term-description {
  width: 200px;
  display: none;
  position: absolute;
  padding: 10px;
  background: #a62721 url('../images/term-tip-background.png') repeat-x bottom;
  color: #fff;
  font-size: 12px;
  border: 1px #fff solid;
  box-shadow: 0 0 15px #666;
  -moz-box-shadow: 0 0 15px #666;
  -webkit-box-shadow: 0 0 15px #666;
}
#steps .term-description-xl {
  width: 400px;
}
#steps .term-description .term {
  color: #fff;
}
#steps .term-pointer {
  position: absolute;
  display: none;
}

/* FOOTER */
#search-field {
  width: 200px;
  height: 20px;
  border: 1px #ccc solid;
  color: #4f4f4f;
  background: url('../images/search-field-background.png');
  outline: 0;
}
#search-button {
  text-transform: uppercase;
  border: none;
  background: none;
  color: #4f4f4f;
  font-weight: bold;
  padding: 0 10px 0 10px;
  cursor: pointer;
}
#footer {
  background: url('../images/footer.png') no-repeat top center;
  padding: 51px 0 0 0;
}
#footer div {
  padding: 10px;
  font-size: 12px;
  text-align: center;
  background: #fff;
}