.cookbook-recipe-image {
  display: inline-block;
  cursor: pointer;
}
.cookbook-recipe-image-default {
  padding: 0 10px 0 0;
}
.cookbook-recipe-image-image {
  padding: 0 10px 0 0;
}
.cookbook-recipe-image-move, .cookbook-recipe-image-delete {
  position: absolute;
  width: 17px;
  height: 17px;
  background: #fff url(../images/move.png) no-repeat center;
  background-color: rgba(255,255,255,0.7);
  cursor: move;
  margin: 1px;
  padding: 2px;
}
.cookbook-recipe-image-delete {
  background-image: url(../images/delete.png);
  cursor: pointer;
  margin: 1px 1px 1px 78px;
}
body .cb-eml, body input.cb-button {
  margin: 0 0 0 10px;
}
.cookbook-recipe-ingredient {
  cursor: pointer;
  padding: 0 5px 0 5px;
  margin: 0;
  background: #ffffff;
  height: 20px;
  width: 300px;
  overflow: hidden;
  line-height: 20px;
}
.cookbook-recipe-ingredient:hover {
  background: #c3d9e7;
}
#edit-cookbook-recipe-ingredients {
  width: 300px;
  display: inline-block;
}
#edit-cookbook-recipe-ingredients.loading {
  background: url(../../../../../../misc/throbber.gif) no-repeat right -18px;
}
#cookbook-recipe-ingredients-wrapper {
  display: none;
  position: absolute;
  width: 300px;
  height: 164px;
  border: 1px #aaa solid;
  background: #fff;
  box-shadow: 0 0 10px #ccc;
  -moz-box-shadow: 0 0 10px #ccc;
  -webkit-box-shadow: 0 0 10px #ccc;
  overflow: hidden;
}
#cookbook-recipe-ingredients {
  width: 300px;
  height: 120px;
  list-style: none;
  margin: 0;
  padding:0;
}
#cookbook-recipe-ingredients .cookbook-recipe-ingredient.cookbook-recipe-selected {
  background: #0072b9;
  color: #fff;
}
#cookbook-recipe-ingredients-options {
  top:120px;
  border-top: 1px #aaa solid;
  margin:0;
  padding: 1px 0 0 0;
  position: absolute;
  width: 300px;
  height: 44px;
  background: #e8e8e8;
  list-style:none;
}
#cookbook-recipe-ingredients-options li {
  background:none;
  margin:0;
  padding:0 15px;
  line-height: 20px;
}
#cookbook-recipe-ingredients-options li.greyed-out a {
  cursor: default;
  color: #999;
}
body #cookbook-recipe-ingredients-options li.greyed-out a:hover {
 text-decoration: none;
}

#edit-cookbook-recipe-steps-wrapper ol, #edit-cookbook-recipe-ingredients-wrapper ul {
  margin:0;
}

.cookbook-recipe-move-up-down {
  display: inline-block;
  vertical-align: bottom;
  width: 20px;
  height: 20px;
  background: url(../images/move-up-down.png) no-repeat center;
  cursor: s-resize;
  MozUserSelect: none;
}

/* jScrollPane */
.jScrollPaneContainer {
	position: relative;
	overflow: hidden;
	z-index: 1;
  display: inline-block;
}

.jScrollPaneTrack {
	position: absolute;
	cursor: default;
	right: 0;
	top: 0;
	height: 100%;
  border-left: 1px #aaa solid;
  background: #e8e8e8;
}
.jScrollPaneDrag {
	position: absolute;
  background: #0072b9 url('../images/scroll-drag-blue.png') repeat-y top left;
	cursor: default;
	overflow: hidden;
}
.jScrollPaneDrag:hover {
  background: #0072b9 url('../images/scroll-drag-blue-hover.png') repeat-y top right;
}
.jScrollPaneDragTop {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
}
.jScrollPaneDragBottom {
	position: absolute;
	bottom: 0;
	left: 0;
	overflow: hidden;
}
a.jScrollArrowUp {
	display: block;
	position: absolute;
	z-index: 1;
	top: 0;
	right: 0;
	text-indent: -2000px;
	overflow: hidden;
	/*background-color: #666;*/
	height: 9px;
}
a.jScrollArrowUp:hover {
	/*background-color: #f60;*/
}

a.jScrollArrowDown {
	display: block;
	position: absolute;
	z-index: 1;
	bottom: 0;
	right: 0;
	text-indent: -2000px;
	overflow: hidden;
	/*background-color: #666;*/
	height: 9px;
}
a.jScrollArrowDown:hover {
	/*background-color: #f60;*/
}
a.jScrollActiveArrowButton, a.jScrollActiveArrowButton:hover {
	/*background-color: #f00;*/
}