h2, form, .tab-bottom, #header, #drawer-wrapper, #custom-block, #footer, #horizontal-categories, #sub-categories, #sub-sub-categories-wrapper, #sub-sub-sub-categories-wrapper, #results-order {
  display: none !important;
}
#content {
  margin-top: 0;
}
div.block div.content {
  padding-top: 0;
  padding-bottom: 0;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}
#wrapper, div.block {
  background: none;
}
#wrapper {
  padding-top: 12px;
}
input {
  border: none !important;
  background: none;
}
#nutrition-facts tr.additional, #nutrition-facts p.show-more {
  display: none !important;
}
span.term {
  color: #666 !important;
}
#recipe-image-overlay, #recipe-image-overlay-2 {
  display: none !important;
}