html {
  background: #fff;
}
#lightbox-content {
  top: 0 !important;
  left: 0 !important;
  width: 100%;
  margin: 0;
  background: #fff;
}
#header, #wrapper, #lightbox-overlay, #admin-menu, #lightbox-close {
  display: none !important;
}
#details .content {
  border: none;
  overflow: visible
}
#details .illustration {
  float: right;
  clear: both;
  width: 315px;
}
#details .muscles {
  clear: both;
  width: 315px;
}
#details .description {
  margin: 0 325px 0 0;
  width: auto;
}
#details h5 {
  border: none;
}