body {
  text-align: left;
  font-family:Verdana,sans-serif;
	font-size:12px;
	font-size-adjust:none;
	font-style:normal;
	font-variant:normal;
}

textarea {
  font-size: 14px;
  width: 600px;
  height: 500px;
}
