.menu-button {
  float: right;
  margin: -1px 6px -24px 0px;
  background: #ededed url(../images/export-icons.png) no-repeat 0 -38px;
  padding: 3px 7px 3px 22px;
  border: 1px solid #b1b1b1;
  border-top: none;
}

.download-frame {
  background-color: #EDEDED;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  float: left;
}

.download-frame h2 {
  font-weight: 200;
  margin: 0;
  padding: 15px;
  width: 100%;
  background-color: #20588F;
  color: white;
  text-align: center;
  font-family: 'Open Sans', Arial, sans-serif;
}

.download-frame .description {
  background-color: #FAFAFA;
  width: 80%;
  margin: 10px auto;
  padding: 5px 5%;
  font-size: 1.2em;
}

.download-frame .download-links {
  background-color: #FFFFFF;
  width: 80%;
  margin: 10px auto;
  padding: 5px 5%;
}

.download-frame .download-links {
  overflow: hidden;
}

.download-frame .download-link a {
  width: 47%;
  color: white;
  margin: 5px;

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;

  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topleft: 0;
  border-top-left-radius: 0;
  
  /*box-shadow: 1px 1px 1px #686868;*/
  display: block;
  overflow: hidden;
  float: left;
}

.download-frame .download-pdf a {
  background-color: #CD1F28;
}
.download-frame .download-epub a {
  background-color: #85B916;
}

.download-frame .download-link a:hover {
  text-decoration: none;
}

.download-frame .download-link span {
  color: white;
  font-size: 1.1em;
  display: block;
  float: left;
  margin: 13px 0px 0px 10px;
  /*margin: -50px 15px 20px 65px;*/
}

.download-frame .download-link i {
  /*position: relative;*/
  /*top: -17px;*/
  /*left: -15px;*/
  float: left;
  font-size: 5em;
  margin: -18px 0px 0px -15px;
}

.download-frame .epub-icon {
  background: #FFFFFF url(../images/epub_icon_large.png) no-repeat 0 0;
  width: 24px;
  height: 24px;
  border: 1px solid red;
}

.download-frame .pdf-icon {
  background: #FFFFFF url(../images/pdf_icon_large.png) no-repeat 0 0;
  width: 24px;
  height: 24px;
  border: 1px solid red;
}

.download-frame .download-epub .download-button-footer {
  display: block;
  background-color: #293907;
  height: 5px;
  float: left;
  clear: both;
  width: 100%;
  height: 4px;
}

.download-frame .download-pdf .download-button-footer {
  display: block;
  background-color: #4D0C0F;
  height: 15px;
  float: left;
  clear: both;
  width: 100%;
  height: 4px;
}

.download-frame .download-menu-name {
  margin: 10px auto;
  padding: 5px 5%;
  font-size: 1.2em;
  display: block;
  text-align: center;
}