h1,h2,h3,h4,h5,h6,h7,h8 {
  font-size: 24px;
  font-family: "Times New Roman", serif
}

.headline {
  font-size: 20px;
  font-family: "Times New Roman", serif;
  width: 100%;
  display: block;
  margin-top: 10px;
}

.clear {
  clear: both;
}

.qrcode {
  width: 100%;
  padding: 10px;
}

.node img {
  padding: 15px;
}

.right {
  width: 240px;
  margin-left: 25px;
  margin-right: 30px;
  float: right;
  clear: right;
  position: relative;
  word-wrap: break-word;
}

.right * {
  position: relative;
  clear: both;
  width: 180px;
  text-align: "left";
}

.right img {
  width: 170px;
  border: 1px solid #cccccc;
  padding: 0;
  margin: 0;
}

.paragraph {
  float: left;
  width: 100%;
}


.frame {
  /*float: left;*/
  background-color: #e5e5e5;
  border: 1px solid #ccc;
  font-weight: 400;
  padding: 8px;
  margin: 10px;
  clear: left;
  overflow: hidden;
  width: inherit;
}

.frame .frame {
  width: auto;
  overflow: auto;
  background: none;
  border: none !important;
  padding: 0;
  margin: 0;
}

body {
  font-size: 16px;
  font-family: serif
  text-align: "justifiy";
}

.node {
  margin: 10px auto;
  width: 1000px;
  overflow: hidden;
  float: left;
}

.node_content {
  float: left;
  overflow: hidden;

}

.w960 .center-layout {
  margin: 10px;
}

.content {
  margin: 10px auto;
}

.node .ingress {
  line-height: 1.4;
  font-size: 1.1em;
  margin-bottom: 20px;
  width: 900px;
  overflow: hidden;
}

.node .hidden_paragraphs {
  float: left;
  line-height: 1;
  font-size: 16px;
  margin-bottom: 20px;
  max-width: 650px;
}

.contentbrowser_caption {
  display: block;
  padding: 3px;
  font-size: 0.8em;
}

.right .contentbrowser_caption {
  border: none;
} 

h2 {
  margin-top: 1em;
  margin-bottom: 1em;
}

p, .hide {
  margin-bottom: 1em;
  font-size: 1.1em;
  line-height: 1.5em;
  text-align: justify;
  page-break-inside: avoid;
}

.paragraph p {
  page-break-inside: avoid;
  max-width: 700px;
}


/* CSS-klasser för Tiny-pluginen NDLA Table */
div.ndla_table {
  overflow: auto;
}

.ndla_table_cell {
  float: left;
}

.ndla_table_narrow {
  width: 402px;
}

.ndla_table_narrow .ndla_table_two_cols .ndla_table_cell {
  width: 200px;
}

.ndla_table_narrow .ndla_table_three_cols .ndla_table_cell {
  width: 133px;
}

.ndla_table_narrow .ndla_table_four_cols .ndla_table_cell {
  width: 99px;
}

.ndla_table_narrow .ndla_table_five_cols .ndla_table_cell {
  width: 79px;
}

.ndla_table_wide {
  width: 582px;
}

.ndla_table_wide .ndla_table_two_cols .ndla_table_cell {
  width: 290px;
}

.ndla_table_wide .ndla_table_three_cols .ndla_table_cell {
  width: 193px;
}

.ndla_table_wide .ndla_table_four_cols .ndla_table_cell {
  width: 144px;
}

.ndla_table_wide .ndla_table_five_cols .ndla_table_cell {
  width: 115px;
}

.ndla_table .ndla_table_row {
  clear: both;
  overflow: hidden;
}

.ndla_table_border {
  border-left: 1px solid #000;
  border-bottom: 1px solid #000;
}

.ndla_table_border .ndla_table_cell {
  border-right: 1px solid #000;
  border-top: 1px solid #000;
}

.ndla_table_cell {
  padding-bottom: 1500px;
  margin-bottom: -1500px;
}

.ndla_table_cell_content {
  padding: 5px;
}

.ndla_table_cell_content p {
  padding: 0;
  margin: 0;
}