div.jp-audio {
	border: 1px solid #999999;
}

.right div.jp-audio,
.ndla_audio_small div.jp-audio {
  width: 155px;
}

div.jp-interface {
  font-size: 10px;
  height:21px;
}

div.jp-interface ul.jp-controls,
div.jp-interface ul.jp-controls li {
	display:inline;
}

div.jp-interface ul.jp-controls a {
	display:block;
	overflow:hidden;
	text-indent:-9999px;
	float: left;
}

a.jp-play,
a.jp-pause,
a.jp-mute,
a.jp-unmute {
	width:20px;
	height:20px;
}

a.jp-play {
	background: url("../img/ndla_audio.jpg") 0 0 no-repeat;
}

a.jp-play:hover {
	background: url("../img/ndla_audio.jpg") 0 -20px no-repeat;
}

a.jp-pause {
	background: url("../img/ndla_audio.jpg") 0 -40px no-repeat;
	display: none;
}

a.jp-pause:hover {
	background: url("../img/ndla_audio.jpg") 0 -60px no-repeat;
}

a.jp-mute {
	background: url("../img/ndla_audio.jpg") 0 -80px no-repeat;
}

a.jp-mute:hover {
	background: url("../img/ndla_audio.jpg") 0 -100px no-repeat;
}

a.jp-unmute {
	background: url("../img/ndla_audio.jpg") 0 -120px no-repeat;
	display: none;
}

a.jp-unmute:hover {
	background: url("../img/ndla_audio.jpg") 0 -140px no-repeat;
}

div.jp-audio div.jp-progress {
	height:15px;
	margin-bottom: 5px;
}

div.jp-seek-bar {
	background-color: #cccccc;
	width:0px;
	height:100%;
	cursor: pointer;
	border-top: 1px solid #999999;
	border-bottom: 1px solid #999999;
}

div.jp-play-bar {
	background-color: #20558A;
	width:0px;
	height:100%;
}

div.jp-volume-bar {
  float: left;
  height: 5px;
  width: 30px;
  margin: 7px 7px 0 7px;
  border: 1px solid #999999;
  cursor: pointer;
  background-color: #cccccc;
}

div.jp-volume-bar-value {
  background-color: #20558A;
	height:5px;
}

div.jp-title {
	text-align: center;
  width: 100%;
}

div.jp-title ul {
	list-style-type:none;
}

#right-wrapper .content div.jp-title ul {
	list-style-type:none;
}

div.jp-audio ul {
  margin: 0px;
  padding: 0px; 
}

span.jp-author {
  float: right;
  margin-right: 5px;
}

.right span.jp-author,
.ndla_audio_small span.jp-author {
  display: none;
}

.jp-no-solution {
  margin: 10px;
  background-color:#eee;
  color:#000;
  display:none;
}

.jp-no-solution a {
	color:#000;
}

.jp-no-solution span {
	display:block;
	text-align:center;
	font-weight:bold;
}

.jp_url {
  display: none; 
}