.my-learning-status h2 {
  margin: 0 0 10px 0;
}
.my-learning-status p {
  margin: 0 0 6px 0;
}
.my-learning-status li {
  cursor: pointer;
  margin: 0 0 2px 0;
  padding: 2px 2px 2px 20px;
  background: url(../images/traffic-light-icons.png) no-repeat 0 3px;
}
.my-learning-status li.yellow {
  background-position: 0 -17px;
}
.my-learning-status li.red {
  background-position: 0 -37px;
}
.my-learning-status li.green.not-selected, .my-learning-status li.yellow.not-selected, .my-learning-status li.red.not-selected {
  background-position: 0 -57px;
  color: #898989;
}
.my-learning-status li.not-selected:hover {
  color: #595959;
}
.my-learning-status li.selected {
  font-weight: bold;
}