#clearButton {
	background: url(cancel.gif) no-repeat;
	width: 20px;
	float: left;
	display: inline;
	margin-top: 1px;
	height: 20px;
	cursor: pointer;
}

#backButton {
	background: url(back.gif) no-repeat;
	width: 24px;
	height: 16px;
	display: block;
	margin-top: 2px;
	cursor: pointer;
	margin-bottom: 10px;
}