.hidden {
	display: none;
}

#ndla_matlexicon_wrapper {
	height: 3em;
}

#ndla_matlexicon_wrapper.expanded {
	height: 34em;
}

#ndla_matlexicon_wrapper.clear {
	clear: both;
}

#ndla_matlexicon_search {
	float: left;
	margin-right: 4px;
}

#ndla_matlexicon_searchbox label{
	font-size: 0.8em;
	font-weight: bold;
	color: #333333;
}

#ndla_matlexicon_clear_button {
	background: url(cancel.png) no-repeat;
	width: 20px;
	float: left;
	display: inline;
	margin-top: 1px;
	height: 20px;
	cursor: pointer;
}

#backButton {
	background: url(back.png) no-repeat;
	width: 24px;
	height: 16px;
	display: block;
	margin-top: 2px;
	cursor: pointer;
	margin-bottom: 10px;
}

#ndla_matlexicon_wait_en, #ndla_matlexicon_wait_no {
	background: url(ajax-loader.gif) center no-repeat;
	height: 32px;
	padding-bottom: 10px;
	margin-top: 10px;
}

#ndla_matlexicon_wait_text_en,#ndla_matlexicon_wait_text_no {
	font-weight: bold;
	color: 333333;
	text-align: center;
}

#ndla_matlexicon_detail {
	height: 34em;
	overflow-x: auto;
}

#ndla_matlexicon_detail a{
	cursor: pointer;
	cursor: hand;
}

#ndla_matlexicon_detail p {
	clear: both;
}

/* list */

#ndla_matlexicon_result {
	overflow: auto;
}

#ndla_matlexicon_result ul {
	list-style: none;
	margin: 0;
	padding: 0;
	border: none;
}

#ndla_matlexicon_result li .additional_information{
	font-size: 70%;
	font-weight: bold;
}

#ndla_matlexicon_result li {
	display: block;
	padding: 5px 5px 5px 0.5em;
	color: #333333;
	text-decoration: none;
	width: 90%;
	border-bottom: 1px solid #90bade;
	margin: 0;
	background: none;
	cursor: pointer;
		
}

#ndla_matlexicon_result li:hover {
	border-right: 5px solid #9C5211;
	background-color: #ebebeb;
	color: #9C5211;
}

/* detail */

#ndla_matlexicon_detail dl dt{
	font-weight: bold;
	color: #666666;
	display: block;
	font-size: 94%;
}

#ndla_matlexicon_detail dl dd{
	margin-left: 10px;
	/* margin-bottom: 6px; */
	clear: both;
}

dt h2 {
  font-weight: bold;
  color: #666666;
  display: inline;
  font-size: 140%;
  margin-bottom: 10px;
  
}

dt .detail-title, ndla_matlexicon_full .detail-title{
	float: left;
}

#ndla_matlexicon_detail #ndla_matlexicon_languages {
	margin-bottom: 20px;
}

#ndla_matlexicon_languages {
	float: right;
	margin-right: 5px;
}

/* full */

.ndla_matlexicon_full {
  margin: 10px 10px 10px 10px; 
}

.ndla_matlexicon_header {
  font-size: 200%;
  line-height: 100%;
  font-weight: bold;
  display: inline;
  margin-bottom: 20px;
}

.ndla_matlexicon_title {
  color: #9C5211;
  width: 100px;
  font-weight: bold;
  padding: 4px 8px;
  clear: both;
  border-left: 1px solid #999;
  border-top: 1px solid #999;
  border-right: 1px solid #999;
}

.ndla_matlexicon_content {
  padding: 8px;
  border: 1px solid #999;
  background-color: whiteSmoke;
  margin-bottom: 20px;
}

.ndla_matlexicon_content ul {
  list-style-type: none;
}

.ndla_matlexicon_content > ul {
  padding-left: 0;
}


.ndla_matlexicon_content li {
  list-style-type: none;
  background-image: url("img/chefhat.png");
  background-position: 1px 1px;
  background-repeat: no-repeat;
  padding-bottom: 10px;
  padding-left: 20px;
}

.ndla_matlexicon_attribute {
	font-style: italic;
}