#my-learning-panel .icon-dashboard.green {
  color: #23ad3d;
}

#my-learning-panel .icon-dashboard.yellow {
  color: #FFD700;
}

#my-learning-panel .icon-dashboard.red {
  color: #d22123;
}

#my-learning-panel-dropdown .subject_dropdown li.green i {
  color: #23ad3d;
}

#my-learning-panel-dropdown .subject_dropdown li.yellow i {
  color: #FFD700;
}

#my-learning-panel-dropdown .subject_dropdown li.red i {
  color: #d22123;
}