fieldset.collapsible { 		
	font-size:10pt; 	
}  	
fieldset.collapsed { 		
	padding:2pt 	
}	 	
fieldset.collapsible .fieldset-wrapper .right {  		
	margin-right:0px;  
} 
fieldset.collapsed { 
	border-bottom-width:0pt;
	border-left-width:0pt;
	border-right-width:0pt;
	height:1em;
	margin-bottom:0pt;
	padding:2pt; 
}
