
#main_content {
 float: none;
 margin: 0 auto;
 position: static; 
}

/*#main_1 {
  width: 100%;
  float: none;
  position: static;
}*/

#main_1 {
  width: 718px;
  margin-left: 10px;
}

#page-content > h1 {
  margin-left: 25%;
  padding-top: 10px;
  clear: both;
}

#portal-top {
  margin-bottom: 15px;
/*  width: 75%;
  margin-left: 25%;*/
}

#main_content.portal-search #portal-top {
  margin-left: 0%;
  width: 100%;
}

#portal-left-wrapper, .region-left {
  border: 2px solid #DDDDDD;
  float: left;
  padding: 5px;
  width: 198px;
  margin-top: 64px;
}

#portal-left {
  border: solid 2px #ddd;
  margin-right: 15px;
  padding: 10px;
}

.edit_wrapper {
  position: relative;
  display: none;
  border: 1px solid #AAAAAA;
  padding: 2px;
}

.user-edit-button {
  background-image: url('../img/gear.png');
  background-repeat: no-repeat;
  background-position: 0px 0px;
  cursor: pointer;
  float: right;
  width: 25px;
  margin-top: 9px;
}

#block-ndla_editor_portal_links ul, #block-ndla_editor_portal_links ul li {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

#block-ndla_editor_portal_bookmarks {
  margin: 0 0 10px 0; 
}

#portal-right {
  float: right;
  width: 25%;
}
#portal-left {
  float: left;
  width: 69%;
}

#portal-content {
  margin-top: 20px;
}

#main_content.portal-search #portal-content,
#main_content.portal-blog #portal-content {
  margin-left: 0%;
  float: left;
}

#main_content.portal-blog #portal-content {
  width: 75%;
}

#portal-content .region-content {
  clear: none;
}

#portal-low {
  background-color: yellow;
  margin-top: 15px;
  clear: both;
}

#portal-content {
  line-height: 1.3em;
}

.readmore {
  text-align: right;
}

.readmore a {
  margin-left: 1em;
}

.ndla-editorial-blog-entry {
  margin: 10px;
}

#block-ndla_editor_portal_blog ul li {
  float: right;
  list-style-type: none;
}

#block-ndla_editor_portal_blog ul {
  padding: 0;
  padding-top: 1em;
}

div.paragraph ul li,
div.paragraph ol li,
#block-ndla_editor_portal_blog div.paragraph ul li,
#block-ndla_editor_portal_blog div.paragraph ol li {
  float: none;
}

div.paragraph ul, 
div.paragraph ol,
#block-ndla_editor_portal_blog div.paragraph ul,
#block-ndla_editor_portal_blog div.paragraph ol {
  padding: 0 0 0.25em 1.5em;
}

div.paragraph ul li,
#block-ndla_editor_portal_blog div.paragraph ul li {
  list-style-type: disc;
}
div.paragraph ol li,
#block-ndla_editor_portal_blog div.paragraph ol li {
  list-style-type: decimal;
}

#block-ndla_editor_portal_blog ul.pager li {
  float: none;
}

#changelog-settings-submit {
  display: none;
}

.portal .block,
#block-ndla_editor_portal_blog .content,
#portal-content,
.region-portal-middle-right {
  padding-bottom: 5px;
}

#block-ndla_editor_portal_blog {
  padding: 0;
}

.block h2 {
  margin-bottom: 10px;
}

div.region-portal-middle-left .block, div.region-portal-middle-right .block {
  border: none;
}

#portal-content .submitted {
  font-size: 0.8em;
  margin-bottom: 10px;
  font-weight: bold;
}


#comments .links {
  margin-bottom: 20px;
}

#comments .new {
  display: none;
}

#comments .clearfix {
  border: solid 1px #000;
  margin-bottom: 20px;
  padding: 5px;
}

#portal-content .changelog ul li {
  margin-bottom: 20px;
  list-style-type: none;
}

#block-ndla_editor_portal_changelog ul li {
  list-style-type: decimal;
}

#block-ndla_editor_portal_changelog h2 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 10px;
}

#edit-node-title-wrapper {
  float: left;
  margin-top: 0px;
  margin-right: 0px;
  width: 80%;
}

#edit-node-title-wrapper input {
  font-size: 14px;
  color: #777;
  height: 22px;
  border: solid 2px #ddd;
  padding: 3px;
  width: 96%;
}

#save_search_button {
  font-size: 14px;
  color: #777;
  height: 22px;
  border: solid 2px #ddd;
  padding: 3px;
}

.ndla_utils_node_search #edit-node-title-wrapper input {
  border: 2px #ffffff inset;
}

#edit-search, #edit-advanced, #edit-clear, #edit-save-search {
  height: 31px;
  font-size: 14px;
}

#block-ndla_editor_portal_changelog, .single_post, #block-ndla_editor_portal_blog .content {
  border: solid 2px #ddd;
}

#block-ndla_editor_portal_blog .single_post {
  border: none;
}

.button-search-table {
  float: right;
}

.form-item#save_search_button-wrapper {
  margin: 0;
}

.button-search-table#edit-clear {
  margin-right: 20px;
}

div.button-search-table {
  display: table; 
}

div.button-search-cell {
  padding-right: 6px;
  display: table-cell;
  /*float: right;*/
}

div#button-search-empty {
  width: 100%; 
}

.float_right {
  float: right;
}

#ndla_editor_portal_bookmarks {
  width: 100%; 
}

#block-ndla_editor_portal_notification_warning {
  padding-left: 0px;   
}

.notification_warning {
  height: 45px;
  background: #FDFAFF;
  border: solid 1px #D0A9AA;
  background-image: url(../img/warning.png);
  background-position: 10px 10px;
  background-repeat: no-repeat;
}

.notification_warning .warning {
  margin-left: 40px;
  padding: 10px 10px 10px;
  background: inherit;
  background-image: none;
  border: none;
  line-height: 25px;
}

.notifications h2 {
  margin-bottom: 20px;
}

#block-ndla_editor_portal_photo {
  padding: 0;
  margin: 0;
}

#block-ndla_editor_portal_photo img {
  width: 100%;
}

#block-ndla_editor_portal_search {
  padding: 5px 0px;
}

ul.ndla-editor-portal-blog-full-entry-actions {
  margin-bottom: 25px;
  margin-top: 15px;
}

.ndla-editor-portal-blog-full-entry-actions li {
  display: inline;
  list-style-type: none;
}

.item-list .ndla-editor-portal-blog-full-entry-actions li {
  margin-left: 0px;
  margin-right: 10px;
}

#block-ndla_editor_portal_blog li.first {
  margin-left: 1em;
}

#block-ndla_editor_portal_changelog ul {
  padding: 0 0 0.25em 0;
}

.notification_warning_icon {
  float: right;
  margin-top: -8px;
  height: 26px;
  width: 25px;
  background-image: url(../img/warning.png);
  background-repeat: no-repeat;
}

.readmore a {
  font-size: 12px;
}

#portal-content .item-list ul li {
  margin-left: 0px; 
}

#block-ndla_editor_portal_photo {
  margin-bottom: 15px; 
}

#navigation, #left-menu {
  display: none; 
}

#block-ndla_editor_portal_changelog {
  padding: 10px;
}

.block .content {
  padding: 5px;
}

.saved_searches {
  margin-left: 50px;
}

.saved_searches ul li {
  list-style-type: none;
}

.changelog#portal-content {
  margin-top: -268px;
}

#subject_chooser {
  width: 100%;
}

#block-ndla_editor_portal_changelog a.float_right {
  margin-top: -5px;
}

.blog .node_content {
  width: 100%;
}

#edit-clear {
  float: left;
}
.portal-search #edit-search {
  float: right;
  margin-left: 10px;
}
#save_search_button-wrapper {
  float: right;
}

.search#portal-content {
  clear: both;
}