.hidden {
	display: none;
}

#ndla_dictionary_wrapper {
	height: 3em;
}

#ndla_dictionary_wrapper.expanded {
	height: auto;
}

#ndla_dictionary_wrapper.clear {
	clear: both;
}

#ndla_dictionary_search {
	float: left;
	margin-right: 4px;
}

#ndla_dictionary_searchbox label{
	font-size: 0.8em;
	font-weight: bold;
	color: #333333;
}

#ndla_dictionary_clear_button {
	background: url(cancel.png) no-repeat;
	width: 20px;
	float: left;
	display: inline;
	margin-top: 1px;
	height: 20px;
	cursor: pointer;
}

#backButton {
	background: url(back.png) no-repeat;
	width: 24px;
	height: 16px;
	display: block;
	margin-top: 2px;
	cursor: pointer;
	margin-bottom: 10px;
}

#ndla_dictionary_wait_en, #ndla_dictionary_wait_no {
	background: url(ajax-loader.gif) center no-repeat;
	height: 32px;
	padding-bottom: 10px;
	margin-top: 10px;
}

#ndla_dictionary_wait_text_en,#ndla_dictionary_wait_text_no {
	font-weight: bold;
	color: 333333;
	text-align: center;
}

#ndla_dictionary_detail {
	height: 34em;
	overflow-x: auto;
}

#ndla_dictionary_detail dl {

}

#ndla_dictionary_detail dl dt{
	font-weight: bold;
	color: #666666;
	display: block;
	font-size: 94%;
}


#ndla_dictionary_detail dl dt .Hom{
	font-weight: bold;
	color: #9C5211;

}

#ndla_dictionary_detail dl dt .Ph .ph{
	font-weight: bold;
	color: #006699;
}
#ndla_dictionary_detail dl dt .ordkl{
	font-weight: bold;
	font-style: oblique;
}

#ndla_dictionary_detail dl dd{
	margin-left: 10px;
	margin-bottom: 6px;
}

#ndla_dictionary_detail dl dd .d,
#ndla_dictionary_detail dl dd .k,
#ndla_dictionary_detail dl dd .Ref,
#ndla_dictionary_detail dl dd .u,
#ndla_dictionary_detail dl dd .d {
	font-style: oblique;
	margin-right: 4px;
}

#ndla_dictionary_detail dl dd .form{
	font-weight: bold;
	color: #00cc66;
}

#ndla_dictionary_detail dl dd .emne{
	font-style: oblique;
}


#ndla_dictionary_detail dl dd .UAfs1 .o,
#ndla_dictionary_detail dl dd .UAfs4 .k{
	font-weight: bold;
	color: #9C5211;
	margin-bottom: 4px;
}


#ndla_dictionary_detail dl dd .UAfs2 {
	border-bottom: solid 1px #cccccc;
	border-width: 90%;
	padding: 10px 2px;
}

#ndla_dictionary_detail dl dd .UAfs2,
#ndla_dictionary_detail dl dd .UAfs3 {
	display: block;
	margin-top: 6px;
}

#ndla_dictionary_result {
	overflow: auto;
}


#ndla_dictionary_result ul {
	list-style: none;
	margin: 0;
	padding: 0;
	border: none;
}



#ndla_dictionary_result li .additional_information{
	font-size: 70%;
	font-weight: bold;
}

#ndla_dictionary_result li {
	display: block;
	padding: 5px 5px 5px 0.5em;
	color: #333333;
	text-decoration: none;
	width: 90%;
	border-bottom: 1px solid #90bade;
	margin: 0;
	background: none;
	cursor: pointer;
		
}

#ndla_dictionary_result li:hover {
	border-right: 5px solid #9C5211;
	background-color: #ebebeb;
	color: #9C5211;
}
