.ndla-contact-button {
  line-height:14px;
  height:14px ;
  top:auto;
  bottom:170px;
  position:fixed;
  background:none repeat scroll 0% 0% rgb(38, 102, 166);
  border-radius:0px;
  border:0px;
  color:#fff;
  z-index:10000;
  box-shadow:0px 0px 0px;
  padding:10px;
  font-size:inherit;
  font-family:inherit;
  font-weight:inherit;
  left: 100%;
  -webkit-transform-origin: top left;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -moz-transform-origin: top left;
  -ms-transform: rotate(90deg);
  -ms-transform-origin: top left;
  text-align: center;
  width:85px;
  -webkit-backface-visibility: hidden;
}

.ndla-contact-button:hover {
  text-decoration: none;
}

iframe {
  border:0;
}

#ndla_contact_form {
  padding:5px;
}

#ndla_contact_form h2 {
  background:#2666a6;
  color:#fff;
}

#ndla_contact_form .form-radios .form-item{
  display:inline;
  padding-right:10px;
}

#ndla_contact_form .form-textarea {
  width:100%;
}

#messages {
  font-size:1.2em;
  color: #FFF;
  background-color: #FF7070;
  padding: 5px;
  margin: 4px 4px 2px 4px;
}
