.utdanning_links_filter {
  margin: 1em 0 0;
}

.utdanning_links {
  width: 100%;
  margin: 1em 0 0;
  table-layout: fixed;
}

  .utdanning_links td {
    padding: 0.5em !important; /* Override Drupal CSS */
  }

  .utdanning_links tr {
    border-bottom: 1px solid #CCCCCC;
  }

  .utdanning_links tr:nth-child(2n+2) { background: #EEEEEE; }

.utdanning_links--head {
  font-weight: bold;
  border-bottom: 3px solid #CCCCCC;
}

  .utdanning_links--head td {
    padding: 0.5em !important; /* Override Drupal CSS */
  }
