.h5p-goals-page .goals-define .goals-search {
  float: left;
  margin-right: 1em;
}

.h5p-goals-page .goals-define .goals-search:before {
  font-family: "H5PFontAwesome4";
  content: "\f07c";
  margin-right: 0.75em;
}

/* Active state positioning */
.h5p-goals-page .goals-define .goals-search:active:before {
  position: relative;
  top: 2px;
}

/* Override css rule for goal colors */

.h5p-goals-page .created-goal-container.goal-type-1 {
  background-color: #a1b6cc;
}

/* Background colors goal page*/
.h5p-goals-page .created-goal-container.goal-type-0,
.h5p-goals-page .created-goal-container.goal-type-2 {
  background-color: #d2dee9;
}

.h5p-goals-assessment-page .assessment-container.goal-type-1 {
  background-color: #a1b6cc;
}

/* Background color goal assessment page */
.h5p-goals-assessment-page .assessment-container.goal-type-0,
.h5p-goals-assessment-page .assessment-container.goal-type-2 {
  background-color: #cad6e1;
}

.joubel-simple-rounded-button {
  background-color: #20588f;
}

.h5p-goals-page .goals-help-text,
.h5p-goals-assessment-page .goals-assessment-help-text,
.h5p-standard-page .standard-page-help-text,
.h5p-document-export-page .export-help-text {
  color: #20588F;
}

.h5p-goals-page .created-goal-container .h5p-created-goal-footer .h5p-created-goal-hover-footer .footer-description {
  color: #555;
}

/* Text colors */
.h5p-goals-page .created-goal-container.goal-type-0 .h5p-created-goal-footer,
.h5p-goals-page .created-goal-container.goal-type-1 .h5p-created-goal-footer,
.h5p-goals-page .created-goal-container.goal-type-2 .h5p-created-goal-footer {
  color: #000;
  opacity: 0.75;
}

.h5p-goals-page .created-goal-container .created-goal {
  color: #000;
}

/* Focused */
.h5p-goals-page .created-goal-container.focused {
  background-color: #f5f5f5;
}

.h5p-goals-page .created-goal-container.focused .created-goal,
.h5p-goals-page .created-goal-container.goal-type-0.focused .h5p-created-goal-footer,
.h5p-goals-page .created-goal-container.goal-type-1.focused .h5p-created-goal-footer,
.h5p-goals-page .created-goal-container.goal-type-2.focused .h5p-created-goal-footer {
  color: #000;
}

.h5p-goals-page .created-goal-container.focused .h5p-created-goal-footer .h5p-created-goal-hover-footer .footer-description {
  color: #555;
}

.h5p-goals-assessment-page .goals-finished-assessed-view .assessment-category .assessment-category-container,
.h5p-goals-assessment-page .assessment-container label.rating-text:hover,
.h5p-goals-assessment-page .goals-finished-assessed-view .assessment-container .assessment-goal {
  color: #000;
}

.h5p-goals-assessment-page .goals-assessment-view {
  color: #000;
}
