.packages-container {
  font-size: 12px;
  width: 100%;
}

.packages-container .duration {
  background-color: #20588F;
  color: white;
  text-align: right;
  padding-right: 5px;
}

.packages-container .content {
  border-left: 1px solid #ededed;
  border-right: 1px solid #ededed;
  padding: 20px;
  overflow: hidden;
}

.packages-container .content p {
  margin-bottom: 0; 
}

.packages-container .content .imagecache {
  float: left;
  margin-right: 10px;
}

.packages-container #packages-canvas {
  background-color: #ededed;
  padding: 5px 5px 0px 5px;
  clear: both;
}

.packages-container.full #packages-canvas {
  padding: 10px 10px 0px 10px;
}

.packages-container #packages-text {
  background-color: #ededed;
  text-align: center;
  font-size: 11px;
  color: #757677;
  padding-bottom: 10px;
}

.packages-container .button {
  background-color: #20588F;
  color: white;
  display: block;
  text-align: center;
  font-size: 14px;
  line-height: 40px;
}