.browser {
  text-align: left;
}


.browser legend {
  font-weight: bold;
  color: #33A333;
}

#trinn-wrapper {
  display: none;
  margin-left: 20px;
  color: #000000;
}


.deling_maalinfo_av {
  display: none;
}

.deling_maalinfo_paa {
  display: block;
}

.nygiv_maalinfo_av {
  display: none;
}

.nygiv_maalinfo_paa {
  display: block;
}

.external_maalinfo_av {
  display: none;
}

span.toggle_link {
  margin-bottom: 10px;
}

.external_maalinfo_paa {
  display: block;
}

span#span_external_list_toggle, span#span_deling_list_toggle {
  margin-left: 10px;
  font-size: 90%;
}

span.date_sent {
  float: right;
}

span.aim_info {
  font-size: 90%;
  padding: 2px;
}

img.nrk_img {
  float: left;
  margin: 4px;
  border: solid 1px #333333;
}

div.nrk_desc {
	padding: 2px;
	margin-top: 2px;
	margin-bottom: 2px;
}

li.external_title, li.assoctype_title {
  list-style-type: none;
  padding: 0;
  margin: 0;
  clear: both;
}

#trinn-wrapper .filterdiv{
  float:left;
  display: inline;
  margin-right: 6px;
  padding: 2px;
}

.clearboth {
  clear:both;
}

#grep-results-hovedomraader, #maal-wrapper {
  margin-top: 10px;
  float:left;
  width:auto;
}

#grep-results-hovedomraader li {
  list-style: none;
  font-size: 90%;
}

#grep-results-hovedomraader li a {
  display:block;
  width:100%;
  padding:4px 16px;
  color:#000000;
  font-family: Helvetica,Arial,sans-serif;
  font-size:1.1em;
  background: url(../img/plus.gif) no-repeat left center;
}

#grep-results-hovedomraader li.selected a {
  display:block;
  width:100%;
  padding:4px 16px;
  font-family: Helvetica,Arial,sans-serif;
  font-size:1.1em;
  font-weight: bold;
  background: url(../img/minus.gif) no-repeat left center;
}

.hovedomraade_dash{
  background: url(../img/dash.png) repeat-x left bottom;
  float: left;
  width: 40px;
}


#grep-results-hovedomraader {
  width:300px;
  margin-top:20px;
}

#grep-results-hovedomraader-light {
  float:left;
  width:300px;
  margin-top:20px;
}

#grep-results-hovedomraader-light li a {
  display:block;
  width:100%;
  padding:4px 0px;
  color:#000000;
  font-family: Helvetica,Arial,sans-serif;
  font-size:1.1em;
}

#grep-results-hovedomraader-light li.selected a {
  display:block;
  width:100%;
  padding:4px 0px;
  font-family: Helvetica,Arial,sans-serif;
  font-size:1.1em;
  font-weight: bold;
}

#grep-results-kompetansemaal-light {
  float:left;
  padding:10px 10px 10px 15px;
  width:500px;
  max-height: 300px;
  overflow: auto;
}


#maal-wrapper{
  padding:10px 10px 10px 15px;
  width:560px;
  max-height: 400px;
  overflow: auto;
}

#maal-wrapper h2 {
  font-family:Arial, Helvetica, sans-serif;
  font-size:1em;
  font-weight:bold;
  color: #000000;
}

#maal-wrapper ul li {
  border-bottom: dotted 1px #cccccc;
  padding:5px 0px 5px 0px;
  list-style: none;
}

#maal-wrapper ul li a {
  color: #5666D7;
}

#edit-resource-name-scope-wrapper {
  display:none;
}

#resource_name-message {
  display: none;
}


#kompetansemaal-trinn-hidden,#kompetansemaal-hidden {
  display: none;
}

.filterdiv {
  cursor: pointer;
}

.error {
  border: solid 1px #ff0000;
}

#edit_assocs_status_message, #add_assoc_status_message , #delete_assoc_status_message {
  width: 300px;
  padding: 10px;
  border: solid 1px #33A333;
  font-weight: bold;
  margin: 4px;
  display: none;
}

.toggle_modal {
  display: none;
/*  width: 300; */
  border: solid 1px #33A333;
  padding: 2px;
}

/* STYLING LISTINGS */
.assoctype_title {
  color: #333333;
  font-weight: bold;
  margin-bottom: 2px;
}

.assoctype_title ul li{
  padding-bottom: 5px;
}

.aim_title {
  font-weight: normal;
}

#relations ul li {
  list-style-type: none;
  margin-bottom: 4px;
}

.external_hidden {
  display:none;
}

/* SHOW AIMS*/

#show_aim_wrapper{
 margin: auto;
 width: 580px;
 height: 480px;
}

#modalContainer{
  background-color: #ffffff;
}

#show_aim_grep_legend {
  color: #393939;
  font-size: 1.2em;
  padding: 2px;
  margin-bottom: 20px;
}

#show_aim_grep_breadcrumb {
	color: #7490B5;
}

#show_aim_resources_toolbar{
 clear: both;
 border: solid 1px #E5E5E5;
 height: 30px;
 padding-top: 10px;
}

.ui-tabs-nav ul li {
	padding: 6px;
	width: 150px;
	margin: auto;
}

.ui-tabs-selected {
	border: solid 1px #E5E5E5;
}

#show_aim_resources_toolbar #show_aim_resources_toolbar_search {
	float : left;
}

#show_aim_resources_toolbar #show_aim_resources_toolbar_sort {
	
	background: url("../img/down-arrow.png") no-repeat scroll right bottom transparent;
    float: right;
    height: 14px;
    width: 50px;
    margin-top: 4px;
    
}

#show_aim_resources_toolbar_sort_label {
	/*
	margin-right: 20px;
	color: #B4B5B6;
	font-size: 0.9em;
	*/
	cursor: pointer;
	float:right;
	height: 14px;
    margin-right: 20px;
    color: #B4B5B6;
    height: 14px;
    font-size: 0.9em;
}

#show_aim_resources_toolbar_search {
	background: url(../img/search.png ) no-repeat left bottom;
	margin-left: 10px;
}

#show_aim_resources_toolbar_search input {
	margin-left: 20px;
	border: none;
	font-style: italic;
	font-size: 1.1em;
	color: #B4B5B6 ;
}

#ndla_tab, #deling_tab,#nygiv_tab {
	height: 270px;
	margin: 2px 0 0 10px;
	overflow: auto;
	padding: 0;
}

#ndla_tab ul li,#deling_tab ul li,#nygiv_tab ul li {
    float: none;
    padding: 4px;
}

#ndla_tab ul li.res_odd,#deling_tab ul li.res_odd,#nygiv_tab ul li.res_odd {
    background-color: #f5f5f5;
}

#ndla_tab ul li span.show_aim_linkspan,#deling_tab ul li span.show_aim_linkspan{
	float: none;
	padding-bottom: 4px;
	padding-left: 35px;
	padding-top: 4px;
	display: block;
	height: 20px;
}

#nygiv_tab ul li span.show_aim_linkspan{
	float: none;
    padding-bottom: 4px;
    padding-left: 5px;
    padding-top: 4px;
    display: block;
    height: 20px;
}

span.show_aim_linkspan{
	color: #000000;
	cursor: pointer;
	cursor: hand;
}

span.show_aim_linkspan:hover{
	color: #7490B5;
	text-decoration: underline;
}

.block-ndla_ontopia_connect .relatedContent li {
    list-style: none outside none;
    margin: 0;
    padding-top: 1px;
    padding-left: 30px;
}

.block-ndla_ontopia_connect .relatedContent li.dekker-delvis {
	background: url("../img/dekker-delvis.png") no-repeat scroll left top transparent;
}

.block-ndla_ontopia_connect .relatedContent li.dekker-mer-enn {
    background: url("../img/dekker-mer-en.png") no-repeat scroll left top transparent;
}

.block-ndla_ontopia_connect .relatedContent li.dekker-helt {
    background: url("../img/dekker-helt.png") no-repeat scroll left top transparent;
}

#ndla_tab ul li.dekker-delvis span.show_aim_linkspan,#deling_tab ul li.dekker-delvis span.show_aim_linkspan{
	background: url(../img/dekker-delvis.png ) no-repeat left bottom;
}

#ndla_tab ul li.dekker-helt span.show_aim_linkspan,#deling_tab ul li.dekker-helt span.show_aim_linkspan{
    background: url(../img/dekker-helt.png ) no-repeat left bottom;
}
#ndla_tab ul li.dekker-mer-enn span.show_aim_linkspan,#deling_tab ul li.dekker-mer-enn span.show_aim_linkspan{
    background: url(../img/dekker-mer-en.png ) no-repeat left bottom;
}

.ui-tabs-nav #show_aim_tabs li {
	background-color: #F1F1F1;
}

.ui-tabs-nav #show_aim_tabs li.ui-tabs-selected {
    background-color: #ffffff;
}

.ui-tabs .ui-tabs-nav li.res_odd{
	width: 92%;
}

#ndla_tab ul li.dekker-delvis.res_odd span.show_aim_linkspan,#deling_tab ul li.dekker-delvis.res_odd span.show_aim_linkspan{
    display: inline;
}

#ndla_tab ul li.dekker-mer-enn.res_odd span.show_aim_linkspan,#deling_tab ul li.dekker-mer-enn.res_odd span.show_aim_linkspan{
    display: inline;
}
#ndla_tab ul li.dekker-helt.res_odd span.show_aim_linkspan,#deling_tab ul li.dekker-helt.res_odd span.show_aim_linkspan{
    display: inline;
}

#ndla_tab ul li.dekker-delvis.res_even span.show_aim_linkspan,#deling_tab ul li.dekker-delvis.res_even span.show_aim_linkspan{
    display: inline;
}

#ndla_tab ul li.dekker-mer-enn.res_even span.show_aim_linkspan,#deling_tab ul li.dekker-mer-enn.res_even span.show_aim_linkspan{
    display: inline;
}
#ndla_tab ul li.dekker-helt.res_even span.show_aim_linkspan,#deling_tab ul li.dekker-helt.res_even span.show_aim_linkspan{
    display: inline;
}

#nygiv_tab ul li.yrkesrelevant.res_odd span.show_aim_linkspan{
	background-color: #f5f5f5;
}

#ndla_tab_more,#deling_tab_more,#nygiv_tab_more {
	margin-left: 50px;
}

.ndla_show_aim_hidden,.deling_show_aim_hidden,.nygiv_show_aim_hidden {
	display: none;
}

.ndla_tab_more_counter {
    font-weight: bold;	
}

.show_aim_node_type {
	color: #999999;
	font-style: oblique;
}


.tab_view_more{
	background: url(../img/viewmore-arrow.png ) no-repeat left bottom;
	padding-left: 15px;
	margin-left: 20px;
	color: #7490B5;
}

.ui-tabs #show_aim_resources_toolbar_sort_popup {
	float: right;
    left: 100px;
    margin-right: 46px;
    position: relative;
    top: 27px;
    padding: 2px;
}

.ui-tabs #show_aim_resources_toolbar_sort_popup #show_aim_resources_toolbar_sort_popup_list{
	margin: 0;
	padding: 0;
	display: none;
	z-index: 100;
}


.ui-tabs #show_aim_resources_toolbar_sort_popup #show_aim_resources_toolbar_sort_popup_list li.show_aim_resources_toolbar_sort_popup_list_item{
	border: 1px solid #E5E5E5;
    display: block;
    float: none;
    height: 30px;
    list-style: none outside none;
    margin: 0 1px 0 0;
    padding: 0;
    width: 120px;
}


.ui-tabs #show_aim_resources_toolbar_sort_popup #show_aim_resources_toolbar_sort_popup_list li.show_aim_resources_toolbar_sort_popup_list_item a {
    width: 94px;
    cursor: pointer;
    cursor: hand;
}

.ui-tabs #show_aim_resources_toolbar_sort_popup #show_aim_resources_toolbar_sort_popup_list li.show_aim_resources_toolbar_sort_popup_list_item a:hover {
    background-color: #7490B5;
    color: #ffffff;
}

#show_aim_title{
  padding: 2px;
  margin-top: 5px;
}

.dash{
  background: url(../img/dash.png) repeat-x left bottom;
  float: left;
  width: 100px;
}

.hovedomraade_title, .laereplan_title{
  width: 90%;
  color: #9A9A9A;
  padding: 2px;
  font-weight: bold; 
  clear: both;
}


#show_aim_resources{
	
}


.aim_value {
  width: 68%;
  color: #0033CD;
  font-weight: bold;
  margin-bottom: 20px;
  padding: 2px;
  float: left;
}

.aim_value.aim {
  font-style: oblique;
}

.aim_value a{
  font-style: oblique;
  color: #0033CD;
  text-decoration: none;
}

.assoc_title_item {
  list-style: none;
  width: 80%;
  padding: 4px;
  margin-bottom: 4px;
}

.assoc_title {
  width: 90%;
  color: #9A9A9A;
  padding: 2px;
  font-weight: bold;
}

.assocced_resources { 
  list-style: none;
  padding: 6px;
}

.plan_selected a{
  color: #333333;
}

#navContent{
  background-color: #E9E9E9;
}

.navContentTabs {
  margin-bottom: 10px;
  padding-bottom: 10px;  
}


.filter-button, .curriculum-wrapper {
  margin-top: 10px;
}

#assoc_resource_list {
  padding-left: 10px;
  border-left: 1px dashed #7A797E;
  max-height: 400px;
  overflow: auto;
}

.ochidden {
  display: none;
}

.grep_first_level a span {
  background-color: #F3F3F3;
  padding: 0px 5px 0px 5px;
  margin-left: -5px;
}

#grep-results-kompetansemaal {
  border-left: 1px dashed #666;
  margin-left: -10px;
  padding-left: 10px;
}

.form-text-nodeurl,.form-text-nodetitle {
  border: none;
  background-color: #E9E9E9;
  color: #33A333;
}


#laereplaner, #laereplan_curriculum_tree {
  background-color: #F5F6CE;
}

.active-tab {
	border-top: solid 1px #11B700;
	border-left: solid 1px #11B700;
	border-right: solid 1px #11B700;
	font-weight: bold;
	padding: 4px 4px 2px;
	background-color: #F5F6CE;
	width: 100px;
}


#all_link, #user_link {
  display: none;
  float: left;
  width: 120px;
}

#all_deling_link {
	float: right;
  display: none;
}

#all_deling_link a {
	position: relative;
  top: -30px;
}


#curriculum_tree {
	clear: both;
}

.inactive-tab {
	border-top: solid 1px #11B700;
  border-left: solid 1px #11B700;
  border-right: solid 1px #11B700;
  font-weight: normal;
  padding: 4px 4px 2px;
  width: 100px;
}

.inactive-tab a {
  text-decoration: none;
  color: #11B700;
}

.port_assoctypes {
  padding: 6px;
  background-color: #F2F5A9;
  font-weight: bold;
}

.deling_aim_window {
  width: 800px;
  height: 500px;
  padding: 20px 0px 10px 10px;
  border: solid 2px #999999;
  background-color: #E9E9E9;
  position: absolute;
  top: 20%;
  left: 50%;
  margin-left: -400px;
  display: none;
}


.ndla_aim_window{
  width: 600px;
  height: 500px;
  padding: 20px 0px 10px 10px;
  border: solid 2px #999999;
  background-color: #ffffff;
  position: absolute;
  left: 73px;
  display: none;
  z-index: 100;
}

#show_aims_close_button {
	clear: both;
	background: url(../img/cross.png) no-repeat top center;
	width: 16px;
	height: 16px;
	float: right;
	margin-right: 20px;
	cursor: pointer;
	cursor: hand;
}

.aim_window_loader_en {
  background: url(../img/aim_window_loader_en.gif) no-repeat top center;
  height: 102px;
  width: 102px;
  position: relative;
  top: 35%;
  left: 42%;
}

.aim_window_loader_nn {
  background: url(../img/aim_window_loader_nn.gif) no-repeat top center;
  height: 102px;
  width: 102px;
  position: relative;
  top: 35%;
  left: 42%;
}

.search_aim_window_loader_nn {
  background: url(../img/search_aim_window_loader_nn.gif) no-repeat top center;
  height: 102px;
  width: 102px;
  position: relative;
  top: 35%;
  left: 42%;
}

.aim_window_loader_nb {
  background: url(../img/aim_window_loader_nb.gif) no-repeat top center;
  height: 102px;
  width: 102px;
  position: relative;
  top: 35%;
  left: 42%;
}


#grep_search_span {
  display: inline; 
  float:right;
  margin-right: 10px;
}

/* Search competence aims*/
 #search_competence_aim_wrapper {
  width: 90%
  margin: auto;
  border: 1px solid #11B700;
  background-color: #F5F6CE;
  text-align: left;
 }

#search_competence_aim_wrapper legend{
 padding: 4px;
 color: #33A333;
 font-weight: bold;
}
 
#competence_aim_search_field_wrapper {
 padding: 0px 10px 10px 10px;
}

#competence_aim_search_field_wrapper label {
 padding: 4px;
 color: #33A333;
 font-weight: bold;
}

#competence_aim_search_view {
}

#competence_aim_search_view .error {
  padding: 10px 10px 10px 16px;
}

.apprentice{
  display: none;
}

.relation_hide {
	display:none;
}

#laerling_check_wrapper {
  margin-top: -20px;
  float: left;
}

.relatedContent{
	margin-bottom: 15px;
	margin-top: 10px;
}

a.laerling_show {
    background: url("/sites/all/themes/ndla2010/img/show_more.gif") no-repeat scroll left center transparent;
    display: inline;
    padding-left: 18px;
    padding-right: 5px;	
}

a.laerling_hide {
    background: url("/sites/all/themes/ndla2010/img/show_less.gif") no-repeat scroll left center transparent;
    display: inline;
    padding-left: 18px;
    padding-right: 5px; 
}



.aim_window_loader_white_nb {
  background: url(../img/aim_window_loader_white_nb.gif) no-repeat top center;
  height: 102px;
  width: 102px;
  position: relative;
  top: 35%;
  left: 42%;
}
