.ontopia-searchresults {
  margin-top: 20px;
}

.ontopia-searchresults h4 {
  font-size: 14px;
  font-weight: bold;
}

.ontopia-searchresults ul {
  margin-left: 10px;
}

.ontopia-searchresults ul li {
  list-style: none;
}