@CHARSET "UTF-8";
/* GREP TREE */

.GREPTreeView {
	border: 1px solid #11B700;
  padding: 5px;
}


.expandNode
{
  cursor: pointer;
  width: 16px;
  height: 16px;
  background-color: #000;
  margin-right: 8px;
  float: left;
}

.expand
{
  background: url(../img/plus.png) no-repeat;
}

.collapse
{
  background: url(../img/minus.png) no-repeat;
}

.NodeContents
{
  border-left: 6px solid #5E610B;
  margin-left: 4px;
  display: none;
  padding-left: 5px;
}

.ItemTxt {
	clear: both;
  padding: 2px 5px;
  margin-bottom: 2px;
	
}




/** BATCH DELETE **/

.grep-ressurs-nodeinfo {
  border: solid 1px #5E610B;
  padding: 6px;
  background-color: #E9E9E9;
  color: #333333;
  margin-top: 5px;
}

.grep-ressurs-nodeinfo strong {
	color: #5E610B;
}

.batch_close_butt {
  float: right;
  background: url(../img/cross.png) no-repeat center left;
  height: 20px;
  width: 20px;
  cursor: pointer;
}

.GREPTreeView {
  margin-bottom: 5px;
}

.message_node {
  padding: 6px;
  margin-left: 10p;
  color: #ff0000;
}

/* PORT ORPHANS */

.GREPTreeView_Port {
	margin-top: 5px;
  border: 1px solid #8000FF;
  padding: 5px;
  background-color: #E3CEF6;
}
.port_assoctypes {
  border: 1px solid #CECEF6;
  padding: 5px;
  background-color: #E0ECF8;
}

.new_curriculum_title {
	margin-top: 10px;
  font-weight: bold;
  color: #8000FF;
  
}