div#from {
  float: left;
  background-color: #F2F2F2;
  padding: 0 20px;
  margin: 0 10px 10px 0;
  width: 200px;
}

div#to {
  float: left;
  background-color: #F2F2F2;
  padding: 0 20px;
  margin: 0 0 10px 0;
  width: 200px;
}

div#submit {
  clear: both;
}

div#result {
  clear: both;
  background-color: #F2F2F2;
  width: 450px;
  padding: 20px;
  display: none;
}

div#list {
  background-color: white;
  padding: 10px;
  margin-top: 20px; 
}