#contentbrowser {
  padding: 10px 10px 10px;
}

#contentbrowser_search_results {
	
}

.contentbrowser img {
  margin-top: 5px;
}

/* Small div which contains the thumbnail in search results */
.contentbrowser_thumbnail {
	padding: 5px 5px 5px;
	margin: 5px 5px 5px;
  background: #ddd;
	float: left;
	height: 200px;
	width: 170px;
	text-align: center;
}

.contentbrowser_thumbnail p {
  margin-bottom: 5px;
}

#contentbrowser_wrapper {
  width: 800px;
}

#contentbrowser_details_form {
  width: 400px;
  text-align: left;
}

#contentbrowser_node_details {
  padding: 10px 10px 10px;
  font-size: 12px;
  width: 200px;
  float: right;
  background: #eee;
  height: 100%;
}

.contentbrowser_pager ul.pager {
  text-align: left;
}

.contentbrowser_caption {
  font-size: 0.8em;
  display: block;
}

ul.contentbrowser_relations {
  list-style-type:none;
  margin:0;
  padding:0;
}

ul.contentbrowser_relations a {
  color:#3366CC;
  text-decoration:none;
}

.contentbrowser img.double_border {
  border: double 4px black;
}

.contentbrowser img.single_border {
  border: solid 1px black;
}

.contentbrowser img.border_bottom {
  border-bottom: double 3px black;
}

.contentbrowser_float_right, div[style='float: right;'] .contentbrowser {
  margin-left: 10px;
  margin-right: 0px;
  float: right;
}

.contentbrowser_float_left {
  float: left;
}

.contentbrowser_float_right img, div[style='float: right;'] .contentbrowser img {
  margin-right: 0px;
}

.right .contentbrowser.block-element .contentbrowser_caption, .right .contentbrowser.block-element img {
  display: block;
  margin: 0 auto;
}

.frame .contentbrowser img {
  max-width:100%;
}

.contentbrowser img.single_border {
  margin-right: 10px; 
}

.right .contentbrowser img.single_border {
  margin-right: inherit;
}

span.contentbrowser_margin_right {
  margin-right: 10px;
}

span.contentbrowser_margin_right img.margin_right {
  margin-right: 0px;
}

span.contentbrowser_margin_left {
  margin-left: 10px;
}

span.contentbrowser_margin_left img.margin_left {
  margin-left: 0px;
}

.contentbrowser img.single_border {
  margin-right: 10px;
}

.right .contentbrowser img.single_border {
  margin-right: inherit;
}

.contentbrowser_caption {
  line-height: 1.5em;
}

.contentbrowser img.double_underline {
  border-bottom: 3px double black;
}

.contentbrowser img.single_underline {
  border-bottom: 1px solid black;
}

.apachesolr-sort-dropdown {
    margin-top: 15px;
}

.contentbrowser img.margin_right {
  margin-right: 10px;
}

.frame iframe.istribute_video {
  max-width: 100%;
}

.contentbrowser-tooltip {
  display: none;
}