#ndla_fag_tabs_map {
  clear:both;
  width:100%;
}

#ndla_fag_tabs_map_type_terms_div {
  width:25%;
  float:left;
}

#ndla_fag_tabs_map_result_div {
  width:75%;
  float:left;
}

.ndla_fag_tabs_map_item {
  white-space:nowrap;
  clear:both;
}
