* {
  margin: 0;
  padding: 0; }
html, body {
  height: 100%;
}
body {
  font-size: 87.5%;
  /*font-family: 'Helvetica Neue', Arial, 'Liberation Sans', FreeSans, sans-serif;*/
  font-family: Arial, sans-serif, STKaiti, "华文楷体", SimKai, "中易楷体";
  color: #111111;
}

:lang(zh_HANS), :lang(zh-HANS) {
    font-size: 1.15em;
    font-family: STKaiti, "华文楷体", SimKai, "中易楷体";
}

:lang(zh_HANT), :lang(zh-HANT) {
    font-size: 1.15em;
    font-family: STKaiti, "华文楷体", DFKai-SB, "標楷體";
}

body.simplemenu-enabled table td {
  padding: 0 3px;
}

body.password-protected #page-content {
  display: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  font-family: 'Open Sans', Arial, sans-serif, STKaiti, "华文楷体", SimKai, "中易楷体";
}

h2 {
  font-size: 1.286em; /* 18px */
}

p {
  margin-bottom: 20px; }

a {
  text-decoration: none;
  color: #20588F; }
  a:hover {
    text-decoration: underline; }
  a img {
    border: none; }

.max-links-show-more {
  text-align:right;
}

.max-links-show-more a {
  padding-right: 5px;
  background: url("../img/show_more.gif") no-repeat;
  background-position: left center;
  display: inline;
  padding-left: 18px;
}

.max-links-show-more a.max-links-show-more {
  background: url("../img/show_more.gif") no-repeat;
}

.max-links-show-more a.max-links-show-less {
  background: url("../img/show_less.gif") no-repeat;
  display: none;
}

ul {
  padding-left: 1.4em; }

ol {
  padding-left: 1.9em; }

ul, ol {
  margin-bottom: 20px; }

.block-tab {
  padding: 0 20px;
  background: #ededed;
  line-height: 50px;
  color: #000;
  font-weight: 400;
}

.new-content-image-wrapper {
  float: left;
}

.recommend .new-content-image-wrapper {
  position: relative;
}

.slideshow-feeds .new-content-image-wrapper {
  float: none;
}

.slideshow-feeds p.new-content, .recommend .slideshow-feeds h3 {
  margin: 0;
}

.recommend .slideshow-feeds h3 {
  margin-bottom: 10px;
}

.sprite-image {
  background: transparent url("../img/sprites.png") no-repeat; }

.close-window {
  width: 18px;
  height: 17px;
  background-position: -46px -37px;
  cursor: pointer; }
  .close-window:hover {
    background-position: -46px -60px; }

.amendor-ios-wrapper {
  width: 720px;
  overflow: hidden; }

#iosframe {
  background: #fff;
}

.apachesolr-sort-dropdown {
  position: absolute;
  right: 32px;
  margin-top: -6px;
}

#container {
  clear: both;
  min-height: 100%;
  position: relative;
  margin: 0; }
#container.w960 {
 }
.center-layout {
  width: 1240px;
  position: relative;
  margin: 0 auto; }
.w960 .center-layout {
  width: 940px;
}

body.simplemenu-enabled.admin-menu #container {
  position: static;
}

#footer .center-layout {
  width: 940px;
}

.footer-about {
  margin-left: 155px;
}

.w960 .footer-about {
  margin-left: 0px;
}

#header {
  position: relative;
 }
 #header .center-layout {
  position: relative;
  height: 120px;
 }
  #header a {
    text-decoration: none;
    color: #111111; }
/*  #header .login a {
    color: #fff;
  }*/
  #header .logo {
    margin: 40px 20px 20px 0px;
    margin-left: 0px;
    float: left;
    }
    #header .logo a {
      float: left;
      display: block;
    }
    #header .logo img {
      float: left;
    }
  #header .links {
    float: right;
    list-style: none;
    margin-top: 5px;
    font-size: 0.86em;
    position: relative;
    background: url('../img/topbar_bg.png') no-repeat 0 0 transparent;
    padding: 10px 10px 10px 100px;
    z-index: 2000;
   }
    #header .links li {
      float: left;
      padding: 0;
      margin-left: 10px;
    }
  #header .language {
    cursor: pointer; }
    #header .language span {
      width: 12px;
      margin-left: 3px;
      height: 8px;
      display: inline-block;
      background: url("../img/icons.png") no-repeat -12px -5px; }

  .front #header .center-layout {
    background: url("../img/header_bg.jpg") no-repeat 100% 100%;
    height: 120px;
  }

#header .links .resourcemap-li {
  margin-left: 3px;
}
#authndlaProfileLink {
  position: absolute;
  right: 10px;
  top: 0;
  margin-top: -19px;
  height: 15px;
  overflow: hidden;
  white-space: nowrap;
  max-width: 200px; }

#language-switcher {
  display: none;
  position: absolute;
  min-width:75px;
  background: #fff;
  z-index: 201;
  border-bottom: 1px solid #B1B1B1;
  padding-bottom: 10px;
  margin: 0 0 0 2px; }

    #language-switcher .content ul {
      border-top: 1px solid #b1b1b1;
      margin: 0;
      padding: 5px;
      text-align: center;
      list-style: none;
      }
      #language-switcher .content ul li {
        padding: 0;
        float: none; }
  #language-switcher a {
    margin-left: 2px;
    display: block;
    color: #000; }
    #language-switcher a:hover {
      text-decoration: underline;
      color: #20588F;
      background: #fff; }

#header #fag-title {
  float: left;
  font-size: 1.1em;
  font-weight: bold;
  margin-left: 20px;
  position: relative;
  top: 37px
}
    #header #fag-title .fag-title-wrap {
    position: relative;
    z-index: 201; }
  #header #fag-title .fag-title-wrap.ndlaktuelt {
    margin-left: 50px;
  }
  #header #fag-title img {
    position: absolute;
    top: 0;
    left: 105px; }
  #header #fag-title .fag-title, #header #fag-title .arrow {
    white-space: normal;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    line-height: 1.3em;
    color: #000; }

  #header #fag-title a {
    float: none;
    display: inline;
  }

  #header #fag-title .fag-title {
    padding-bottom: 3px; }
  #header #fag-title .arrow {
    width: 54px;
    height: 41px;
    text-align: center;
    margin-top: -3px; }
  #header #fag-title .arrow.no-subject {

  }
    #header #fag-title span .arrow:hover {
      background-position: 0px -122px; }
    #header #fag-title span .arrow.active {
      background-position: 0px -163px; }
      #header #fag-title span .arrow.active:hover {
        background-position: 0px -204px; }
  #header #fag-title span.white a.arrow {
    background-position: 0px -245px; }
    #header #fag-title span.white a.arrow:hover {
      background-position: 0px -245px; }
    #header #fag-title span.white a.arrow.active {
      background-position: 0px -163px; }
      #header #fag-title span.white a.arrow.active:hover {
        background-position: 0px -204px; }
  #header #fag-title span.white .fag-title {
    color: #fff; }

#header .course_img {
  position: absolute;
  right: 0;
  bottom: 0;
}

#course-browser {
  display: none;
  position: absolute;
  width: 312px;
  left: 394px;
  top: 36px;
  z-index: 200; }
  #course-browser .top {
    background: #ededed;
    height: 10px; }
  #course-browser .clear-input {
    display: block;
    position: absolute;
    width: 19px;
    height: 19px;
    background: url("../img/sprites.png") no-repeat -64px -56px;
    right: 24px;
    top: 24px;
    cursor: pointer; }

  #course-browser .content {
    background: #ededed;
    padding: 0 7px; }
    #course-browser .content input[type=button]::-moz-focus-inner {
      border: 0;
      padding: 1px 0 0 0; }
    #course-browser .content input[type=button] {
      margin: 0 25px 12px;
      padding: 4px;
      font-size: 13px;
      border: 1px solid #bdbdbd;
      cursor: pointer;
      border-radius: 2px; }
    #course-browser .content input[type=checkbox] {
      position: absolute;
      left: 32px;
      margin-top: 6px; }
  #course-browser .courses-loading {
    color: #000;
    padding: 15px 15px 11px 15px;
    text-align: center; }
  #course-browser .header {
    padding: 12px 15px 10px;
    overflow: hidden;
    border-bottom: 1px solid #b1b1b1;}
    #course-browser .header input {
      position: absolute;
      right: 22px;
      width: 130px;
      border: 1px solid #b1b1b1;
      padding: 3px 21px 3px 3px;
      font-size: 14px; }
    #course-browser .header ul {
      list-style: none;
      padding: 0;
      margin: 0;
      background: none;
      min-height: 0; }
    #course-browser .header li {
      float: left;
      padding: 0 15px;
      cursor: pointer; }
      #course-browser .header li a {
        color: #20588F;
        padding: 0;
        font-size: 0.9em; }
      #course-browser .header li:hover {
        background: none;
        text-decoration: underline; }
    #course-browser .header .first {
      border-right: 1px solid #b1b1b1;
      padding-left: 0; }
    #course-browser .header .selected {
      font-weight: bold; }
  #course-browser .inner {
    padding: 15px 0;
    min-height: 20px; }
  #course-browser h2 {
    text-transform: uppercase;
    color: #4d4d4d;
    margin: 15px 25px 10px;
    font-size: 12px; }
  #course-browser ul {
    margin: 0;
    padding: 0;
    list-style: none; }
  #course-browser li:hover {
    background: #fff; }
  #course-browser li a {
    color: #000;
    display: block;
    padding: 5px 25px; }
    #course-browser li a:hover {
      text-decoration: underline;
      color: #20588F; }
    #course-browser li a.no-go {
      padding-left: 50px; }
      #course-browser li a.no-go:hover {
        text-decoration: none;
        color: #000; }
  .not-logged-in {
    padding: 25px; }
    .not-logged-in a {
      color: #20588F; }
      .not-logged-in a span {
        background: url("../img/sprites.png") no-repeat -51px -283px;
        padding-left: 15px;
        height: 17px;
        display: inline-block;
        vertical-align: bottom;
        margin-right: 5px; }
      .not-logged-in a:hover {
        text-decoration: underline; }
  #course-browser .bottom {
    height: 10px; }

#indev {
  line-height: normal;
  color: #8E000E;
  text-transform: uppercase;
  font-size: 8px;
  top: 28px;
  position: absolute;
  margin-left: 1px;
  z-index:201;
}

.get-back {
  z-index: 1;
}

#navigation {
  position: relative;
  background: #20588F;
  overflow: visible;
  height: 50px;
  }
  #navigation ul {
    list-style: none;
    margin: 5px 0 0 0;
    padding: 0;
    float: left;
  }
  #navigation li {
    cursor: pointer;
    float: left;
    padding: 0 20px;
    position: relative;
    color: #393939;
    line-height: 45px;
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
    }
    #navigation li span {
      display: block;
    }
      #navigation li span a {
        color: #fff;
        display: block;
        font-family: 'Open Sans', Arial, sans-serif;
        font-weight: 600;
        font-size: 16px;
        }
        #navigation li span a:hover {
          text-decoration: none;
          color: #000;
        }
  #navigation li:hover, #navigation li:hover a  {
    background: #ededed;
    color: #000;
  }

  #navigation .tab-default {
    font-weight: bold; }
    #navigation.left-menu-active-tab .tab-default div.focus-icon {
      background-position: 0 -522px;
      height: 20px; }
  #navigation .focus-icon {
    display: none; }
  #navigation .tab-default .focus-icon {
    display: block;
    background-position: 0 -522px;
    width: 66px;
    height: 20px;
    position: absolute;
    left: 3px;
    top: 11px;
    z-index: 93; }
  #container.w960 .tab-default .focus-icon {
    background-position: 0 -461px;
    height: 36px; }
  #navigation.left-menu-active-tab .tab-default.active div.focus-icon, #navigation li.tab-default.left-menu-tab-selected div.focus-icon {
    background-position: 0 -400px;
    height: 60px; }
  #container.w960 li.tab-default.left-menu-tab-selected div.focus-icon {
    top: 12px; }
  #navigation #left-menu-tabs li.left-menu-tab-selected {
    position: relative;
    z-index: 93;
    line-height: 45px;
    background: #ededed;
  }

#navigation #left-menu-tabs .left-menu-tab-selected:hover {
  background: #ededed; }
#navigation .left-menu-tab-selected.tab-default .focus-icon, #navigation .active.tab-default .focus-icon {
  left: 13px;
  top: 5px;
  height: 60px; }
#navigation .active.tab-default .focus-icon {
  top: 10px; }
#navigation .left-menu-tab-selected span {
  border: none; }
#navigation .left-menu-tab-selected span a {
  color: #000;
}
#navigation #search {
  font-size: 12px;
  float: right;
  white-space: nowrap;
  margin-top: 5px;
}
.js .form-submit-border {
  display: none;
}

#navigation #grep, #navigation .resourcemap-button {
  color: #fff;
  background: #366a9a;
  cursor: pointer;
  vertical-align: top;
  display: inline;
  margin-right: 10px;
  font-size: 14px;
}

#navigation #grep, #navigation .resourcemap-button {
  font-size: 12px;
  padding: 0px 10px;
  line-height: 27px;
  vertical-align: middle; 
  float: right;
  margin-top: 11px;
  color: #fff;
}

#navigation input {
  margin: 0;
  padding: 4px 22px 4px 4px;
  font-size: 15px;
  color: #393939;
  vertical-align: middle; }
#navigation .form-text {
  border: none;
  margin-right: 0px;
  background-position: 99% 26px;
  background: #f1f1f1;
  width: 210px;
  font-size: 12px;
  padding: 0 10px;
  line-height: 27px;
  height: 27px;
  float: left;
  }
  #navigation .search-icon {
    background: #fff;
    line-height: 27px;
    height: 27px;
    margin: 0;
    color: #AAA;
    padding: 0 0 0 10px;
    float: left;
  }
  #navigation .form-text.throbbing {
    background-position: 99% -14px }
  #navigation .form-text:focus {
    outline: none;
    background: #fff;
  }
#navigation input[type='submit']::-moz-focus-inner {
  border: 0;
  margin: 0;
  padding: 0; }
/*#navigation .form-submit-border {
  display: inline-block;
  border: 1px solid #c2c2c2;
  vertical-align: middle;
  font-size: 9px;
  border-radius: 4px; }*/
#navigation .form-submit {
  vertical-align: middle;
  padding: 5px 8px 4px;
  font-size: 15px;
  cursor: pointer;
  margin: 0;
  color: #4d4d4d;
}
#navigation #tray-tabs {
  margin-left: 197px; }
  #container.w960 #tray-tabs {
    margin-left: 0; }
/*#navigation li.active.tray-tab:first-child {
  border-left: 0;
  left: 3px;
  height: auto; }*/
#container.w960 .no-left .tray-tab:first-child {
  border-left: none; }
#navigation #tray-tabs li.active a {
  color: #000;
}
#container.w960 #tray-tabs li.active {
  left: -1px; }
#container.w960 #tray-tabs li:first-child.active {
  left: 3px; }

#navigation li.active,
#navigation #tray-tabs li.active span.ndla2010-tab-center,
#navigation .left-menu-tab-selected span.ndla2010-tab-center {
  background: #ededed;
  border-right: 0;
}
#navigation .left-menu-tab-selected span.ndla2010-tab-center {
  background: #ededed; }

#left-menu-menu-content.ndla_node_export {
  background: #f5f5f5; }

#container span.ndla2010-shadow-top-left, #container span.ndla2010-shadow-top-right {
  position: absolute;
  display: block;
  width: 10px;
  background: url("../img/shadows-1.png") no-repeat 0px 0px;
  padding: 0;
  height: 10px;
  border-right: 0;
  top: 0; }

#left-menu-tabs span.ndla2010-shadow-top-left, #left-menu-tabs span.ndla2010-shadow-top-right, #left-menu span.ndla2010-shadow-top-left, #left-menu span.ndla2010-shadow-top-right, #tray-tabs span.ndla2010-shadow-top-left, #tray-tabs span.ndla2010-shadow-top-right {
  display: none; }

#container.w960 .left-menu-tab-selected span.ndla2010-shadow-top-left, #container.w960 .left-menu-tab-selected span.ndla2010-shadow-top-right, #container.w960 #left-menu span.ndla2010-shadow-top-left, #container.w960 #left-menu span.ndla2010-shadow-top-right {
  background-position: 0px -95px;
  display: block; }

#container.w960 .left-menu-tab-selected span.ndla2010-shadow-top-right {
  background-position: 0px -105px; }

#tray-tabs .active span.ndla2010-shadow-top-left, #tray-tabs .active span.ndla2010-shadow-top-right {
  display: block;
}

#container span.ndla2010-shadow-top-left {
  left: -10px; }
#container span.ndla2010-shadow-top-right {
  right: -10px;
  background-position: 0px -10px; }

#navigation li span.ndla2010-shadow-left, #navigation li span.ndla2010-shadow-right {
  display: none;
  border-right: 0; }
#navigation li.active span.ndla2010-shadow-left, #navigation li.active span.ndla2010-shadow-right, #navigation .left-menu-tab-selected span.ndla2010-shadow-left, #navigation .left-menu-tab-selected span.ndla2010-shadow-right {
  display: block;
  position: absolute;
  top: 10px;
  padding: 5px 10px 5px 0;
  background: #ededed;
  height: 26px; }
#navigation .left-menu-tab-selected span.ndla2010-shadow-left, #navigation .left-menu-tab-selected span.ndla2010-shadow-right {
  width: 0px;
  background: #ededed;
  height: 38px;
  padding: 0;
  top: 0; }
#navigation .left-menu-tab-selected span.ndla2010-shadow-left {
  margin-left: 6px;
  border-left: 1px solid #b1b1b1;
  left: -7px; }
#navigation .left-menu-tab-selected span.ndla2010-shadow-right {
  margin-right: 6px;
  border-right: 1px solid #b1b1b1;
  right: -7px; }
#container.w960 .left-menu-tab-selected span.ndla2010-shadow-left, #container.w960 .left-menu-tab-selected span.ndla2010-shadow-right {
  background: #ededed;
  margin: 0;
  width: 10px;
  border: 0;
  top: 10px;
  height: 36px; }
#container.w960 .left-menu-tab-selected span.ndla2010-shadow-right {
  background-position: -30px 0px; }
#navigation li.active span.ndla2010-shadow-left, #container.w960 .left-menu-tab-selected span.ndla2010-shadow-left {
  left: -10px; }
#navigation li.active span.ndla2010-shadow-right, #container.w960 .left-menu-tab-selected span.ndla2010-shadow-right {
  right: -10px; }
#navigation li.active span.ndla2010-shadow-right {
  background-position: -50px 0px; }

#left-menu-loader {
  margin-left: 50%;
  padding: 10px 0 6px; }
  #left-menu-loader img {
    margin-left: -16px; }

.left-menu-content a, .left-menu-content span {
  color: #000000;
  display: block; }

#left-menu .filters, #tray .filters {
  float: right;
  overflow: hidden;
  margin: 6px 0; }
#tray .filters {
  /*position: absolute;
  top: 24px;
  right: 16px;*/
  float: none;
  margin-left: 10px
}
#left-menu .filters .bold, #tray .filters .bold {
  font-weight: bold; }
#left-menu .filters li, #tray .filters li {
  border-left: 1px solid #CCDDDD;
  float: left;
  padding: 0 10px;
  color: #20588F;
  width: auto;
  cursor: pointer; }
#left-menu .filters .filter-all, #tray .filters .filter-all {
  border-left: 0; }

.left-menu-content {
  display: none;
  background: #ededed;
}

.left-menu-content-selected {
  display: block; }

#left-menu-front {
  position: absolute;
  top: 51px;
  z-index: 150; }

.menu-bottom {
  border-top: 1px #b1b1b1 solid;
  padding: 5px; }

.menu-bottom-btn {
  background-color: #E7E8EA;
  padding: 4px 5px;
  border-top: 1px solid #CCDDDD;
  cursor: pointer;
  color: #3366CC; }
  .menu-bottom-btn:hover {
    background-color: #fff;
    color: #000; }

#resourcemap-loader {
  position: absolute;
  top: 50%;
  left: 49%;
  background: #fff;
  padding: 10px;
  box-shadow: 0 0 20px #555;
  border-radius: 10px;
  z-index: 10;
  margin-left: 0;
}
#resourcemap-loader.wide {
  margin-left: 0;
}

#resourcemap-loader img {
  position: absolute;
  margin: -25px 0 0 322px; }

#container span.ndla2010-shadow-bottom-left, #container span.ndla2010-shadow-bottom-right {
  position: absolute;
  display: block;
  width: 10px;
  background: url("../img/shadows-1.png") no-repeat 0px -20px;
  padding: 0;
  height: 10px;
  bottom: 0; }

#left-menu span.ndla2010-shadow-top-left, #left-menu span.ndla2010-shadow-top-right {
  display: none; }

#container.w960 #left-menu span.ndla2010-shadow-top-left, #container.w960 #left-menu span.ndla2010-shadow-top-right {
  background-position: 0px -95px;
  display: block; }

#container.w960 #left-menu span.ndla2010-shadow-top-right {
  background-position: 0px -105px; }

#left-menu span.ndla2010-shadow-top-left {
  left: 0; }

#left-menu span.ndla2010-shadow-top-right {
  right: 0; }

#left-menu div.ndla2010-shadow-top-center {
  height: 0px;
  width: 270px;
  top: 0px;
  margin: 6px 7px 0;
  border-top: 1px solid #b1b1b1; }

#container.w960 #left-menu div.ndla2010-shadow-top-center {
  background: url("../img/shadows-1.png") repeat-x 0px -145px;
  height: 10px;
  width: 264px;
  margin: 0 10px;
  border-top: 0; }

#left-menu div.ndla2010-shadow-left-wrapper {
  margin: 0 0 1px 6px;
  border-left: 1px solid #b1b1b1; }

#left-menu div.ndla2010-shadow-right-wrapper {
  margin-right: 6px;
  border-right: 1px solid #b1b1b1;
  position: relative;
  z-index: 1;
  padding-bottom: 3px; }

#container.w960 #left-menu div.ndla2010-shadow-left-wrapper {
  background: url("../img/shadows-3.png") repeat-y -7px 0px;
  padding-left: 7px;
  border-left: 0;
  margin: 0 0 10px 0; }

#container.w960 #left-menu div.ndla2010-shadow-right-wrapper {
  background: url("../img/shadows-3.png") repeat-y 270px 0px;
  margin: 0;
  padding: 0 7px 0 0;
  border-right: 0; }

#tray div.ndla2010-shadow-bottom-center {
  background-color: #fff; }

#left-menu div.ndla2010-shadow-bottom-center {
  position: absolute;
  margin: 0 7px;
  height: 3px;
  width: 270px;
  bottom: 0px;
  border-bottom: 1px solid #b1b1b1;
  background: #f5f5f5; }

#tray div.ndla2010-shadow-bottom-center {
  position: absolute;
  bottom: 0; }

#left-menu span.ndla2010-shadow-bottom-left, #left-menu span.ndla2010-shadow-bottom-right {
  display: none; }

#container.w960 #left-menu span.ndla2010-shadow-bottom-left, #container.w960 #left-menu span.ndla2010-shadow-bottom-right {
  background-position: 0px -115px;
  display: block; }

#container.w960 #left-menu span.ndla2010-shadow-bottom-right {
  background-position: 0px -125px; }

#left-menu .download-button .ndla2010-shadow-left, #left-menu .download-button .ndla2010-shadow-right, #left-menu .cancel-button .ndla2010-shadow-left, #left-menu .cancel-button .ndla2010-shadow-right {
  position: absolute;
  background: #f5f5f5 repeat-y;
  height: 22px;
  width: 3px;
  top: 0; }

#container.w960 #left-menu .download-button .ndla2010-shadow-left, #container.w960 #left-menu .download-button .ndla2010-shadow-right, #container.w960 #left-menu .cancel-button .ndla2010-shadow-left, #container.w960 #left-menu .cancel-button .ndla2010-shadow-right {
  background-color: transparent;
  background-image: url("../img/shadows-2.png");
  width: 10px;
  height: 19px;
  margin: 0;
  border: 0; }

#left-menu .download-button .ndla2010-shadow-left, #left-menu .cancel-button .ndla2010-shadow-left {
  left: -7px;
  margin-left: 6px;
  border-left: 1px solid #b1b1b1; }

#left-menu .download-button .ndla2010-shadow-right, #left-menu .cancel-button .ndla2010-shadow-right {
  right: -7px;
  margin-right: 6px;
  border-right: 1px solid #b1b1b1;
  background-position: -10px 0px; }

#container .download-button .ndla2010-shadow-bottom-left, #container .cancel-button .ndla2010-shadow-bottom-left, #container.w960 #left-menu .download-button .ndla2010-shadow-left, #container.w960 #left-menu .cancel-button .ndla2010-shadow-left {
  left: -10px; }

#container .download-button .ndla2010-shadow-bottom-right, #container .cancel-button .ndla2010-shadow-bottom-right, #container.w960 #left-menu .download-button .ndla2010-shadow-right, #container.w960 #left-menu .cancel-button .ndla2010-shadow-right {
  right: -10px; }

#left-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul.menu li {
  margin: 0
}

#left-menu {
  width: 280px;
  float: left;
  font-size: 14px;
  position: relative;
  z-index: 80; }
.w960 #left-menu {
  position: absolute;
}
#left-menu .adjust {
  width: 284px;
  margin: -7px 0 0 -6px; }
#left-menu a:hover {
  text-decoration: underline;
  color: #20588F; }
#left-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
#left-menu ul ul {
  display: none;
}
#left-menu ul .open > ul {
  display: block;
}
#left-menu .menu ul .item.children>.name {
  margin-left: 15px;
}
#left-menu .menu .bold>.item>.name {
  font-weight: bold;
}
#left-menu .menu .item {
  padding: 5px 10px 5px 30px;
}
#left-menu .menu .item:hover {
  background: #fff;
}
#left-menu .menu ul .item {
  padding: 2px 10px 2px 17px;
}
#left-menu .menu ul .item.children.link>.name>a {
  padding: 2px 0;
  width: 225px;
}
#left-menu .menu ul ul .item.children.link>.name>a {
  width: 210px;
}
#left-menu .menu ul ul ul .item.children.link>.name>a {
  width: 195px;
}
#left-menu .menu ul {
  overflow: hidden;
}
#left-menu .current>.item a {
  font-weight: bold;
}
#left-menu .top input {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 125px;
  border: 1px solid #b1b1b1;
  padding: 3px 21px 3px 3px;
  font-size: 14px;
}
#container.w960 #left-menu .top input {
  right: 15px;
  top: 5px;
}
#left-menu .top .clear-input {
  position: absolute;
  width: 19px;
  height: 19px;
  background: url("../img/sprites.png") no-repeat -64px -56px;
  right: 10px;
  top: 9px;
  cursor: pointer;
}
#container.w960 #left-menu .top .clear-input {
  right: 17px;
  top: 6px
}
#left-menu .top .clear-input:hover {
  background: url("../img/sprites.png") no-repeat -83px -56px;
}
.grey {
  color: #888;
}
.bold {
  font-weight: bold;
}

#left-menu .search-results a {
  padding: 5px;
}
#left-menu .search-results a:hover {
  color: #20588F;
  background: #fff;
}
#left-menu .search-results li.selected a {
  background: #cecece;
}
#left-menu div.search-results {
  padding: 10px 5px;
}

#left-menu .export li {
  width: 260px;
  padding: 5px;
}
#left-menu .export li:hover {
  background: #fff;
}
#left-menu .export input {
  vertical-align: bottom;
  margin-bottom: 2px;
  margin-right: 5px;
}
/*
#tray-left {
  top: 10px;
  float: right;
  padding-left: 7px;
  margin-bottom: 10px; }*/

#tray-inner {
  overflow: hidden;
  margin-bottom: 20px;
  background: #f8f8f8;
  border-left: 1px solid #dedede;
  border-right: 1px solid #dedede;
}
.tray-loader {
  text-align: center;
  padding: 20px;
}
/*#tray-right {
  float: right;
  padding-right: 7px;
}*/

#left-menu span.ndla2010-shadow-bottom-left, #left-menu span.ndla2010-shadow-bottom-left, #tray span.ndla2010-shadow-bottom-left, #tray span.ndla2010-shadow-bottom-left {
  left: 0; }
#left-menu span.ndla2010-shadow-bottom-right, #left-menu span.ndla2010-shadow-bottom-right, #tray span.ndla2010-shadow-bottom-right, #tray span.ndla2010-shadow-bottom-right {
  background-position: 0px -30px;
  right: 0; }

#tray {
  margin: 0;
  padding: 0;
  width: 940px;
  float: right;
  position: relative;
  display: none;
  overflow: hidden; }
  #tray.tray-closed {
    border: none; }
  /*#tray span.ndla2010-shadow-top-left {
    left: 0;
    top: 0; }
  #tray span.ndla2010-shadow-top-right {
    right: 0;
    top: 0; }
  #tray div.ndla2010-shadow-top-center {
    background: url("../img/shadows-1.png") repeat-x 0px -50px;
    height: 10px;
    width: 952px;
    top: 0px;
    margin: 0 10px; }
  #tray span.ndla2010-shadow-bottom-left {
    background-position: 0px -115px;
    background-color: #fff; }
  #tray span.ndla2010-shadow-bottom-right {
    background-position: 0px -125px;
    background-color: #fff; }
  #tray div.ndla2010-shadow-bottom-center {
    background-image: url("../img/shadows-1.png");
    width: 952px; }*/

#topics-tray .arrow {
  position: absolute;
  text-indent: -10000px;
  color: transparent;
}
#topics-tray .content-lists ul ul a.arrow {
  position: static;
  margin-top: 1px;
   float: left;
   width: 14px;
   height: 1em;
   overflow: hidden;
   background: url("../img/left_expand_icon.png") left center no-repeat;
}
#topics-tray .content-lists ul ul a.arrow.active-arrow {
   background-image: url("../img/left_collapse_icon.png");
}

#topics-tray ul {
  list-style: none;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
#topics-tray li {
  float: left;
  margin: 0;
  width: 25%;
}
#topics-tray .menu,
#topics-tray .menu ul,
#topics-tray .content-lists {
  background: #fff;
  padding: 9px;
  margin: 0 1px;
}
#topics-tray .menu .item {
  /* Width is defined by the outer LI element, don't set here */
  /* Always have a border. Aviods jitter on zoomed out browsers */
  border: 1px solid transparent;
  padding: 6px 10px 6px 10px;
  cursor: pointer;
  font-size: 13px;
}
#topics-tray .menu .item:hover {
  border-color: #9C9C9C;
}
#topics-tray .menu .fourth {
  clear: left;
}
#topics-tray .menu ul,
#topics-tray .menu .content-lists {
  display: none;
  left: 0px;
  position: absolute;
  overflow: visible;
}
#topics-tray .menu ul ul,
#topics-tray .menu ul .content-lists {
  left: -9px;

}
#topics-tray .name {
  font-size: 16px;
}
#topics-tray .active .name {
  font-weight: bold;
}
#topics-tray .menu .active {
  padding-right: 0;
}
#topics-tray .info {
  overflow: hidden;
}
#topics-tray img {
  margin: 3px 0;
}
#topics-tray p {
  margin: 0 0 5px 0;
}

#topics-tray .menu.grey-out {
  background: #e1e1e1;
}
#topics-tray .menu ul.grey-out {
  background: #e7e7e7;
}
#topics-tray .menu ul ul.grey-out {
  background: #ededed;
}
#topics-tray .menu ul ul ul.grey-out {
  background: #f5f5f5;
}

#topics-tray .content-lists ul {
  width: 930px;
  position: static;
  display: block;
  border: 0;
  box-shadow: none;
  left: auto;
  margin: 0;
  padding: 0;
}
#topics-tray .content-lists li {
  width: 220px;
  padding: 6px;
}
#topics-tray .single .content-lists li, #topics-tray .menu .single ul .item {
  width: 916px;
}
#topics-tray .single ul img {
  float: left;
  margin: 0 6px 0 0;
}
#topics-tray .single ul li ul .name {
  margin: 5px 0;
}
#topics-tray .single ul li ul .name a {
  font-size: 22px;
}
#topics-tray .single .content-lists ul li ul li {
  width: 876px;
  padding: 2px 20px 9px;
}
#topics-tray .single .content-lists ul li ul li .item {
  width: 876px;
}
#topics-tray .content-lists li .name {
  padding-bottom: 4px;
}
#topics-tray .content-lists li ul {
  width: auto;
  background: transparent;
}
#topics-tray .content-lists li li ul {
  width: auto;
  background: transparent;
  margin-left: 14px;
}
#topics-tray .content-lists li li {
  padding: 2px 0;
  float: none;
}
#topics-tray .content-lists .item {
  padding: 0;
  cursor: auto;
  border: 0;
}
#topics-tray .content-lists .item:hover {
  padding: 0;
}
#topics-tray .content-lists li li .name {
  font-size: 13px;
  padding: 0;
}
#topics-tray .overflowing {
  height: 48px;
  position: relative;
  overflow: hidden;
}
#topics-tray .overflowing img {
  display: block;
}
#topics-tray p img {
  margin: 0;
  display: none;
  position: absolute;
  bottom: 0;
  right: 0;
}

.tray-empty {
  padding: 10px;
  text-align: center;
  color: #999;
}

#close-tray {
  font-family: 'FontAwesome';
  cursor: pointer;
  width: 100%;
  height: 15px;
  background: #dedede;
  position: absolute;
  bottom: 6px;
  text-align:center;
  font-size:22px;
  line-height:15px;
  color: #777678;
  border: 1px solid #c4c4c4;
}

#close-tray:hover {
  background-position: 0 -21px;
}

#class-filter-container {
  margin: 15px 5px;
  font-size: 0.929em; }

.tray-stand-out {
  background-color: #FFFFFF;
  padding: 0;
  -moz-box-shadow: 0px 0px 7px #5a5a5a;
  -webkit-box-shadow: 0px 0px 7px #5a5a5a;
  box-shadow: 0px 0px 7px #5a5a5a;
  /* For IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=270, Color='#cccccc') progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=0, Color='#cccccc') progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=90, Color='#cccccc')";
  /* For IE 5.5 - 7 */
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=270, Color='#cccccc') progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=0, Color='#cccccc') progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=90, Color='#cccccc'); }

.topic-list-container, #topic-content-container {
  margin: 0 9px;
  width: 942px; }

.topic-list-container ul {
  margin: 0;
  padding: 6px; }

#topics-of-0 {
  margin-top: 40px; }

.topics-level-0.topic-list-collapsed .topic-list {
  background: #E1E1E1; }

.topics-level-1.topic-list-collapsed .topic-list {
  background: #E7E7E7; }

.topics-level-2.topic-list-collapsed .topic-list {
  background: #EDEDED; }

.topics-level-3.topic-list-collapsed .topic-list {
  background: #F5F5F5; }

.topic-list-title, #topic-content-title {
  font-size: 14px;
  margin-bottom: 3px;
  color: #7F7D7D;
  display: none; }

.topic-list-crumb, .topic-description-expander, .topic-external-crumb {
  color: #3366CC;
  cursor: pointer; }

.topic-description-expander {
  font-weight: bold; }

.topic-list-crumb:hover, .topic-description-expander:hover, .topic-external-crumb:hover {
  color: #0000FF; }

.topic-heading, .app-title {
  color: inherit;
  font-size: 1.231em; }

.topic-heading a {
  color: inherit;}

.topic-info-text {
  clear: both;
  padding: 10px 10px 16px 10px;
  color: #7F7D7D; }

.topic img {
  margin: 6px 0px 3px; }

.topic-list .topic {
  width: 25%;
  padding: 7px 11px;
  width: 210px;
  cursor: pointer;
  font-size: 0.929em;
  float: left;
  list-style: none; }
  .topic-list .topic:hover {
    border: solid 1px #9C9C9C;
    margin: -1px; }
    .topic-list .topic:hover h3 {
      color: #20588F;
      text-decoration: underline; }
.topic-list .topic-selected h3 {
  color: #000;
  font-weight: bold; }
.topic-list .topic-collapsed {
  margin: 0;
  color: #595959; }

#topic-loader {
  margin: 15px 0px 10px 25px; }

#topic-menus {
  padding: 6px;
  margin-bottom: inherit; }
  #topic-menus h3 {
    font-size: 1.143em;
    color: #000000;
    width: 210px; }

#block-ndla_apps_ndla_apps_small_apps li {
  float: left;
  list-style-type: none;
  margin-right: 3px;
  margin-bottom: 3px;
}

#block-ndla_apps_ndla_apps_small_apps img {
  width: 64px;
  height: 64px;
  display: block;
}

#social {
  margin-top: 15px;
  float: left;
  width: 960px;
  clear: both;
  padding: 0 20px; }

.soft-text {
  color: #595959; }

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0; }

#right-wrapper {
  width: 300px;
  float: right;
  font-size: 0.929em;
  color: #595959; }
  #right-wrapper h2.top {
    font-size: 1.08em;
    color: #393939; }
    #right-wrapper h2.top a {
      color: #fff; }
  #right-wrapper ul {
    list-style: none; }
  #right-wrapper .content ul {
    list-style: square;
    padding: 5px 0;
  }
  #right-wrapper .block {
    /*border-bottom: 1px solid #d6d6d6;*/
    padding: 10px 15px; }
    #right-wrapper .block .right-collapse {
      margin-top: 10px; }
  #right-wrapper .region {
    margin-top: -1px;
    box-shadow: 0 0 5px #d6d6d6;
    border: 1px solid #d6d6d6; }
  #right-wrapper .right-collapsible {
    margin-left: 0px;
    margin-bottom: 3px;
    font-style: normal;
    font-weight: bold;
    position: relative;
    padding: 0 0 0 16px;
    cursor: pointer; }
    #right-wrapper .right-collapsible h2 {
      display: inline;
      white-space: nowrap; }
  #right-wrapper .right-not-collapsible {
    border-bottom: 1px solid #666666;
    padding-bottom: 4px;
    margin-bottom: 4px; }
    #right-wrapper .right-not-collapsible h2 {
      color: #666666;
      font-size: 85%;
      text-transform: uppercase; }
  #right-wrapper .right-collapse {
    overflow: hidden; }
  #right-wrapper .relatedContent h3 {
    font-size: 0.923em;
    margin: 6px 0 0; }
  #right-wrapper .relatedContent li, #course-affiliation li, #coure-affiliation li {
    margin: 10px 0 10px 22px; }
  #right-wrapper .relatedContent li.image {
    margin-left: 0;
    list-style: none;
    overflow: hidden;
  }
  #right-wrapper .relatedContent img {
    float: left;
    margin-right: 6px;
  }
  #right-wrapper .relatedContent .less, #course-affiliation .less, #coure-affiliation .less {
    font-size: 12px;
  }
  #right-wrapper #block-ndla_utils_keywords li {
    float: left;
    margin: 0 15px 6px 0;
    padding-right: 15px;
    border-right: 1px solid #d6d6d6;
    white-space: nowrap; }
  #right-wrapper #block-ndla_utils_keywords li.last {
    border-right: 0;
  }
  #right-wrapper .newest_content li {
    font-size: 90%;
    padding: 3px 0px 3px 0px;
    color: #666666; }
  #right-wrapper.narrow {
    width: 235px; }
  #right-wrapper .small-expand-collapse {
    position: absolute;
    top: 4px;
    left: 0; }

#block-ndla_utils_keywords .content ul {
  padding: 0;
  list-style: none;
}
#block-ndla_utils_disp_context ul, #block-ndla_utils_disp_context_bottom ul {
  margin-left: 22px;
}
#block-ndla_utils_disp_context_bottom .current {
  font-weight: bold;
}
.region-right-tools {
  display: none;
}
#right-wrapper ul, #right-wrapper #block-ndla_utils_red_keywords ul {
  padding-left: 0px; }
#right-red-folder {
  position: absolute;
  width: 56px;
  height: 44px;
  right: 10px;
  margin-top: 8px;
  background: url("../img/sprites.png") 0px -353px; }

.grep-list-item {
  margin-bottom: 10px; }

.grep-listing-label {
  font-weight: bold;
  color: #808080; }

.grep-listing-subtitle {
  color: #808080; }

h2.aim-title {
  font-style: oblique; }

.utdanning_inner {
  font-size: 90%;
  padding: 3px 0px 3px 10px; }

#main_content {
  width: 940px;
  float: right;
  position: relative;
  margin-top: 15px; }
  #main_content h1 {
    font-size: 170%;
    color: #343434;
    font-weight: bold;
    margin: 0px 0 5px; }
    #main_content h1.listing-title {
      color: #343434;
      font-weight: normal;
      margin: 10px 0 8px; }
  #main_content .nodetype {
    color: #fff;
    font-size: 85%;
    margin: 5px 0 3px 10px;
    padding: 2px 10px 0 25px;
    text-align: right;
    float: right;
    height: 17px;
    display: inline;
    background: #626262 url("../img/nodetype_tip.png") no-repeat top left; }
  #main_content .nodetype-small {
    color: #fff;
    font-size: 65%;
    margin-left: 0;
    margin-top: -1px;
    padding: 0 4px 0 15px;
    text-align: right;
    height: 13px;
    background: url("../img/nodetype_tip_small.png") #626262 no-repeat top left;
    vertical-align: middle; }

#main_content .owner, #ndla_node_export_pdf .owner {
  color: #626262;
  font-size: 90%;
  font-weight: bold;
  margin-bottom: 15px;
  text-transform: uppercase;
  width: 450px;
}

#main_content .owner a, #ndla_node_export_pdf .owner a {
  color: #626262;
}

.node h2 {
  font-size: 160%;
  margin-bottom: 5px;
}
.node h3 {
  font-size: 130%;
  margin-bottom: 5px;
}
.node .ingress {
  line-height: 1.4;
  font-size: 1.1em;
  margin-bottom: 20px; }
.node .ingress-bold {
  font-weight: 600; }

.sharingprograms, .tipForm {
  margin: 10px 0; }

.sharingprograms {
  display: none; }
  .sharingprograms ul {
    list-style-type: none;
    width: 19.3em;
    margin-top: 5px;
    padding: 0; }
    .sharingprograms ul li {
      display: block;
      float: left;
      width: 9.4em; }

#main_1 {
  width: 620px;
  float: left;
  position: relative; }

#main_3 {
  background: none; }

.grid_24 {
  float: right;
  width: 100%; }

.alpha {
  margin-left: 0; }

.omega {
  margin-right: 0; }

#ndla_mediabrowser_inserted_nodes {
  margin-bottom: 1em; }

.chosen {
  font-weight: bold; }

.articleNav {
  display: table;
  text-align: center;
  padding: 10px 0px;
  margin-top: 15px;
  width: 100%;
  clear: both;
}

.articlewrap1 {
  display: table-row; }

#block-ndla_feedback_comments {
  padding-top: 0px;
  border-top: 5px solid #20588F;
  clear: both; }

.subjectsColoumn {
  float: left;
  width: 21em;
  margin-right: 35px;
  margin-top: -10px; }
  .subjectsColoumn ul {
    list-style-type: none;
    padding: 0; }
  .subjectsColoumn a, .subjectsColoumn span {
    color: #444444; }

.lastsubjects {
  margin-right: 10px; }

.ingressImg {
  float: left;
  margin-right: 10px;
}

.subjectsColoumn h3, .subjectsImgCol h3 {
  color: #67164A;
  background: url("../img/h3border.gif") bottom left repeat-x;
  padding: 5px 0px 3px 0px;
  margin: 0px 0px 10px 0px;
  text-align: left; }

.subjectingressImg {
  float: left;
  width: auto;
  background-color: #ebebeb;
  padding: 5px;
  margin-right: 10px;
  margin-bottom: 10px; }
  .subjectingressImg p {
    margin: 5px 0px 5px 0px;
    font-style: italic; }

.subjectsImgCol {
  width: 221px;
  text-align: center;
  padding: 6px 0px;
  float: left; }
  .subjectsImgCol h3 a {
    color: #9c5211; }
  .subjectsImgCol p {
    text-align: left;
    margin: 0px 8px; }

.subjectSelected, .subjectHover {
  background-color: #eaf2dd;
  border: solid 1px #c7c7c7; }

#fag-subpage #topic-menus {
  background-color: #f4f4f4;
  padding-top: 15px;
  margin-bottom: 20px;
  float: left; }
  #fag-subpage #topic-menus h3 {
    /*font-family: Arial, Helvetica, sans-serif; */
    font-family: Arial, sans-serif;
    font-size: 1em;
    font-weight: bold;
    padding: 0px 15px 5px 15px; }

.h3_menuWithinTheme {
  font-weight: normal;
  font-size: 0.8em; }

.menuWithinTheme {
  text-align: left;
  width: 210px;
  padding: 7px 11px; }

#topic-menus h2 {
  color: #9c5211;
  font-size: 1.3em;
  background: url("../img/h3border.gif") bottom left repeat-x;
  padding-bottom: 3px;
  margin-bottom: 3px; }
  #topic-menus h2 .num {
    font-size: 0.9em; }
#topic-menus li {
  background-repeat: no-repeat;
  background-position: top left;
  font-weight: 400;
  padding: 3px 0; }
  #topic-menus li a {
    font-size: 0.95em;
    color: #000000; }
    #topic-menus li a:hover {
      color: #20588F; }
  #topic-menus li.collapsed {
    background: url("../img/menu-expand.gif") no-repeat scroll 0 1px transparent; }
  #topic-menus li.expanded {
    background: url("../img/menu-collapse.gif") no-repeat scroll 0 1px transparent; }
  #topic-menus li.hasChildrenExpanded a {
    background: url("../img/collapsegrey.gif") center left no-repeat; }
  #topic-menus li.hasChildrenExpanded li.noChildren a {
    background: none; }
  #topic-menus li.hasChildrenCollapsed a {
    background: url("../img/expandgrey.gif") center left no-repeat; }
  #topic-menus li.hasChildrenCollapsed li a {
    background: none; }
#topic-menus ul {
  padding: 0;
  list-style-type: none; }

#subjectname {
  font-style: italic;
  padding: 10px 15px; }

.nextprev {
  float: left; }

.subjectMenuCount {
  float: right;
  padding-right: 15px; }

#subjectMenuNav {
  background-color: #ebebeb;
  padding: 5px 15px; }
  #subjectMenuNav div {
    font-size: 90%; }

#rightMargin .leftContent {
  margin-bottom: -15px h4;
    margin-bottom-font-size: 0.9em; }

#middleAndRight {
  margin-top: 7em; }

.ndla_ntb_date_small {
  color: #707070;
  font-size: 0.75em;
  line-height: 2em;
}

.ndla_ntb_date_large {
  color: #707070;
  font-size: 0.85em;
  line-height: 2em;
}

#ndla-ntb-ajax-container {
  margin-top: 20px;
  text-align: center;
}

#edit-body-wrapper {
  width: 670px; }

.imageframe * {
  max-width: 170px; }

.row-first {
  clear: left; }

ul.links.inline, ul.links.inline li:first-child {
  margin: 0;
  padding: 0; }

#lightboxContent p {
  margin-bottom: 10px; }


.front #content {
  background: url('../img/footer_bg.jpg') no-repeat 50% 100% transparent;
  padding-bottom: 320px;
}

.front .w960 #content {
  background: url('../img/footer_bg.jpg') no-repeat 50% 100% transparent;
  padding-bottom: 320px;
}

/* FOOTER */

.front #footer-wrapper {
  height: 200px;
}
#footer-wrapper {
  clear: both;
  height: 120px;
  background: #eef0f1;
}
#footer {
  width: 100%;
  position: absolute;
}

#footer.float {
  position: fixed;
  bottom: 0;
  width: 100%;
}
#footer-container {
  width: 940px;
  margin: 15px 0 0;
  position: relative;
  overflow: hidden;
  background: white;
  float: right;
  padding-bottom:20px;}
  #footer-container textarea {
    resize: none; }
  #footer-container #footer-top {
    cursor: pointer;
    background: white; }
  #footer-container #footer-arrow {
    background: url("../img/icons.png") no-repeat -35px 0;
    height: 11px;
    width: 6px;
    position: absolute;
    top: 20px;
    left: 6px; }
  #footer-container.footer-collapsed:hover #footer-arrow {
    background-position: -41px 0; }
  #footer-container.footer-expanded #footer-arrow {
    background-position: -24px 0px;
    width: 11px;
    height: 6px;
    top: 20px;
    left: 6px; }
  #footer-container.footer-expanded #footer-top:hover #footer-arrow {
    background-position: -24px -6px; }
  #footer-container #footer-header {
    padding: 0 20px;
    background: #ededed;
    line-height: 50px;
    color: #000;
    font-weight: 400;
    width:100%;
    font-size:16px;}
  #footer-container #footer-tabs {
    margin-left: 308px;
    width: 652px;
    float: left;
    display: none;
    background: #fff;
    font-size: .875em; }
  #footer-container #footer-left {
    float: left;
    left: -309px;
    margin: 0 -309px 0 0;
    width: 309px;
    list-style: none;
    position: relative;
    padding: 0; }
  #footer-container .footer-tab {
    cursor: pointer;
    color: #4d4d4d;
    padding: 7px 15px;
    font-size: 1.05em; }
  #footer-container .footer-tab:hover {
    text-decoration: underline; }
  #footer-container .footer-tab-selected {
    position: relative;
    border-right: none;
    background: #fff;
    right: -1px;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    color: #20588F; }
  #footer-container .first {
    border-top: none;
  }
  #footer-container #inner {
    display: block;
    border: 0 none;
    margin: 0 !important;
    padding: 15px 20px;
    float: left; }
    #footer-container #inner ul, #footer-container #inner ol {
      padding: 0; }
    #footer-container #inner li {
      list-style: none outside none; }
  #footer-container .block-inner {
    display: block; }
  #footer-container .footer-block #rs_div {
    clear: none; }
  #footer-container .footer-block {
    display: none; }
  #footer-container .footer-block-selected {
    display: block; }
  #footer-bottom {
    font-size: 12px;
    width: 100%;
    clear: both;
  }
  #footer-bottom .center-layout {
    text-align: left;
    height: 50px;
  }
  .footer-about {
    padding-top: 10px;
    height: 15px;
    overflow: hidden;
  }
  .footer-about div {
    display: inline;
    margin: 0 2em 0 0;
  }
#main-content-fader {
  position: absolute;
  width: 960px;
  background: url("../img/main-content-fader-background.png") repeat; }

#footer-right {
  border-left: 1px solid #e5e5e5;
}

.tooltip-data .contentbrowser-rel-node img, ndla_node_export_copyright .contentbrowser-rel-node img {
  display: block; }

.tooltip-data .contentbrowser-node-title {
  font-weight: normal;
  font-size: 1.1em;
}

.tooltip-data ul {
  margin-bottom: 10px;
  font-size: 1em;
}
.tooltip-data h3 {
  font-size: 1em;
  font-weight: normal;
  margin-top: 5px;
}

#prefooter {
  background: #EDEDED;
  float: right;
  width: 940px;
}
#block-ndla_utils_disp_rights {
  padding: 10px 20px 1px;
}

.qtip {
  font-size: inherit;
  line-height: inherit;
}

.qtip-titlebar, .qtip-title {
  font-weight: 500;
}

#node-rights {
  width: 250px; }

#rights-block h2 {
  display: block;
  clear: left;
  color: #555555;
  border-bottom: 1px solid #CCCCCC;
  font-size: 1.1em;
  font-weight: bold;
  margin-top: 1.2em; }
#rights-block h3 {
  font-size: 1em;
  margin-top: 0.5em; }
#rights-block li {
  list-style: none outside none; }
#rights-block ul {
  padding: 0;
  margin-bottom: 0.5em; }

.contentbrowser-node-title {
  font-weight: bold; }

#general-use {
  padding-right: 20px;
  margin-top: 20px; }

#searchfilter {
  background-color: #f8f8f8;
  padding: 20px 20px 10px 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  clear: both; }
  #searchfilter ul {
    list-style-type: none; }
    #searchfilter ul li {
      display: block;
      float: left;
      width: auto;
      margin-right: 20px;
      clear: none;
      font-size: 12px; }
    #searchfilter ul li.selected a {
      color: #666666; }
  #searchfilter form {
    clear: both;
    margin-top: 10px; }
  #searchfilter label {
    padding: 5px 20px 0px 4px;
    color: #333333; }
  #searchfilter ul, #searchfilter ol {
    padding: 0; }
  #searchfilter .subtitle {
    margin-top: 15px;
    color: #444;
    font-size: 90%; }

#subjectMenuNav div {
  font-size: 90%; }

#form {
  width: 287px;
  margin-left: 0px; }

#user {
  margin-top: 23px;
  margin-right: 20px;
  text-align: right;
  float: right;
  color: #000;
  /*font-family: Verdana, Geneva, sans-serif;*/
  font-family: Arial, sans-serif;
  font-size: 12px; }

#footer-container .language li, #footer-container .difficulty li {
  display: inline; }

#footer-container .language, #footer-container .difficulty {
  margin-top: 10px; }

.menu-external-crumb{
  white-space: nowrap;
}

.search-title {
  font-size: 1.1em;
  clear: left; }

.item-list .pager li {
  margin: 0; }

.small-expand-collapse {
  width: 9px;
  height: 9px; }

.right-expanded .small-expand-collapse {
  background-position: -85px -319px; }

.right-collapsed .small-expand-collapse {
  background-position: -82px -339px; }

.right-expanded:hover .small-expand-collapse {
  background-position: -85px -328px; }

.right-collapsed:hover .small-expand-collapse {
  background-position: -92px -339px; }

.right-topbar-expanded .small-expand-collapse {
  background-position: -34px -75px; }

.right-topbar-collapsed .small-expand-collapse {
  background-position: 0px -75px; }

.right-topbar-expanded:hover .small-expand-collapse {
  background-position: -34px -57px; }

.right-topbar-collapsed:hover .small-expand-collapse {
  background-position: 0px -57px; }

.region-content {
  clear: both; }

#comment-section {
  border-top: 1px solid #f1f1f1;
  margin-top: 5px;
}

#block-ndla_feedback_comments h2 {
  background: #f1f1f1;
  color: #333333;
  font-size: 14px;
  font-weight: bold;
  padding: 5px 0 5px 10px; }
#block-ndla_feedback_comments h3 {
  background-color: #DBEFEC;
  color: #333333;
  font-size: 13px;
  font-weight: bold;
  padding: 5px 0 5px 25px;
  min-height: 16px; }
#block-ndla_feedback_comments .submitted {
  background: url("../img/footer_bg.png") repeat-x scroll 0 0 #fcfeff;
  border-top: 1px solid #CCCCCC;
  padding: 3px 3px 3px 5px; }
#block-ndla_feedback_comments .comment {
  margin-bottom: 5px;
  position: relative; }
  #block-ndla_feedback_comments .comment .content {
    padding: 3px 0 3px 5px;
    background-color: #FCFEFF; }
#block-ndla_feedback_comments .content p {
  margin-bottom: 10px; }
#block-ndla_feedback_comments .comment-reply h3 {
  background-color: #E6FFFC; }

#comment-buttons {
  padding: 5px;
  margin-bottom: 5px; }

#comment-buttons a {
  float: left;
  margin-left: 20px; }
  #comment-buttons a:first-child {
    margin-left: 0; }

.comment-reply {
  margin-top: 10px;
  margin-left: 15px; }

#recommend-button {
  float: left;
  margin-left: 5px;
  marign-top: 4px; }

#recommend-count {
  border: 1px solid #cccccc;
  float: left;
  border-left: 0 none;
  padding: 3px 7px 3px 5px;
  background: url("../img/footer_bg.png") repeat-x scroll 0 0 #fcfeff;
  color: #222222; }

#recommend-arrow {
  background: url("../img/talk_arrow.png") no-repeat center center;
  height: 24px;
  width: 7px;
  float: left;
  margin-left: 2px; }

#feedback-recommend {
  float: left;
  margin-top: 3px;
}

.answer-button {
  margin-top: 10px; }

#thumbs-up-icon {
  margin: -1px 1px -1px 0; }

#google-plusone-content {
  float: left;
  padding-left: 7px;
  margin-left: 7px;
  width: 70px;
  border-left: 1px dotted #CCC; }

#twitter-like-content {
  float: left;
}

#facebook-small-icon {
  margin: -1px 1px -2px 0; }

#feedback-arrow {
  background: url("../img/sprites.png") no-repeat scroll -34px -39px transparent;
  height: 9px;
  width: 7px;
  left: 10px;
  position: absolute;
  top: 11px; }

#facebook-like-content {
  border-left: 1px dotted #ccc;
  margin-left: 7px;
  padding-left: 7px;
  width: 200px;
  /*height: 24px;*/
  float: left; }

#like-buttons {
  margin-top: 1.2em;
  margin-bottom: 0.5em; }

.comment-icon {
  background: url("../img/sprites.png") no-repeat scroll -85px -293px transparent;
  height: 11px;
  width: 13px;
  left: 7px;
  position: absolute;
  top: 8px; }

.reply-icon {
  background: url("../img/sprites.png") no-repeat scroll -85px -307px transparent;
  height: 11px;
  width: 13px;
  left: 7px;
  position: absolute;
  top: 6px; }

.comment-reply {
  position: relative; }

.text-button {
  color: #000;
  cursor: pointer; }
  .text-button:hover {
    color: #20588F;
    text-decoration: underline; }

.clear-left {
  clear: left; }

.hidden {
  display: none; }

#edit-cookbook-recipe-ingredients-wrapper ul, #edit-cookbook-recipe-steps-wrapper ol {
  list-style-position: inside; }

.topics {
  padding: 10px 15px 0;
  margin: 28px 0 10px;
  background: #ededed;
  border: 1px solid #c7c7c7;
  clear: both;
}
#main_content .topics h1 {
  font-size: 23px;
  font-weight: bold;
  color: #343434;
  margin-bottom: 6px;
}
.topics h2 {
  font-size: 19px;
  color: #343434;
}
.topics p {
  margin: 0 0 10px;
  color: #343434;
}

#versions-ajax-target .current-node {
  font-weight: bold;
}
#versions-ajax-target .red a {
  color: #f00;
}

#node-actions, #right-wrapper ul#node-actions {
  float: right;
  margin: 4px 0 15px;
  padding: 10px;
  background: #ededed;
  color: #111;
}
#node-actions li {
  float: left;
  margin-right: 20px;
  white-space: nowrap;
  margin-bottom: 5px;
}
#node-actions li.first {
  margin-left: 0;
}

#node-actions li a {
  display: block;
  font-size: 12px;
  color: #111;
  margin-left: 3px;
}
#node-actions .icon {
  width: 21px;
  height: 16px;
  display: inline-block;
  background: url("../img/sprites.png") no-repeat 0 -302px;
  vertical-align: bottom;
  margin-right: 5px;
}

#node-actions .easyreader .icon {
  background: url('../img/button-easy-reader.gif') no-repeat 0 0;
}

#node-actions .easyreader .icon {
  background: url("../img/button-easy-reader.gif") no-repeat 0 0;
}

#node-actions .print:hover .icon {
  background-position: 0 -318px;
}
#node-actions .readspeaker .icon {
  background-position: -21px -302px;
}
#node-actions .readspeaker:hover .icon {
  background-position: -21px -318px;
}
#node-actions .embed .icon {
  background-position: 1px -540px;
}
#node-actions .embed:hover .icon {
  background-position: -19px -540px;
}
#right-wrapper #right-tabs {
  clear: both;
  margin: 0 0 0 -3px;
  padding: 3px;
  position: relative;
  overflow: hidden;
  z-index: 1;
  height: 27px;
  width: 315px;
}
#right-tabs li {
  float: left;
  margin: 0 0 2px 2px;
  padding-bottom: 2px;
}
#right-tabs li.first {
  margin-left: 0;
}
#right-tabs li.current {
  border: 1px solid #d6d6d6;
  border-bottom: 0;
  box-shadow: 0 0 5px #d6d6d6;
  padding-bottom: 0;
}
#right-tabs a {
  background-color: #f2f2f2;
  color: #595959;
  font-size: 14px;
}
#right-tabs a:hover {
  background-color: #e2e2e2;
}
#right-tabs li a {
  display: block;
  padding: 6px 8px;
}
#right-tabs .current a {
  background-color: #fff;
  color: #1e1e1e;
  padding-top: 5px;
  padding-bottom: 8px;
}

.region-learning, .region-tools {
  display: none;
}

ul.primary, ul.secondary {
  border-color: #d6d6d6;
  overflow: hidden;
  margin: 0 0 10px;
  padding: 0 0 0 15px;
}
ul.primary li, ul.secondary li {
  display: block;
  float: left;
  margin-top: 2px;
  padding: 0;
  border: 0;
}
ul.primary li a, ul.secondary li a {
  display: block;
  color: #595959;
  background: #f2f2f2;
  border: 0;
  margin-right: 2px;
  padding: 5px 12px;
}
ul.primary li a:hover, ul.secondary li a:hover {
  background: #e2e2e2;
}
ul.primary li.active a, ul.secondary li.active a {
  padding: 4px 11px 5px;
  border: 1px solid #d6d6d6;
  border-bottom: 0;
  color: #1e1e1e;
  background: #fff;
}
ul.primary li.active a:hover, ul.secondary li.active a:hover {
  background: #fff;
}
ul.secondary li a {
  font-size: 12px;
  padding: 3px 8px;
}
ul.secondary li.active a {
  padding: 2px 7px 3px;
}

fieldset.collapsed {
  padding: 5px;
}
fieldset legend {
  padding: 0 5px;
}
form fieldset legend a {
  color: #1e1e1e;
}
html.js fieldset.collapsed legend a, html.js fieldset.collapsible legend a {
  background-position: 0 50%;
  padding: 0 0 0 10px;
}
fieldset legend a:hover {
  text-decoration: none;
}

#ndla-tooltip {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  max-width: 300px;
  min-width: 70px;
}
#ndla-tooltip .arrow {
  position: absolute;
  height: 18px;
  width: 32px;
  background: url("../img/tooltip-1.png") 0 -48px;
  margin: -10px 0 0 18px;
  z-index: 1;
}
#ndla-tooltip .top .center, #ndla-tooltip .bottom .center {
  height: 8px;
  margin: 0 8px;
  background: url("../img/tooltip-1.png") 0 -32px;
}
#ndla-tooltip .bottom .center {
  background-position: 0 -40px;
}
#ndla-tooltip .top .left-corner, #ndla-tooltip .top .right-corner, #ndla-tooltip .bottom .left-corner, #ndla-tooltip .bottom .right-corner {
  float: left;
  width: 8px;
  height: 8px;
  background: url("../img/tooltip-1.png");
}
#ndla-tooltip .bottom .left-corner {
  background-position: 0 -8px;
}
#ndla-tooltip .top .right-corner, #ndla-tooltip .top .right-corner, #ndla-tooltip .bottom .right-corner {
  float: right;
  background-position: 0 -16px;
}
#ndla-tooltip .bottom .right-corner {
  background-position: 0 -24px;
}
#ndla-tooltip .middle-left {
  background: url("../img/tooltip-2.png") repeat-y 0 0;
}
#ndla-tooltip .middle-right {
  background: url("../img/tooltip-3.png") repeat-y 100% 0;
}
#ndla-tooltip .middle-center {
  background: #b5d7d8 url("../img/tooltip-4.png") repeat-x;
  margin: 0 8px;
  padding: 8px 12px;
  color: #1a1a1a;
}
#ndla-check-size {
  float: left;
}
#top-bla-menu {
  float: right;
  margin: 4px 0;
}
#top-bla-menu span {
  color: #4d4d4d;
}

#top-bla-menu a.bla-next, #top-bla-menu a.bla-previous {
  margin-right: 0;
  width: 20px;
  display: inline-block;
}

.articlewrap1 a, .articlewrap1 div,
#top-bla-menu .counter_flip, 
#top-bla-menu a {
  display: inline-block;
  background: #20588F;
  color: #fff;
  text-align: center;
  line-height: 2em;
}

.articlewrap1 div {
  width: 14%;
  display: table-cell;
  border-left: 1px solid #FFFFFF;
  border-right: 1px solid #FFFFFF;
}

#top-bla-menu .counter_flip {
  margin-left: 1px;
  margin-right: 1px;
  padding-left: 10px;
  padding-right: 10px;
}

.articlewrap1 a {
  vertical-align: middle;
  display: table-cell;
  text-align: left;
  white-space: nowrap;
  width: 43%;
}

#main_content .articlewrap1 a i {
  margin-left: 10px;
  margin-right: 10px;
}

.articlewrap1 a.next {
  text-align: right;
}
.articlewrap1 a .text {
  max-width: 195px;
  white-space: normal;
}
.articlewrap1 a:hover .text {
  text-decoration: underline;
  cursor: pointer;
}
.mmenu-nav-traverse-inactive {
  display: table-cell;
  vertical-align: middle;
}

#lightbox2-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
}

#quiz-view-table {
  display: none;
}
#quiz-start-quiz-button-form .form-submit {
  padding: 3px 11px;
}

.rs_flash_player {
  float: right;
  top: 2px;
}

.topic-menu-headers {
  clear: both;
}

#button-left {
  float: right;
  height: 24px;
  background: url("../img/button-left.png") no-repeat;
  width: 5px;
}

#edit-dates {
   font-size: 80%;
   color: #BBB;
   margin-top: -5px;
   margin-bottom: 15px;
}

.block-ndla_tweet {
  position: relative;
}

.twitter-more {
  display: block;
  position: absolute;
  background: url("../img/twitter-more-icon.png") no-repeat;
  width: 25px;
  height: 20px;
  right: -1px;
  margin-top: -75px;
  padding: 55px 0 0 60px;
  font-size: 12px;
  bottom: -1px;
}
.twitter-more:hover {
  background-position: 0px -75px;
  cursor: pointer;
}

.right-tools-button {
  border: 1px solid #cfcfcf;
}
.right-tools-button > a {
  background: url("../img/right_btn.png") repeat-x;
  font-size: 16px;
  color: #1e1e1e;
  padding: 10px;
  display: block;
  height: 20px;
}
.right-tools-button > a > .icon {
  background: url("../img/sprites.png") no-repeat -76px -428px;
  display: inline-block;
  width: 25px;
  height: 25px;
  vertical-align: middle;
  margin-right: 5px;
}
.right-tools-button.open, .right-tools-button:hover {
  border-color: #9b9b9b;
}
.right-tools-button.open > a, .right-tools-button:hover > a {
  background-position: 0 -34px;
}
.right-tools-button > a.js-link:hover {
  text-decoration: underline;
}
#right-wrapper .right-tools-button > ul {
  padding: 0 7px;
  list-style: none;
}
.right-tools-button li {
  margin-bottom: 7px;
}

.max-links-hidden {
  display: none;
}

div.max-links-show-more {
  clear: both;
}

.no-css {
  display: none;
}

a.js-link {
  color: #000000;
}

a.js-link:hover {
  text-decoration: none;
}

#block-engelskordboka_0 h2.top {
  background: url("../img/sprites.png") no-repeat -75px -381px;
  padding-left: 32px;
}
#right-wrapper #block-ndla_deling_oppgave_deling_oppgave_list {
  padding: 6px;
}
#right-wrapper #block-ndla_utils_disp_note {
  padding: 6px 6px 0;
  border-bottom: 0;
}
#block-ndla_utils_disp_note .icon {
  background-position: -76px -402px;
}

.actuality {
  position:absolute;
  top: -5px;
  left:-5px;
  display: block;
  width: 20px;
  height: 20px;
  background: url("../img/sprites.png") no-repeat -5px -648px;
}
.actuality:hover {
  background-position: -27px -648px;
}

.competence_aim a {
  color: #1e1e1e;
}
.competence_aim a:hover {
  text-decoration: none;
}
.competence_aim:hover .curricula_title {
  text-decoration: underline;
}

.form-item {
  margin: 15px 0;
  position: relative;
}
.form-item #autocomplete {
  top: 0;
}
.form-item label {
  padding: 2px 0;
}
.form-text {
  padding: 2px;
}
.form-submit {
  padding: 3px 8px;
}
.form-checkboxes, .form-radios {
  margin: 0;
}
.form-item .description {
  color: #595959;
}
.messages {
  margin-bottom: 5px;
  padding: 5px;
}
.messages ul {
  margin-bottom: 0;
}

/* Force position of autocomplete-field */
#edit-masquerade-user-field-wrapper {
  position: relative;
}
#edit-masquerade-user-field-wrapper #autocomplete {
  margin: -8px 10px 0 0 !important;
  position: absolute;
}

#edit-taxonomy-tags-100032-wrapper .description,
#edit-taxonomy-tags-1-wrapper .description {
  display: none;
}

#navigation #search-theme-form {
  position: relative;
  margin-top: 6px;
}

#navigation #search .form-autocomplete {
  background-color: #fff;
  background-image: url("../../../../../misc/throbber.gif");
  background-position: 98% 7px;
  background-repeat: no-repeat
}

#navigation #search .throbbing {
  background-position: 98% -12px;
}

.book-navigation .page-up {
  width: auto;
  display: inline;
  float: none;
  margin: 0 10px;
}
.book-navigation .page-previous, .book-navigation .page-next {
  width: auto;
}

.node_content caption {
  font-weight:bold;
}

.paragraph .node.clear-block:after,
.paragraph .node.clear-block,
.paragraph .ingress .clear,
.paragraph .node .paragraph {
  clear: none;
}

.small {
  font-size: 87%;
}

#itslearningembed {
  position: fixed;
  bottom: 0;
  left: 50%;
  width: 340px;
  height: 80px;
  margin-left: -170px;
  background: url("../img/its-learning.png") no-repeat;
  z-index: 10;
}
#itslearningembed:hover {
  background-position: 0 -80px;
}

#book-outline {
  min-width: 5em;
  max-wdith: 635px;
}

#contact-mail-page #edit-mail-wrapper input, #contact-mail-page #edit-name-wrapper input {
  width: 400px;
}
#contact-mail-page #edit-subject-wrapper {
  float: left;
  margin-top: 0;
}

#contact-mail-page #edit-message-wrapper {
  width:100%;
  float:left;
  margin-top:0;
}

#contact-mail-page #edit-subject-wrapper input {
  width: 400px;
}
#contact-mail-page #edit-cid-wrapper select {
  width: 207px;
  height: 24px;
}
#contact-mail-page #edit-copy-wrapper {
  margin-top: 5px;
  float: left;
}
#contact-mail-page #edit-submit {
  float: right;
}
#contact-mail-page .resizable-textarea {
  width: 100%;
}

.blue-background {
  background: #20558A;
  color: #fff;
}

.fa-arrow-circle-right {
  color: #20558A;
}

.recommend, .user-recommends {
  overflow: hidden;
}

.user-recommends .first, .user-recommends .last {
  margin: 20px 20px 20px 20px;
}

#block-ndla-feedback-most-liked .first, #block-ndla-feedback-most-liked .last,
#block-ndla-feedback-recent-comments .first, #block-ndla-feedback-recent-comments .last {
  margin: 0;
}

.recommend ul, .recommend ul li {
  font-size: 0.95em;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.recommend ul li {
  margin: 20px 20px 20px 20px;
  clear: both;
}

.recommend .first {
  border-bottom:1px solid rgb(237, 237, 237);
}
p.new-content, .recommend h3 {
  margin: 0 0 10px 85px;

}

.new-content .date {
  display: block;
  margin-top: 5px;
}

li p.date {
  font-size: 0.95em;
  line-height: normal;
  padding-top: 2px;
  color: #707070;
}

.user-recommends {
  font-size: 0.93em;
}

.user-recommends ul {
  list-style-type: none;
}

.utdanning_rdf_fieldset {
  margin-top: 20px;
}

.region-content-low, .region-content-low .block {
  margin-bottom: 20px;
}

.utdanning_rdf_fieldset, .utdanning_rdf_fieldset.collapsed {
  border: none;
  padding: 0;
}

.utdanning_rdf_fieldset .fieldset-wrapper ul {
  margin: 0;
  padding: 0;
}

html.js fieldset.utdanning_rdf_fieldset legend a {
  background: none;
  padding-left: 15px;
  color: #fff;
}

.utdanning_rdf_fieldset i {
  float: right;
  margin: 10px;
}

.utdanning_rdf_fieldset h2 {
  color: #000;
  padding: 0 10px;
  line-height: 35px;
  border-bottom:2px solid #20588F;
}
.utdanning_rdf_fieldset h3 {
  margin-top: 20px;
  padding: 5px 10px;
}
.utdanning_rdf_fieldset li {
  list-style-type: none;
  margin: 0;
  padding: 4px 10px;
  line-height: 24px;
}
.utdanning_rdf_fieldset li img {
  height: 24px;
  width: 24px;
  float:right;
}

.utdanning_rdf_fieldset li.odd {
  background: #f1f1f1;
}

.utdanning_rdf_legend {
  font-size: 18px;
  background: #20588F;
  width: 100%;
  padding: 0;
  margin: 0;
  line-height: 40px;
  color: #fff;
  padding-left: 10px;
}
.utdanning_rdf_legend a {
  color: #fff;
}

.region-content-low {
  }
  .region-content-low .block-utdanning_rdf {
    float: left;
    width: 308px;
    overflow:hidden;
  }
  #block-utdanning_rdf_utdanning_rdf_fieldset {
    float:right;
  }
  .region-content-low .block-utdanning_rdf.layout-full {
    width: 620px;
  }

  #main_1 div.max-links-show-more {
      border-top: 3px solid #20588F;
      clear: both;
  }

 #main_1 .max-links-show-more a.max-links-show-more, #main_1 .max-links-show-more a.max-links-show-less {
      background: none repeat scroll 0 0 #20588F;
      border-radius: 0 0 5px 5px;
      color: #FFFFFF;
      float: right;
      margin: 0;
      padding: 5px 10px;
  }




.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clearfix {
  display: inline-block;
}

html[xmlns] .clearfix {
  display: block;
}

* html .clearfix {
  height: 1%;
}

.node_content > .ndla-h5p-container {
  width: 620px;
}

html.js fieldset.collapsible {
  min-height: 3em;
}

div#admin-menu {
  z-index: 9999;
}

#subjects {
  z-index: 100000;
}

.close-subject-selector {
  float: right;
  display: block;
  background-image: url("/sites/all/themes/ndla2010/img/lightbox-sprites.png");
  background-position: -30px 0;
  height: 26px;
  width: 26px;
  margin-top: 0;
  padding-top: 0;
  text-indent: -10000px;
}

.close-subject-selector:hover {
  cursor: pointer;
}

#footer-top h2#footer-header {
  font-size:16px;
  font-size: 0.9em;
  font-weight: 300;
}
#footer-container.footer-expanded #footer-top {
  background:#EDEDED;
}
div#footer-container.footer-expanded {
  border:1px solid #EDEDED;
}
iframe {
	max-width: 100%;
}

.node_content>iframe, .node_content>div>iframe {
  max-width: 1000px;
}

.facebook-color {
  color: #3B5998;
}
.twitter-color {
  color: #55ACEE;
}
.google-color {
  color: #d34836;
}
.black-color {
  color: #111;
}
.tooltip {
  display: inline-block;
}

.tooltip-data {
  display: none;
}

.tooltip-data a {
  color: #fff;
}

a.grouped-license {
 margin-right: 10px; 
}

#block-ndla_utils_disp_rights h2 {
  font-size: 0.9em;
  font-weight: 300;
  margin-bottom: 5px;
}

#footer-header a {
  color: #111;
}

.footer-collapsed i.fa-chevron-down,
.footer-expanded i.fa-chevron-right {
  display: none;
}
.footer-expanded i.fa-chevron-down {
  display: inline;
}

#topics-tray ul {
  margin-top: 20px;
  /*margin-bottom: 20px;*/
}

#topics-tray li {
  overflow: hidden;
  padding: 7px;
  width: 214px;
  border: 1px solid white;
}

.loaded-node .menu-title {
  font-size: 22px !important;
  clear: both;
  float: left;
  width: 900px;
}

.loaded-node .menu-image {
  width: 100px;
  float: left;
}

.loaded-node .menu-description {
  float: left;
  clear: none;
  padding: 0 5px;
  width: 700px;
}

.menu-title {
  font-size: 16px;
  font-family: "Arial", sans-serif;
  clear: both;
  padding: 4px 0;
}

.menu-description {
  font-size: 13px;
  position: static;
  clear: both;
  font-family: "Arial", sans-serif;
  display: block;
  max-height: 47px;
  overflow: hidden;

  -webkit-transition: max-height 500ms ease-out 500ms;
     -moz-transition: max-height 500ms ease-out 500ms;
      -ms-transition: max-height 500ms ease-out 500ms;
       -o-transition: max-height 500ms ease-out 500ms;
          transition: max-height 500ms ease-out 500ms;
}


/*#topics-tray li.clickable.loaded-node:hover {
  border: none;
  margin: 0;
  padding: 0;
}*/

#topics-tray li.clickable:hover {
  border: 1px solid grey;
  cursor: pointer;
}

/*
#topics-tray li.clickable.aria-level-1:hover {
  padding: 7px;
}
*/

#topics-tray li.clickable:hover .menu-description {
  max-height: 450px;
}


.menu-sublist ul {
  list-style: none;
}

#topics-tray .menu-sublist ul li {
  display: block;
  margin: 0;
}

.menu-sublist ul li .menu-title{
  font-size: 13px;
}

.added {
  background-color: #FFFFFF;
}

li.aria-level-2 {
  display: inline-block;
  vertical-align: top;
  font-size: 0;
  float: none !important;
}

.aria-level-3 {
  min-height: auto;
  border: none;
}


#topics-tray .submenu-ul {
  padding-left: 18px;
  margin: 0;
}

#topics-tray .submenu-ul li.has-children .item {
  display: none;
}

#topics-tray .submenu-ul li.has-children .expand-icon {
  width: 14px;
  height: 14px;
  display: block;
  float: left;
  background: url("../img/left_expand_icon.png") left center no-repeat;
}

#topics-tray .submenu-ul li.has-children .active{
   background-image: url("../img/left_collapse_icon.png") !important;
}

#left-menu {
  border-radius: 0 0 5px 5px;
  -o-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  -ms-border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0 0 5px 5px;
  overflow: hidden;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, .25);
  -o-box-shadow: 2px 2px 4px rgba(0, 0, 0, .25);
  -moz-box-shadow: 2px 2px 4px rgba(0, 0, 0, .25);
  -ms-box-shadow: 2px 2px 4px rgba(0, 0, 0, .25);
  -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, .25);
}

#left-menu-topics-content .menu li > ul,
#left-menu .menu li > ul {
  padding-bottom: 10px;
}

#left-menu-topics-content .filters,
#left-menu .filters, #tray .filters {
  margin-left: 10px;
}

#left-menu-topics-content .filters li,
#left-menu .filters li, #tray .filters li {
  cursor: pointer;
  float: left;
  margin: 10px 0;
  padding: 5px 10px;
  width: auto;
}

#left-menu .filters li.bold,
#tray .filters li.bold {
  background-color: #2666a6;
  color: white;
  font-weight: normal;
  border-radius: 5px 5px 5px 5px;
  width: auto;
}

#left-menu-topics-content .menu > li,
#left-menu .menu > li {
  border-top: 1px solid #d6d6d6;
}

#left-menu-topics-content .menu > li.open,
#left-menu .menu > li.open {
  background-color: #ddd;
}

#left-menu-topics-content .menu .item.children,
#left-menu .menu .item.children {
  cursor: pointer;
  padding: 5px 10px 5px 0;
}

#left-menu-topics-content .menu ul li,
#left-menu .menu ul li {
  padding: 2px 0 0 0;
}

#left-menu-topics-content .menu .item.children > .name,
#left-menu .menu .item.children > .name {
  margin-left: 10px;
}

#left-menu-topics-content .menu ul .item.children.link,
#left-menu .menu ul .item.children.link {
  padding: 0 0 0 20px;
}

#left-menu-topics-content .menu ul .item.children,
#left-menu .menu ul .item.children {
  padding: 2px 10px 2px 20px;
}

#left-menu-topics-content .menu ul ul .item.link > .name > a,
#left-menu .menu ul ul .item.link > .name > a {
  padding: 2px 5px 2px 25px;
}

#left-menu-topics-content ul ul ul .item.children,
#left-menu-topics-content ul ul ul .item.children.link,
#left-menu .menu ul ul ul .item.children, 
#left-menu .menu ul ul ul .item.children.link {
  padding: 0 0 0 50px;
}

#left-menu-topics-content .menu ul ul .item.children,
#left-menu-topics-content .menu ul ul .item.children.link,
#left-menu .menu ul ul .item.children, 
#left-menu .menu ul ul .item.children.link {
  padding: 0 0 0 35px;
}

#left-menu-topics-content menu ul ul ul .item.link>.name>a ,
#left-menu .menu ul ul ul .item.link>.name>a {
  padding: 2px 5px 2px 40px;
}
#left-menu-topics-content ul ul ul ul .item.link > .name > a,
#left-menu .menu ul ul ul ul .item.link > .name > a {
  padding: 2px 5px 2px 65px;
}

#left-menu-topics-content .menu .children:before,
#left-menu .menu .children:before {
  margin: 2px 0 0 0;
  content: "\f105";
  font-family: FontAwesome;
  color: #999999;
  float: left;
}

#left-menu-topics-content .menu li.open > .children:before,
#left-menu .menu li.open > .children:before {
  content: "\f107";
}

#left-menu-topics-content .menu > li > .children:before,
#left-menu .menu > li > .children:before {
  content: "\f054";
  font-family: FontAwesome;
  color: #999999;
  float: right;
}

#left-menu-topics-content > .menu li.open > .children:before,
#left-menu .menu > li.open > .children:before {
  content: "\f078";
}

#left-menu-topics-content .menu .children:hover:before,
#left-menu .menu .children:hover:before {
  color: #000000;
}

#left-menu-topics-content .menu,
#left-menu .menu {
  line-height: 22px;
}

#left-menu-topics-content div.name,
#left-menu div.name {
  padding: 2px;
}

.ndla-apps-block-background div.ndla-apps-controls {
  background-color: #20588F;
  color: white;
  width: 32px;
  height: 64px;
  text-align: center;
  line-height: 64px;
  position: absolute;
  cursor: pointer;
  z-index: 1000;
}

.ndla-apps-block-background div#ndla-apps-next {
  right: 0;
}

.region-right-tools .ndla-apps-controls {
  display: none;
}

.node_content .field-field-embed-code .field-items {
  width: 620px;
}

#footer-right .mediabrowser-rel-node, .ndla_node_export_copyright .mediabrowser-rel-node {
  width: 250px;
  padding-top: 10px;
  margin-right: 20px;
  margin-bottom: 20px;
  display: block;
  float: left;
  vertical-align: top;
}

#twitter-like-content {
  float:left;
  width:80px;
}

.skip {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.skip:focus {
  position: static;
  width: auto;
  height: auto;
}
