#last-blocks h3 {
    color: #595959;
    font-size: 1em;
    font-weight: normal;
    margin: 15px 20px 0;
}
#last-blocks li h4 {
    color: #595959;
    font-size: 1em;
}
#last-blocks .last-blocks-wrapper div.last h4 {
    font-weight: bold;
}
#last-blocks li h4 {
    color: #595959;
    font-size: 1em;
}

.user-recommends li p {
  font-size: 0.95em;
  margin: 0;
}

.user-recommends li p.teaser {
  line-height: 1.4em;
  height: 2.8em;
  overflow: hidden;
}

.user-recommends li p.date {
  line-height: 1.4em;
}

#first-blocks .date, #last-blocks .date {
    color: #707070;
    font-size: 0.75em;
    line-height: 2em;
}

#last-blocks li p.date {
    font-size: 0.95em;
    line-height: normal;
    padding-top: 2px;
}

.feedback-icon {
  float: right;
  margin: 20px;
}

#editorial {
  margin: 0;
  position: relative;
}

#editorial img {
  border: none !important;
}

#editorial .block-tab {
  margin-bottom: 20px;
}

#editorial-image {
  margin-bottom: 20px;
}
#editorial-internal {
  overflow: hidden;
}
#editorial-right {
  /*padding: 0 20px;*/
  font-size: 0.9em;
  width: 240px;
  float: right;
}
#editorial-article {
  padding-right: 20px;
  overflow: hidden;
  width: 607px;
  float: left;
}
#editorial-article p:first-child {
  margin-top: 0;
}
.editorial-news .news-item {
  padding: 0;
  width: 220px;
  float: left;
}

.editorial-news .news-item.last_three {
  width: 440px;
  margin-right: 0;
  margin-top: 18px;
}

.editorial-news h2 {
  margin: 0px 0 5px 0;
}
/*.editorial-news-image-wrapper {
  width: 215px;
  height: 140px;
  overflow: hidden;
}*/

.editorial-news-image-wrapper img {
  /*min-height: 140px;*/
}

.feedback-icon {
  font-size: 12px;
}
.feedback-icon:hover {
  background-position: 0px -75px;
  cursor: pointer;
}


.news-item .blue-background {
  padding: 20px;
  margin-top: -4px;
}

.editorial-news .news-item.item-1 {
  width: 460px;
  float: left;
}

.right-items {
  float: right;
  width: 460px;
}

.news-item.odd {
  margin-right: 20px;
}

.news-item {
  margin-bottom: 20px;
  
}

.news-items .news-item {
  margin-right: 20px;
}

.news-items .news-item.last {
  margin-right: 0;
}

.news-item p {
  margin-bottom: 5px;
}

.news-item p.readmore {
  margin-bottom: 0px;
}

.news-item.small-3, .news-item.small-4 {
  border-top: solid 1px #eee;
  padding-top: 5px;
}

/*.news-item h2 {
  white-space: nowrap;
}*/

.news-item .blue-background a {
  color: #fff;
}

#left-blocks {
  width: 640px;
  float: left;
}

.recommend, .user-recommends {
  margin-bottom: 20px;
}

.user-recommends div.first {
  margin-right: 20px;
  width: 280px;
  float: left;
}

.user-recommends div.last {
  width: 240px;
  float: right;
}

.feeds-layout .user-recommends div.first, .feeds-layout .user-recommends div.last {
  float: none;
  width: 178px;
}

#ndla-apps-block {
  float: left;
  margin: 10px 0 0 0;
  width: 100%;
}

#ndla-apps-block .scroller {
  float:left;
  position: relative;
  
}

.ndla-apps-block-background {
  background-color: #FAFAFA;
  width: 100%;
  float:left;
  position: relative;
  overflow: hidden;
}

#ndla-apps-block ul#app-list {
  float:left;
  margin: 0;
  padding: 0;
  list-style: none;
  white-space: nowrap;
}

#ndla-apps-block li.ndla-app {
  float: left;
  margin: 0 1px 0 0;
  width: 64px;
  height: 64px;
  white-space: nowrap;
}


#ndla-apps-block li.ndla-app div {
  float: left;
  padding: 0;
  margin: 0;
}

#twitter-block {
  float: right;
  width: 240px;
}

#twitter-block ul {
  padding: 0;
}

.feeds-layout #twitter-block {
  width: 220px;
  height: 400px;
  float: left;
}

#facebook-block {
  float: right;
  width: 240px;
}

#facebook-block ul {
  padding: 0;
}

.feeds-layout #facebook-block {
  width: 220px;
  float: left;
  margin-top: 5px;
}

.feeds-layout #left-blocks {
  width: 220px;
  margin-right: 0;
}

.feeds-layout .ndla_feeds_apps_container {
  float: left;
  width: 76%;
  margin: 0;
  padding: 0;
}

.feeds-layout .ndla_feeds_apps_container #ndla-apps-block {
  width: 700px;
}

.feeds-layout #ndla_feeds {
  width: 458px;
  float: left;
  margin-right: 20px;
  border: 1px solid #EDEDED;
  height: 450px;
}

#ndla_feeds h2 {
  text-align: left;
  padding-top: 5px;
}

#block-ndla-feedback-recent-comments ul, #block-ndla-feedback-most-liked ul {
  padding: 0;
  margin: 0;
}

.feeds-layout #block-ndla-feedback-most-liked h4 {
  overflow:hidden; 
  white-space:nowrap; 
  text-overflow:ellipsis; 
  width:175px;
}

#ndla_feeds .content {
  background: #fff;
}

#ndla_feeds .ndla-feeds-item {
  padding: 20px 20px 0 20px;
}

#ndla_feeds ul {
  margin: 0;
  padding: 0;
}

#ndla_feeds .feed-content {
  overflow-y: auto;
}

#ndla_feeds ul li.full, .feed-content.full {
  width: 100%;
}

#ndla_feeds ul li.third {
  width: 33.333333333%;
}
#ndla_feeds ul li.fifty {
  width: 50%;
}

#ndla_feeds ul li h2 a {
  width: auto;
	white-space: normal;
	line-height: 20px;
	font-size: 14px;
}

#ndla_feeds li {
  margin: 0;
}

#ndla_feeds li.tab_title {
  padding: 0;
}

#ndla_feeds ul.tabs li a {
  padding: 5px 10px;
  margin: 0;
  word-break:break-all;
}

#ndla_feeds ul.tabs li.active a {
  background: #fefefe;
}

#ndla_feeds ul.tabs li.active a {
  background: #fefefe;
  color: #000 !important;
  border-radius: 5px 5px 0 0;
}

.ndla-feeds-item h3 {
  margin-bottom: 5px;
}

.feed-description img {
  max-width: 100px;
  float: left;
  margin-right: 10px;
}

.feed-description p {
  margin: 0;
  padding: 0;
}

.feed-date {
  color: #666;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 0.9em;
}

.google_plus {
  float: right;
  width: 240px;
  clear: right;
}

.feeds-layout .google_plus {
  width: 220px;
  clear: none;
}
