
/* A custom css for simplemenu. Original file: original.css. -jhh */

.simplemenu-block #simplemenu {
  background:#3875d7;
  color:#fff;
	/*border-bottom:1px solid #999;*/
	font:11px Verdana, Helvetica, sans-serif;
	width:100%;
	z-index:9999;
	text-align:left;
	position: relative;
}
.simplemenu-block #simplemenu a {
  background:#3875d7;
  color:#fff;
	text-decoration:none;
	padding:3px 6px 3px 6px;
	width:auto;
}   
.simplemenu-block #simplemenu li {
  background:#3875d7;
	text-align: left;
}
.simplemenu-block #simplemenu li.expanded > a {
	background:url(../img/right-green.gif) no-repeat 97%;
	padding-right:2em;
}
.simplemenu-block #simplemenu li.root > a {
	font-weight:700;
	background:url(../img/down-green.gif) no-repeat 97%;
}
.simplemenu-block #simplemenu li:hover, #simplemenu li.sfHover,
.simplemenu-block #simplemenu a:focus, .simplemenu-block #simplemenu a:hover, .simplemenu-block #simplemenu a:active {
	color:#fff;
  background:#3875d7;
  background-image: url(../img/hoverbg.png);
  background-repeat: repeat-y;
  background-position: left left;
}
.simplemenu-block #simplemenu li:hover ul,
.simplemenu-block ul#simplemenu li.sfHover ul {
  border:1px solid #7fa2dc;
}
.simplemenu-block #simplemenu li ul a {
 	height:auto;
}

body.simplemenu-enabled {
  margin: 0;
  margin-top: 0 !important;
}
#simplemenu {
  height: 19px;
}

body.simplemenu-enabled.admin-menu #simplemenu {
  margin-top: 20px;
}