#menu *:focus,
#fag_menu *:focus,
.menuTreeButtonLink:focus,
#subnavigation *:focus,
.subsubjectsclose *:focus { /* remove unwanted focus outlines from links */
	outline: none;
}

/* Lightbox CSS overrides */
#imgDataContainer {
  line-height: 1.1em;
}
#bottomNavClose {
	background-image: url("../img/lightbox-sprites.png");
  background-position: -30px 0;
	background-color: transparent;
	height: 26px;
	width: 27px;
	padding-top: 0;
	margin-top: 0;
}
#bottomNavClose:hover {
  background-position: -30px -26px;
}
#bottomNavZoom, #bottomNavZoomOut{
	background-image: url("../img/lightbox-sprites.png");
  background-position: 0 0;
  background-color: transparent;
	height: 26px;
	width: 27px;
	padding-top: 0;
	position: inherit;
  margin-right: 10px;
}
#bottomNavZoom:hover, #bottomNavZoomOut:hover {
  background-position: 0 -26px;
}
#frameHoverNav {
  width: 0;
}

#lightbox {
  text-align: left;
}

#lightbox .content, #lightbox h1 {
	text-align: left;
}

#lightbox h1 {
	font-weight: bold;
	/*font-family: Arial,Georgia,"Times New Roman",Times,serif;*/
	color: #000;
	padding-top: 10px;
	margin-bottom: 20px;
}

#imageData {
  overflow: hidden;
  padding-bottom: 10px;
}

#imageData #imageDetails {
  width: auto;
  float: none;
}

#caption p {
  font: 10px Verdana, Helvetica, sans-serif;
  margin: 0 0 5px 0;
}

#imageData #bottomNav {
  overflow: hidden;
  height: auto;
  float: right;
  margin-left: 20px;
}

#imageDataContainer {
  background-color: #E9E9E9;
}

#linkGoToNode {
	font-size: 1.0em;
	/*font-family: Arial,Georgia,"Times New Roman",Times,serif;*/
	float: left;
}

.lightbox2-alt-layout #imageData #bottomNav,
.lightbox2-alt-layout-data #bottomNav {
  margin-bottom: 0;
}

.lightbox2-alt-layout-data #bottomNavClose,
.lightbox2-alt-layout #bottomNavClose {
  margin: 10px 0 5px;
}
/* End Lightbox CSS overrides */

#dropdown a {
	white-space: nowrap;
}

p { margin-bottom: 20px; }

.block ul, .node ul, .node ol {
	padding: 0 0 0.25em 1em;
}
.node ol {
	margin-left: 0.8em;
}
.node ul {
	margin-left: 0.4em;
}

.node ul, .node ol {
  margin-bottom: 20px;
  padding-bottom: 0px;
  overflow: hidden;
  padding-left: 2em;
  margin-left: 0;
}

.node li ul, .node li ol {
  margin-bottom: 0px;
}

ul.tabs {
	white-space: normal;
}

ul.tabs li a {
	white-space: nowrap;
}

.subShadow {
	background:url(../img/navShadow.gif) top left repeat-x;
	font-size:1px;
	height:6px;
}

#ndla_overlay {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

.UMB_float_none.imageframe {
  width:auto;
  padding-left: 2px;
  padding-right:2px;
}

.UMB_float_left.imageframe {
	margin-right:5px;
}

.UMB_float_right.imageframe {
	margin-left:5px;
}

img.UMB_border {
	border: #afadad solid 1px;
}

#search-theme-form p {
	margin: 0;
}


/* --- ICONS --- */

.frame .wrapicon {
	padding-top: 1px;
	min-height: 50px;
}

.frame .wrapicon .spacer {
	width: 40px;
	height: 40px;
	float: left;
}

.frame .wrapicon h2:first-child,
.frame .wrapicon h3:first-child,
.frame .wrapicon h4:first-child,
.frame .wrapicon h5:first-child,
.frame .wrapicon h6:first-child {
   	/*padding-left: 40px;*/
	padding-top: 5px;
	height: 30px;
}

.frame .wrapicon p:first-child,
.frame .wrapicon ul:first-child,
.frame .wrapicon ol:first-child {
	margin-top: 40px;
}

.frame .wrapicon.no_icon p:first-child,
.frame .wrapicon.no_icon ul:first-child,
.frame .wrapicon.no_icon ol:first-child {
	margin-top: 0px;
}

.frame .wrapicon.no_icon h2:first-child {
	padding-left: 0px;
}

.frame .wrapicon.no_icon .spacer {
	display: none;
}

.frame .icon {
	padding-top: 40px;
}

.frame .wrapicon.no_icon {
	min-height: 0;
}

.frame .icon.no_icon {
	padding-top: 0;
}


/* --- end ICONS --- */


#top .banner {
	background-repeat: no-repeat;
	height: 6.3em;
}


#shareTip .tipForm p {
	margin: 0;
}

.share-input {
  width: 250px;
}

#navContent a.selected {
	color: #333333;
}

/*#navContent #mmenu-tree-ul {
	float: left;
}

#mmenu-tree-ul li {
	clear: both;
}*/

/* --- Mediabrowser objects --- */
.UMB_image, .UMB_flashnode, .UMB_video, .UMB_audio, .UMB_amendor_electure {
	padding: 5px;
}

.frame .UMB_image, .frame .UMB_flashnode, .frame .UMB_video, .frame .UMB_audio, .frame .UMB_amendor_electure {
	padding-left: 0;
	padding-right: 0;
}

/* --- End Mediabrowser objects --- */



/**************************************************************************
 * Based on original Garland theme to finnish up unthemed Drupal elements.*
 **************************************************************************/

/**
 * Generic elements.
 */

.messages {
  background-color: #fff;
  border: 1px solid #b8d3e5;
}

div.status {
  color: #33a333;
  border-color: #c7f2c8;
}

.messages ul, .messages li {
    padding: 1px;
}

div.error, tr.error {
  color: #a30000;
  background-color: #FFCCCC;
}

.messages ul {
	margin-left: 20px;
}


/**
 * Status report colors.
 */

table.system-status-report tr.error, table.system-status-report tr.error th {
  background-color: #fcc;
  border-color: #ebb;
  color: #200;
}

.creativecommons {
	margin-top: 10px;
}

.relatedCover p {
	margin-bottom: 0;
}

ul.mmenu {
	margin-left: 1em;
}

.mmenu-content {
  margin-left: -1em;
}

ul.mmenu li {
	list-style-type: none;
	list-style-image: none;
	margin: 0;
}

.menuTreeButton {
	width: 9px;
	height: 9px;
}

.menuTreeButtonLink {
	padding-right: 6px;
	background-repeat: no-repeat;
	background-position: center left;
}

.menuTreeButtonLink.collapsed_link {
	background-image: url(../img/expand.gif);
}

.menuTreeButtonLink.expanded_link {
	background-image: url(../img/collapse.gif);
}

ul.mmenu li.leaf {
	padding-left: 15px;
}

#comments {
	line-height:1.25;
	margin-top:20px;
	line-height: 1.25;
}

.right .UMB_image, 
.right .UMB_flashnode, 
.right .UMB_video, 
.right .UMB_audio, 
.right .UMB_amendor_electure,
.right h2,
.right h3,
.right h4
.right h5,
.right h6 {
	margin-left: 15px;
	padding: 10px;
}

.right .frame .UMB_image, 
.right .frame .UMB_flashnode, 
.right .frame .UMB_video, 
.right .frame .UMB_audio, 
.right .frame .UMB_amendor_electure,
.right .frame h2,
.right .frame h3,
.right .frame h4
.right .frame h5,
.right .frame h6 {
	margin-left: 0;
	padding: 5px 0 5px 0; 
}

.field-label {
	margin-bottom:10px;
	margin-top:20px;
}

.UMB_float_left {
	float: left;
}

.UMB_float_right {
	float: right;
}

.UMB_float_none {
	float: none;
	padding-left: 0;
	padding-right: 0;
}

ul.navContentTabs {
	list-style-type: none;
  padding: 0;
}

ul.navContentTabs li:first-child {
	border-left: none;
}

ul.navContentTabs li {
	float: left;
	padding: 0 10px;
	border-left: #afadad solid 1px;
}

.multichoice-question .form-radios,
.multichoice-question .form-checkboxes {
  clear: both;
}
