body #container {
  min-width: 940px;
}
.center-layout {
  width: 940px;
}

p.slogan {
  float: left;
  margin-top: 64px;
  font-style: normal;
  font-size: 15px;
  line-height: 1.2em;
  font-family: 'Open Sans',Arial,sans-serif;;
  position: relative;
  width: 220px;
  top: 3px;

}

#content { 
  width: 100%; 
  float: right; 
  margin-top: 15px; 
}


#subjects {
  width: 100%;
}

#subjects .column {
  float: left;
  width: 33%;
  margin-bottom: 20px;
}

#subjects h2 {
  margin-bottom: 20px;
  background: #20588F;
  color: #fff;
}

#subjects ul {
  list-style: none;
}
#subjects ul li {
  padding: 3px 0;
  margin-bottom: 5px;
}

#subjects ul li a {
  color: #111111;
  white-space: nowrap;
  font-size: 13px;
}
#subjects ul li a:hover {
  color: #20588F;
}

#applications {
  float: left;
  list-style: none;
  margin: 0 0 0 -15px;
  padding-left: 15px;
  width: 397px;
}
#applications li {
  float: left;
  position: relative;
  margin: 0 2px;
}

.text_container {
  background: #EAEAEA;
  margin-top: -4px;
  padding: 10px 10px 10px 10px;
  height: 110px;
}

.slideshow-feeds {
  height: 390px;
}

.slideshow-feeds a {
  color: #111111;
}

.slideshow-feeds .front-slideshow-nav {
  position: absolute;
  z-index: 300;
  top: 240px;
  left: 0;
  width: 100%;
  text-align: center;
}

.slideshow-feeds .front-slideshow-nav a {
  background: #EAEAEA;
  background: rgba(0, 0, 0, .5);
  margin-right: 5px;
  height: 15px;
  width: 15px;
  border-radius: 10px;
  display: inline-block;
  text-indent: -9999px;
  *float: left;
}

.slideshow-feeds .actuality {
  background: none;
  right: 0;
  left: auto;
  width: auto;
  top: 0;
  color: #fff;
  background: black;
  background: rgba(0,0,0,.5);
  padding: 0 20px;
  line-height: 30px;
  font-size: 12px;
  display: block;
  height: auto;
}

.slideshow-feeds .front-slideshow-nav a.activeSlide {
  background: #20588F;
}


.slideshow-feeds #nav {
  position: absolute;
  z-index: 300;
}

.feedback-icon {
  font-size: 12px;
  float: right;
  margin: 20px;
}

#feeds-outer {
  float: right;
}

#feeds {
  font-size: 0.93em;
}

#feeds .recommend {
  width: 470px;
  float: left;
}

#feeds .date {
  font-size: 0.75em;
  color: #9c9c9c;
  line-height: 2em;
}

#feeds div.content {
  border-bottom: 1px #e4e4e4 solid;
}
#feeds div.content, #feeds .feed-bottom-right {
  margin-right: 327px;
}
#feeds .content ul {
  font-size: 0.93em;
  list-style: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
}
#feeds .content li {
  position: relative;
  overflow: hidden;
  width: 592px;
  padding: 15px 20px;
  background: url("../img/horizontal-backgrounds.png") no-repeat -4128px 0px;
}
#feeds .content li.first {
  background: none;
}
#feeds .content img {
  float: left;
}
#feeds .content h3 {
  font-size: 1em;
  font-weight: bold;
  margin: 0 54px 0 90px;
}
#feeds .content p {
  margin: .2em 54px 0 90px;
  height: 49px;
  overflow: hidden;
  width: 448px;
}
#feeds .content .date {
  margin-left: 15px;
}
#feeds .frame {
  position: relative;
  z-index: 1;
  overflow: hidden;
  font-size: .92em;
  padding: 0 0 15px 20px;
  width: 574px;
  background: transparent;
  font-weight: normal;
  border: 0;
  clear: none;
  margin: 0;
}
#feeds .frame div {
  float: left;
}
#feeds .frame-center {
  width: 1px;
  height: 134px;
  margin: 0 20px;
  background: url("../img/vertical-backgrounds.png") no-repeat 0px -406px;
}
#feeds .feed-bottom-right h2 {
  padding-top: 18px;
}
#feeds .frame h3 {
  font-size: 1em;
  font-weight: normal;
  color: #595959;
  margin: 15px 0 10px;
}
#feeds .frame-left, #feeds .frame-right {
  width: 266px;
}
#feeds .frame-left h4 {
  font-weight: normal; 
}
#feeds .frame ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#feeds .frame li {
  color: #808080;
  padding: 2px 0;
  width: 258px;
}
#feeds .frame h4 {
  font-size: 1em;
  margin:0;
}
#feeds .frame p {
  margin: 0;
}
#feeds .frame-right .teaser {
  overflow: hidden;
  max-height: 34px;
  color: #000;
}
#feeds .frame-right .date {
  font-size: .95em;
  padding-top: 2px;
  line-height: normal;
}

#footer {
  clear: both;
  background: #eff0f2;
  color: #000;
  font-size: 0.86em;
  overflow: hidden;
  height: 200px;
  margin-top: -1px;
}

#footer p {
  margin-bottom: 10px;
}

#footer a {
  color: #111111;
}
#footer div.small-blocks {
  float: left;
  width: 300px;
  padding: 20px 0;
  margin-right: 20px;
  line-height: 20px;
  font-family: 'Open Sans',Arial,sans-serif;
}
#footer div.small-blocks .links {
  padding: 5px 0 15px 0;
}
#footer ul {
  margin: 5px 0 0 18px;
  padding: 0;
  list-style: none;
  font-size: 1.1em;
}
#footer li {
  padding: 2px 0;
}

#footer div.wiki {
  color: #000;
  font-style: italic;
  margin-right: 0;
}
#footer .source {
  font-size: 10px;
  font-style: normal;
}

#footer .help_link {
  padding: 0;
  margin: 0;
}
#footer .help_link li {
  display: inline;
  padding: 0;
}
#footer .help_link li:before {
  content: " | ";
}
#footer .help_link li.first:before {
  content: "";
}
.twitter-more {
  display: block;
  position: absolute;
  background: url("../img/twitter-more-icon.png") no-repeat;
  width: 25px;
  height: 20px;
  right: 0;
  margin-top: -75px;
  padding: 55px 0 0 60px;
  font-size: 12px;
  bottom: 0;
}
.twitter-more:hover {
  background-position: 0px -75px;
  cursor: pointer;
}
#twitter-widget-0 {
  margin-top: -10px;
}

div.recommend div.top ul li {
  margin:15px;
}

.fa-facebook {
  color: #fff;
}

.fa-twitter.frontpage {
  color: #fff;
}

ul.social {
  margin: 0;
  padding: 0;
  float: right;
}
ul.social li {
  display: inline;
}