body {
  font-family: 'Georgia';
  font-size: 100%;
}
.print-site_name {
  font-size: small;
  color: #666;
}

.print-breadcrumb {
  display: none;	
}

.print-title {
  margin: 20px 0px 20px 0px;	
}

.print-content h2 {
  clear: left;
}

.field-field-content-type div {
  display: inline;
}

.group-ingressboks {
  margin: 15px 0px 30px 0px;	
}

.right {
  overflow:visible;
}

.frame {
  max-width: 460px;
  background: none;
}

.imageframe {
  background: none;
}

#main_content .nodetype {
  background: none;
  color: #333333;
}
.group-opphavsrett {
  clear: both;	
}

.print-taxonomy {
  display: none;
}

.field-field-content-type .field-label, .print-footer {
  display:none;
}

.field-field-content-type {
  text-align: right;
}

.field-field-content-type .field-item.odd {
  display: none;
}

#main_content{
  min-width: 630px;
  float: left;
}

.group-ingressboks {
  border: 0;
  margin: 0;
  padding: 0;
}

.group-ingressboks legend {
  display: none;
}

.group-ingressboks .field-field-ingressvispaasiden, 
.group-ingressboks .field-field-ingress-bilde, 
.group-ingressboks .field-label {
  display: none;
}

.field-field-ingress {
  display: none;
}

.ingress {
  width: 630px;
}

.group-ingressboks {
  font-style: italic;
  margin-bottom: 30px;
}

.print-footnote {
  display: none;
}

html.js fieldset.collapsed * {
  display:block;
}

html.js fieldset.collapsible div.fieldset-wrapper {
  display: block;
}

html.js fieldset.collapsed {
  height: auto;
  border: 1px solid #666;
}

.imageframe * {
  max-width: 170px;	
}