li ul, li ol {
  margin-bottom: 0px;
}

ul > *, ol > * {
  margin-bottom: 0px;
}

.node_content {
  width: 410px;
  line-height: 1.5;
  word-wrap: break-word;
}

.full .node_content {
  width: 620px;
}

.right {
  width: 190px;
  margin-right: -215px;
  float: right;
  clear: right;
  position: relative;
  word-wrap: break-word; }

.frame {
  background: #e5e5e5 url(../img/frame_bg.jpg) repeat-x;
  border: 1px solid #ccc;
  font-weight: 400;
  clear: left;
  padding: 10px;
  margin: 0 0 10px 0px; }
  .frame p {
    margin: 0px; }
  .frame p, .frame a, .frame li {
    font-weight: 400; }
  .frame .frame {
    background: none;
    border: none;
    padding: 0;
    margin: 0; }
  .frame img.UMB_border {
    border: #afadad solid 1px; }
  .frame .UMB_float_none.imageframe {
    width: auto;
    padding: 0 10px; }
  .frame .UMB_float_left.imageframe {
    margin-right: 15px; }
  .frame .UMB_float_right.imageframe {
    margin-left: 15px; }

.full {
  clear: both;
  width: 620px;
  position: relative;
}

.ingress .right {
  margin-right: 0px;
  margin-left: 1px;
}

.quote {
  /*font-family: Georgia, "Times New Roman", Times, serif;*/
  font-family: Arial, sans-serif;
  font-size: 110%;
  color: #336669;
  font-style: italic;
  font-weight: bold;
  margin: 15px 0px;  
}
.quote span.source {
  font-size: 0.9em;
}
.quote p {
  margin: 0px;
  padding: 0px;	
}

.imageframe {
  border: 1px solid #CCC;
  background-image: url('../img/frame_bg.jpg');
  background-repeat: repeat-x;
  background-color: #e5e5e5;
  padding: 10px;
  margin: 5px 5px 8px 0px;
}
 
.frame .wrapicon {
  padding: 4px;
  min-height: 50px; }
  .frame .wrapicon .spacer {
    width: 40px;
    height: 40px;
    float: left; }
  .frame .wrapicon h2:first-child, .frame .wrapicon h3:first-child, .frame .wrapicon h4:first-child, .frame .wrapicon h5:first-child, .frame .wrapicon h6:first-child {
    padding-top: 5px;
    height: 30px; }
  .frame .wrapicon p:first-child, .frame .wrapicon ul:first-child, .frame .wrapicon ol:first-child {
    margin-top: 40px; }
  .frame .wrapicon.no_icon {
    min-height: 0; }
    .frame .wrapicon.no_icon p:first-child, .frame .wrapicon.no_icon ul:first-child, .frame .wrapicon.no_icon ol:first-child {
      margin-top: 0px; }
    .frame .wrapicon.no_icon h2:first-child {
      padding-left: 0px; }
    .frame .wrapicon.no_icon .spacer {
      display: none; }
.frame .icon {
  padding-top: 40px; }
  .frame .icon.no_icon {
    padding-top: 0; }

/* --- Mediabrowser objects --- */
.UMB_image, .UMB_flashnode, .UMB_video, .UMB_audio, .UMB_amendor_electure {
  padding: 10px;
}

.frame .UMB_image, .frame .UMB_flashnode, .frame .UMB_video, .frame .UMB_audio, .frame .UMB_amendor_electure {
  padding-left: 0;
  padding-right: 0;
}

/* --- End Mediabrowser objects --- */

.right .UMB_image, 
.right .UMB_flashnode, 
.right .UMB_video, 
.right .UMB_audio, 
.right .UMB_amendor_electure,
.right h2,
.right h3,
.right h4
.right h5,
.right h6 {
  margin-left: 15px;
}

.right .frame .UMB_image, 
.right .frame .UMB_flashnode, 
.right .frame .UMB_video, 
.right .frame .UMB_audio, 
.right .frame .UMB_amendor_electure,
.right .frame h2,
.right .frame h3,
.right .frame h4
.right .frame h5,
.right .frame h6 {
  margin-left: 0;
}

.UMB_float_left {
  float: left;
}

.UMB_float_right {
  float: right;
}

.UMB_float_none {
  float: none;
  padding-left: 0;
  padding-right: 0;
}

/* CSS-klasser för Tiny-pluginen NDLA Table */
div.ndla_table {
  overflow: auto;
}

.ndla_table_cell {
  float: left;
}

.ndla_table_narrow {
  width: 402px;
}

.ndla_table_narrow .ndla_table_two_cols .ndla_table_cell {
  width: 200px;
}

.ndla_table_narrow .ndla_table_three_cols .ndla_table_cell {
  width: 133px;
}

.ndla_table_narrow .ndla_table_four_cols .ndla_table_cell {
  width: 99px;
}

.ndla_table_narrow .ndla_table_five_cols .ndla_table_cell {
  width: 79px;
}

.ndla_table_wide {
  width: 582px;
}

.ndla_table_wide .ndla_table_two_cols .ndla_table_cell {
  width: 290px;
}

.ndla_table_wide .ndla_table_three_cols .ndla_table_cell {
  width: 193px;
}

.ndla_table_wide .ndla_table_four_cols .ndla_table_cell {
  width: 144px;
}

.ndla_table_wide .ndla_table_five_cols .ndla_table_cell {
  width: 115px;
}

.ndla_table .ndla_table_row {
  clear: both;
  overflow: hidden;
}

.ndla_table_border {
  border-left: 1px solid #000;
  border-bottom: 1px solid #000;
}

.ndla_table_border .ndla_table_cell {
  border-right: 1px solid #000;
  border-top: 1px solid #000;
}

.ndla_table_cell {
  padding-bottom: 1500px;
  margin-bottom: -1500px;
}

.ndla_table_cell_content {
  padding: 5px;
}

.ndla_table_cell_content p {
  padding: 0;
  margin: 0;
}
