caption {
  font-weight: bold;
}

body {
  width: 420px;	
  /*font-family: 'Helvetica Neue',Arial,'Liberation Sans',FreeSans,sans-serif;*/
  font-family: Arial, sans-serif;
  font-size: 0.875em;
  line-height: 1.5;
}

div.ndla_table_cell_content {
  /* padding: 5px; */
  border: dotted 1px #000; /* Provide som help for the author by showing a dotted border in the editor */
}

/* Contentbrowser */
.contentbrowser img.double_border {
  border: double 4px black;
  margin-right: 10px;
}

.contentbrowser img.single_border {
  border: solid 1px black;
  margin-right: 10px;
}

.contentbrowser img.margin_right {
  margin-right: 10px;
}

.frame .contentbrowser img.margin_right {
  margin-right: 0;
}

.contentbrowser img.border_bottom {
  border-bottom: double 3px black;
  margin-right: 10px;
}

.contentbrowser .contentbrowser_caption {
  display: block;
  font-size: 0.8em;
}

.right .contentbrowser img.single_border, .right .contentbrowser img.double_border, .right .contentbrowser img.border_bottom {
  margin-right: inherit;
}

.contentbrowser_float_right {
  margin-left: 10px;
  margin-right: 0px;
  float: right;
}

.contentbrowser_float_left {
  float: left;
}

.contentbrowser img {
  margin-top: 5px;
}
.contentbrowser img {
    margin-right: 1em;
}

h2 {
  margin-top: 0;
}

[lang] {
	background: #eee;
}

[lang=en] {
	background: #ffcccc;
}

[lang=nn] {
	background: #ffffcc;
}

[lang=zh-HANS] {
	background: #ccffff;
}

[lang=zh-HANT] {
	background: #ccffcc;
}