.region-left {
  float: left;
  width: 310px;
}
.block-ndla_apachesolrmsf,
#block-ndla_solr_ndla_solr_external_search {
  background: #f2f2f2;
  border-left: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
}
.block-ndla_apachesolrmsf.first-facet {
  border-top: 1px solid #e6e6e6;
}
.block-ndla_apachesolrmsf.last {
  border-bottom: 1px solid #e6e6e6;
}
.block-ndla_apachesolrmsf .inner-wrapper {
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
}
.block-ndla_apachesolrmsf.first-facet .inner-wrapper {
  border-top: 0;
}
.block-ndla_apachesolrmsf .inner-inner-wrapper {
  padding: 15px 20px;
  border-bottom: 1px solid #e6e6e6;
}
.block-ndla_apachesolrmsf.last .inner-inner-wrapper {
  border-bottom: 2px solid #fff;
}
.block-ndla_apachesolrmsf h2,
#block-ndla_solr_ndla_solr_external_search h2 {
  font-size: 14px;
  color: #393939;
}
.block-ndla_apachesolrmsf ul {
  list-style: none;
  padding: 0;
  font-size: 13px;
  margin: 15px 0;
}
.block-ndla_apachesolrmsf ul ul {
  margin: 12px 0 12px 20px;
}
.block-ndla_apachesolrmsf .hits {
  font-size: 13px;
  color: #4d4d4d;
}
.block-ndla_apachesolrmsf li {
  margin: 12px 0;
}
.block-ndla_apachesolrmsf .field-wrap {
  margin-left: 28px;
}
.block-ndla_apachesolrmsf .remove-field-wrap {
  margin-left: 22px;
}
.block-ndla_apachesolrmsf li input {
  float: left;
}
.block-ndla_apachesolrmsf .facet-submit {
  font-size: 13px;
  color: #4d4d4d;
  padding: 2px 5px;
}
.block-ndla_apachesolrmsf .remove-field {
  width: 12px;
  height: 12px;
  background: url(../img/remove-field.png);
  float: left;
  margin-top: 2px;
}
.block-ndla_apachesolrmsf .remove-field:hover {
  background-position: 0 -12px; 
}
.block-ndla_apachesolrmsf.current-search {
  margin-bottom: 15px;
  border: 1px solid #e6e6e6;
}
.block-ndla_apachesolrmsf.current-search .inner-wrapper {
  border-top: 0;
  border-bottom: 2px solid #fff;
}
.block-ndla_apachesolrmsf.current-search .inner-inner-wrapper {
  border-bottom: 0;
}
#search-page-content {
  margin-left: 335px;
}
#search-form {
  position: relative;
  margin-bottom: 12px;
}
#search-form .form-item {
  margin: 0;
  display: table;
  width: 100%;
}
#search-form .container-inline {
  display: table-row;
}
#search-form .container-inline .form-item {
  vertical-align: middle;
  display: table-cell;
  padding-right: 24px;
}
#search-form input {
  padding: 4px;
  font-size: 15px;
}
#search-form input.form-text {
  border: 2px solid #727272;
  border-right: 1px solid #c7c7c7;
  border-bottom: 1px solid #c7c7c7;
  background-position: 99% 7px;
  width: 100%;
}

/*#search-form input:focus.form-text {
  outline: none;
  box-shadow: 0 0 6px #ABC4E8;
  border-color: #ABC4E8;
}*/
#search-form input.form-text.throbbing {
  background-position: 99% -12px;
}
#search-form input.form-submit {
  padding: 4px 10px;
  display: table-cell;
  vertical-align: middle;
  color: #4d4d4d;
  padding-top: 5px;
  margin: 0;
}
#search-form input[type='submit']::-moz-focus-inner {
  border: 0;
  padding: 0; 
  margin: 0;
}
#sort-by {
  text-align: right;
  margin: 0 0 12px;
  color: #505050;
  font-size: 13px;
}
#sort-by select {
  color: #393939;
}
hr {
  border: 0;
  border-bottom: 1px solid #e1e1e1;
}
#main_content h1 {
  margin: 12px 0 4px;
  font-size: 22px;
  color: #000;
}
.hits {
  font-size: 12px;
  color: #505050;
}
ol {
  list-style: none;
  padding: 0;
  margin: 20px 0 30px;
}
ol li {
  margin-bottom: 20px;
}
ol li h2 {
  font-size: 15px;
  color: #20588F;
  margin: 0 0 3px 0;
}
ol li h2 .type {
  font-size: 13px;
  color: #4d4d4d;
}
.item-list .pager {
  text-align: left;
}
.pager li a {
  color: #20588F;
}
.messages {
  margin-bottom: 12px;
}
.search-results img {
  float: left;
  padding-right: 5px;
}
.search-results p {
  overflow: hidden;
}

#block-ndla_solr_ndla_solr_external_search {
  padding: 20px;
  margin-top: 20px;
}

#block-ndla_solr_ndla_solr_external_search ul {
  padding-top: 5px;
}

#block-ndla_solr_ndla_solr_external_search ul li {
  margin: 12px;
}