/*
  $Id$
  these CSS classes wrap around the audio.css classes
*/
.audio-attach-body {
  margin-top: 1em;
  }

.audio-attach-teaser {
  border:solid #dcdcdc 1px;
  width:200px;
  padding:5px;
  margin-top: 1em;
  }

.audio-attach-preview {
  margin-top: 1em;
  }

ol.audio-attach-list li {
  list-style-type: decimal-leading-zero;
}

#audio-attach-items-table {
  width:100%;
}
