.ndla_utils_share p {
  text-align: left;
  margin: 0px 0px 0px 0px;
  font-weight: bold;
}

.ndla_utils_share .embed-code {
  text-align: left;
}

.ndla_utils_share .embed-code textarea {
  width: 100%;
  height: 250px;
}

.ndla_utils_share span {
  padding-left: 20px;
}

.embed-code label, .embed-code textarea, .embed-code a {
  display: block;
  margin: 0 0 5px;
}

#block-ndla_menu_0 {
  display: none;
}

.views_slideshow_singleframe_pager div {
  padding-right: 10px;
  padding-left: 0; 
}

.views-slideshow-controls-top {
  width: 632px; 
}