.ndla_utils_red_search_table td div.thumbnail {
  display: none;
  position: absolute;
  padding: 10px;
  background-color: white;
  border: 1px solid black;
  margin-top: 10px;
  box-shadow: 3px 3px 10px #888;
  -moz-box-shadow: 3px 3px 10px #888;
  -webkit-box-shadow: 3px 3px 10px #888;
}