.play-pause {
  float: right;
  position: relative;
  right: 5px;
  top: -120px;
  z-index: 100000;
}
.play-pause .play {
  display: none;
}

ul.footnotes li {
  margin-left: 0;
}

.node ul.footnotes {
  padding-left: 1em;
}

#cookie-warning {
  position:fixed;
  bottom:0px;
  width:100%;
  background:black;
  color:white;
  opacity:0.8;
  filter:alpha(opacity=80);
  padding:20px;
  text-align:center;
  vertical-align: middle;
  z-index: 2000;
}
  #cookie-warning img {
    position: relative;
    display: inline-block;
    float: right;
    vertical-align: middle;
    right: 30px;
    height: 30px;
    width: 30px;
  }
  #cookie-warning div {
    padding:0 60px 0 60px;
  }
  #cookie-warning .content {
    width: 660px;
    margin: 0 auto;
  }

#edit-language-wrapper label::after {
  content: '*';
  color:red;
}

.search-row {
  width: 100%;
  clear: both;
  border-bottom: solid 1px #eee;
  margin-bottom: 5px;
  line-height: 2em;
}
.search-row .node-nid {
  float: left;
  width: 120px;
}
.search-row .node-title {
  float: left;
  width: 350px;
}
.search-row .node-type {
  float: left;
  width: 100px;
}

#block-ndla_utils_ndla_utils_kilde_pdf .right div.jp-audio, #block-ndla_utils_ndla_utils_kilde_pdf .ndla_audio_small div.jp-audio {
  width: auto !important;
  margin-left: -15px;
}
#block-ndla_utils_ndla_utils_kilde_pdf div.jp-interface {
  height: 20px;
}
#block-ndla_utils_ndla_utils_kilde_pdf .content img {
  max-width: 100%;
}