.ndla-annotate {
  border: 1px solid #E4E4E4;
  background-color: #F2F2F2;
  margin-bottom: 10px;
  padding: 10px;
}

.ndla-annotate .text {
  display: block;
  margin-bottom: 10px; 
}

.ndla-annotate .date {
  font-size: 10px;
  color: #9C9C9C;
  float: right;
}

.ndla-annotate i {
  padding-right: 5px; 
}

.ndla-annotate a:hover {
  text-decoration: none;
  color: black;
}