#taskpage-buttons .button {
  border: 1px #ccc solid;
  padding: 0.3em 1em;
  margin-top: 1em;
  background-color: #fafafa;
  display: inline-block;
  cursor: pointer;
}

#taskpage-buttons #btn_load {
  margin-left: 1em;
}

#taskpage-buttons .hover {
  background-color: white;
}

#taskpage-message {
  background-color: #dfd;
  border: 1px solid #393;
  margin-top: 1em;
  padding: 0.3em;
}

.my-h5p div {
  color: #626262;
  margin: 0 0 5px;
  padding: 2px 2px 2px 20px;
  background: url("../images/check.png") no-repeat 0 0;
}
