.notes li {
  cursor: pointer;
  margin: 0 0 2px 0;
  padding: 2px 2px 2px 20px;
  background: url(../images/notes.png) no-repeat 0 0;
  color: #626262;
}

.notes li:hover {
  color: #898989;
}

#notes_form {
  display: none;
}

#notes_form textarea {
  width: 197px;
  height: 120px;
  margin-bottom: 10px;
}

#notes_form input {
  margin-bottom: 15px; 
}

.ndla_note {
  background-color: #F2F2F2;
  border: 1px solid #E4E4E4;
  padding: 10px;
  margin: 15px 15px 5px 15px;
}

.ndla_note .note-actions {
  display: block;
  text-align: right;
  font-size: 10px;
  margin-top: 10px;
}

.ndla_note .note-actions a {
  margin-left: 10px;
}

.ndla_note .note-actions a.note-save,
.ndla_note .note-actions a.note-cancel {
  display: none;
}

.ndla_note textarea {
  display: none;
  width: 100%;
  height: 120px;
  margin-bottom: 10px;
}
