.my-learning-status > ul > li {
  cursor: pointer;
  margin: 0 0 2px 0;
  padding: 2px 2px 2px 20px;
  background: url(../images/status.png) no-repeat  0 0;
  color: #626262;
}
.my-learning-status li:hover {
  color: #898989;
}
#learning_form ul {
  margin-left: 15px;
  margin-bottom: 5px; 
}
#learning_form li {
  cursor: pointer;
  margin: 0 0 2px 0;
  padding: 2px 2px 2px 20px;
  background: url(../images/traffic-light-icons.png) no-repeat 0 3px;
}
#learning_form li.yellow {
  background-position: 0 -17px;
}
#learning_form li.red {
  background-position: 0 -37px;
}
#learning_form li.green.not-selected, #learning_form li.yellow.not-selected, #learning_form li.red.not-selected {
  background-position: 0 -57px;
  color: #626262;
}
#learning_form li.not-selected:hover {
  color: #898989;
}
#learning_form li.selected {
  font-weight: bold;
}



#node-actions .learningcurve .icon {
  background: url(../images/traffic-light-icons.png) no-repeat 0 3px;
  padding-bottom: 1px;
  background-position: 0 -57px;
}

#node-actions .learningcurve .icon.yellow {
  background-position: 0 -17px;
}

#node-actions .learningcurve .icon.red {
  background-position: 0 -37px;
}

#node-actions .learningcurve .icon.green {
  background-position: 0 3px;
}

#learning-title {
  background-image:url('../images/status-background.png');
  background-repeat:no-repeat;
  background-position:0px 0px;
}

#learning-title.green {
  background-position:0px -40px;
}

#learning-title.yellow {
  background-position:0px -80px;
}

#learning-title.red {
  background-position:0px -120px;
}